<nz-modal [(nzVisible)]="selectVisible" nzClassName="unitPic" nzTitle="選擇報表資料" nzWrapClassName="omponent-header"
  nzWidth='644px' (nzAfterOpen)="AfterOpen()" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="確認"
  (nzOnOk)="handleOk()" [nzContent]="selectAreaContent">
  <ng-template #selectAreaContent>
    <div class="itemContent">
      <nz-form-control>
        <div class="boPICStyle">
          <div class="searchDiv">
            <input nz-input [(ngModel)]="searchValue" placeholder="搜尋公司全稱、投資部PIC" />
            <div class="searchIcon" (click)="onSearch(); searchSimple = true" style="cursor: pointer;"><em
                class="bi bi-search"></em></div>
            <span (click)="searchValue = ''" style="cursor: pointer;" *ngIf="!!searchValue">清除條件</span>
          </div>
        </div>
      </nz-form-control>
    </div>
    <div class="check">
      <span style="color: hsl(210, 59%, 45%);">已選 {{setOfCheckedEmplid.size}}</span>
      <div class="checkDiv" *ngFor="let item of checkListValue">{{item.name}}/{{item.name_A}}
        <em class="bi bi-x-lg" style="cursor: pointer;" (click)="deleteUnit(item)"></em>
      </div>
    </div>
    <div *ngIf="boPICListVisible" class="detail">

      <div class="result" *ngIf="comPICList?.length >= 100">最多顯示100筆</div>
      <div class="tableDetail">
        <nz-table #fixedTable [nzShowPagination]="false" [nzScroll]="{y: '250px'}" [nzData]="comPICList"
          [nzShowQuickJumper]="true" [nzPageSize]="100" [nzShowSizeChanger]="true" [nzSize]="'small'">
          <thead>
            <tr class="thStyle">
              <th [nzWidth]="'40px'" [(nzChecked)]="checked" (nzCheckedChange)="onAllChecked($event)"></th>
              <th [nzWidth]="'140px'">公司全稱</th>
              <th [nzWidth]="'140px'">投資部PIC</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of fixedTable.data ">
              <td [nzChecked]="setOfCheckedEmplid.has(data)" nzLeft (nzCheckedChange)="onBOPICChecked(data, $event)">
              </td>
              <td [ngStyle]="{'color' : setOfCheckedEmplid.has(data)? '#4090E0' : '' }">{{ data.name}}</td>
              <td [ngStyle]="{'color': setOfCheckedEmplid.has(data) ? '#4090E0' : '' }">{{ data.name_A }}</td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
    <div class="simpleStyle">
      <nz-spin nzSimple *ngIf="searchSimple"></nz-spin>
      <nz-empty *ngIf="!searchSimple && comPICList.length <= 0" [nzNotFoundContent]="'未檢索到數據'"></nz-empty>
    </div>

  </ng-template>
</nz-modal>
