.amount {
    width: 100%;
    /* padding: 0 10px; */
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
}


/* 頭部樣式 */

.headerLeft img {
    margin-right: 20px;
}

.headerLeft span {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #101010;
}

.nav {
    position: relative;
    height: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    padding-left: 5px;
}

.nav img {
    margin-left: 60px;
    vertical-align: middle;
    margin-right: 5px;
}

.nav .companyName {
    margin-left: 5px;
    color: #3F4852;
}

.navLeft>span {
    font-weight: 400;
    font-size: 14px;
    line-height: 47px;
    color: #959EA9;
}

.navLeft .historyName {
    color: #3F4852;
}

.navRight {
    position: absolute;
    right: 30px;
}

.navRight .rightBtn {
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: #3074b8;
    color: #ffff;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}


/* 内容樣式 */

.externalDiv {
    margin-bottom: 30px;
}

.detailHeader {
    position: relative;
    margin-top: 28px;
    padding-left: 26px;
}

.detailHeader a {
    color: #101010;
}

.detailHeader span {
    margin-left: 16px;
    font-weight: 700;
    font-size: 20px;
}

.converStyle .detailHeader .externalDetail a {
    font-weight: 400;
    font-size: 14px;
    color: #186ADE;
}

.converStyle .detailHeader a {
    color: #101010;
    margin-right: 30px;
    position: absolute;
    left: 21px;
    bottom: 3px;
}

.converStyle .detailHeader span {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-left: 64px;
}

.converStyle {
    display: flex;
    flex-wrap: nowrap;
    /* padding: 0 60px; */
    margin-left: 64px;
    margin-right: 64px;
    margin-top: 13px;
}

.converStyle div {
    width: 25%;
    height: 70px;
    background: #ffffff;
    border-radius: 4px;
    margin-right: 16px;
    padding: 12px 16px 12px 16px;
}

.converStyle p {
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #101010;
}

.converStyle span {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    color: #3074B8;
}

.companyStyle {
    display: flex;
    /* padding: 0 20px; */
    flex-wrap: wrap;
}

.companyStyle div {
    width: 25%;
    height: 70px;
}

.companyStyle p {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #101010;
    margin-bottom: 5px;
}

.companyStyle span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F4852;
}