<div class="amount">
    <!-- <div class="header">
    <div class="headerLeft">
      <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
      <span>{{tableListData.name}}</span>
    </div>
    <app-header-right></app-header-right>
  </div> -->

    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
            <span>
        {{ tableListData?.use_Name }}
      </span>
        </div>
        <app-header-right></app-header-right>
    </div>


    <div class="nav shadow-sm">
        <div class="navLeft">
            <img src="../../../../../assets/images/icon/Vector_Home.svg" alt="" />
            <span><a routerLink="/">Home</a> /</span>
            <span><a routerLink="/companyMaintain/list"> 金額紀錄列表</a> /</span>
            <span class="companyName">{{ tableListData.use_Name }}</span>
        </div>

        <div class="navRight" *ngIf="showBtnSet.has(ShowBtn.Update) || showBtnSet.has(ShowBtn.Delete)">
            <a href="javascript:(0);;" *ngIf="showBtnSet.has(ShowBtn.Delete)" (click)="isVisible = true;"><em class="bi-trash" style="color:#E54C4C;"></em></a>
            <button class="rightBtn" *ngIf="showBtnSet.has(ShowBtn.Update)" (click)="routingOperate()"><em class="bi-pencil-fill"
          style="padding-right: 10px;"></em>編輯</button>
        </div>
        <nz-modal [nzClosable]="false" [nzClassName]="'AmountModal'" [(nzVisible)]="isVisible" nzTitle="是否刪除所選項目？" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="刪除" (nzOnOk)="handleOk()" [nzOkDanger]="true">
            <ng-container *nzModalContent>
                <p>若選擇刪除，所有相關記錄都將清除</p>
            </ng-container>
        </nz-modal>
    </div>

    <div>
        <div class="detailHeader"><a href="javascript:(0);;" (click)="goback()"><em class="bi-arrow-left-short" style="font-size: 30px;"></em></a>
            <span>轉換結果 ({{ tableListData.trans_Currency }})</span> <em style="color: #c0c8d1;margin-left: 10px;" nz-tooltip nzTooltipTitle='轉換結果' class="bi-info-circle-fill"></em></div>
        <div class="converStyle">
            <div>
                <p>換算幣別</p>
                <span>{{tableListData.trans_Currency}}</span>
            </div>
            <div>
                <p>金額</p>
                <span>{{tableListData.trans_Amount | number: '.0-6'}}</span>
            </div>
            <div>
                <p>處分成本</p>
                <span>{{tableListData.trans_Cost | number: '.0-6'}}</span>
            </div>
            <div>
                <p>股價</p>
                <span>{{tableListData.trans_Stock_Price | number: '.0-6'}}</span>
            </div>
        </div>
        <div style="padding: 0 83px 0px 60px;">
            <div style="    height: 1px;
            margin: 20px 0px;
            border: 1px solid #cdd0d3;"></div>
        </div>
        <div style="padding: 0 83px 0px 60px;">
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="companyStyle">
                        <div>
                            <p>公司/基金名稱</p>
                            <span>{{tableListData.use_Name}}</span>
                        </div>
                        <div>
                            <p>證券/基金種類</p>
                            <span>{{tableListData.use_Type_Name}}</span>
                        </div>
                        <div>
                            <p>合約日期</p>
                            <span>{{tableListData.effective_Date | datePip}}</span>
                        </div>
                        <div>
                            <p>盡職調查日期</p>
                            <span>{{tableListData.dD_Close_Date  | datePip :'transition' }}</span>
                        </div>

                        <div>
                            <p>投資主體</p>
                            <span>{{tableListData.investment_Subject_Name}}</span>
                        </div>
                        <div>
                            <p>BO TYPE</p>
                            <span>{{tableListData.bo_Name}}</span>
                        </div>
                    </div>

                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div style="padding: 0 83px 0px 60px;">
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="'交易明細'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="companyStyle">
                        <div style="width: 100%; height: 42px;" class="externalDiv" *ngIf="tableListData.data_Source == '003' || tableListData.data_Source == '004'">
                            <div class="externalDetail" style="height: 42px;height: 42px;
                            display: flex;
                            flex-wrap: nowrap;
                            align-items: center;
                            background: rgba(184, 213, 255, 0.2);
                            border-radius: 4px;
                            justify-content: space-evenly;">
                                <em class="bi bi-info-circle-fill" style="color: #1553AB;"></em>
                                <span style="font-weight: 700;
                                font-size: 14px;
                                color: #101010;">請/繳款系統</span>
                                <a [href]="tableListData.external_Pid" target="_blank">
                                    <em class="bi bi-link-45deg"></em> 前往查看
                                </a>
                            </div>
                        </div>
                        <div>
                            <p>類型</p>
                            <span>{{tableListData.record_Type_Name | isNullDate}}</span>
                        </div>
                        <div>
                            <p>日期</p>
                            <span>{{tableListData.investment_Date | datePip | isNullDate}}</span>
                        </div>
                        <div>
                            <p>幣別</p>
                            <span>{{tableListData.ori_Currency | isNullDate}}</span>
                        </div>
                        <div>
                            <p>金額</p>
                            <span>{{tableListData.ori_Amount | number: '.0-6' | isNullDate}}</span>
                        </div>
                        <div>
                            <p>處分成本</p>
                            <span>{{tableListData.ori_Cost | number: '.0-6' | isNullDate}}</span>
                        </div>
                        <div>
                            <p>股數</p>
                            <span>{{tableListData.ori_Stock_Share | number: '.0-6' | isNullDate}}</span>
                        </div>
                        <div>
                            <p>股價</p>
                            <span>{{tableListData.ori_Stock_Price | number: '.0-6'  | isNullDate}}</span>
                        </div>
                        <div>
                            <p>持股比例%</p>
                            <span>{{tableListData.ori_Stock_Ratio != null ? (tableListData.ori_Stock_Ratio * 100 | number: '.0-4') :
                ''}}</span>
                        </div>

                        <div>
                            <p>Vendor code</p>
                            <span>{{tableListData.vendor_Code  | isNullDate}}</span>
                        </div>
                        <div>
                            <p>Vendor Name</p>
                            <span>{{tableListData.vendor_Name  | isNullDate}}</span>
                        </div>
                        <div></div>
                        <div></div>
                        <div>
                            <p>交付或付款條件</p>
                            <span>{{tableListData.payment_Name  | isNullDate}}</span>
                        </div>
                        <div>
                            <p>董事會日期</p>
                            <span>{{tableListData.board_Meeting_Date | datePip  | isNullDate}}</span>
                        </div>
                        <div>
                            <p>該公司發行股份總數</p>
                            <span>{{tableListData.outstanding_Shares | isNullDate }}</span>
                        </div>
                        <div style="width: 100%;">
                            <p>備註</p>
                            <span>{{tableListData.remark  | isNullDate}}</span>
                        </div>
                    </div>

                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </div>
</div>