<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span>金額記錄</span>
            <a nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="Visible($event, 'List')" class="headerselect">
                {{listSelected}}
                <img src="../../../../../assets/images/icon/Vector_down_black.svg" alt="" *ngIf="isShowVector">
                <img src="../../../../../assets/images/icon/Vector_up_black.svg" alt="" *ngIf="!isShowVector">
              </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="amountTableList.UpdateHeaderDate('');listSelected = 'All List'; sendListSelected('All List')">All List</li>
                    <li nz-menu-item (click)="amountTableList.UpdateHeaderDate('My List');listSelected = 'My List'; sendListSelected('My List')">My List</li>
                </ul>
            </nz-dropdown-menu>
        </div>
        <app-header-right></app-header-right>
    </div>
    <app-amount-table-list #amountTableList [invest_no]="invest_no"></app-amount-table-list>
</div>