.tableListDetail {
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  /* padding: 10px; */
  padding: 0 32px 50px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0.35rem;
  padding-bottom: 0;
}

.tableDetail {
  padding: 0 10px;

}

.search {
  position: relative;
  width: 100%;
  margin: 17px 0 14px 0;
  /* padding-left: 10px;
    padding-right: 10px; */
  display: flex;
  height: 35px;
  line-height: 35px;
}

.selectSpan {
  width: 56px;
  height: 21px;
  /* Body - TC/14px Regular */
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  text-transform: capitalize;
  /* Function/Secondary text */
  color: #3F4852;
  /* 超出隐藏 */
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-box,
.SecuritySelect {
  margin-right: 12px;
}

.search-box button {
  border-radius: 0 4px 4px 0;
  background-color: #3074B8;
  opacity: 1;
  border-color: #3074B8;
}

.search-box button:hover {
  opacity: 0.75;
  transition: all 0.5s ease;
}

.SecuritySelect {
  width: 140px;
  border: 0px;
}

.SecuritySelect button {
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  padding-left: 12px;
}

.SecuritySelect em {
  vertical-align: top;
}

.SecuritySelect span {
  width: 90px;
  vertical-align: super;
  text-align: left;
}

.SecuritySelect b {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #3074B8;
  vertical-align: middle;
  color: #fff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.selectBGC {
  background-color: #B8D5FF33 !important;
}

.CloseBtn {
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
}

.CloseBtn a {
  color: #959EA9;
}

.searchRight {
  margin-left: auto;
}

.searchRight div {
  display: inline-block;
  margin-right: 16px;
  font-size: 12px;
}

.searchRight button {
  width: 88px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background: #3074B8;
  /* display: inline-block; */
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.searchRight img {
  margin-right: 16px;
  vertical-align: baseline;
}

/* 搜尋按鈕 */

button svg.bi.bi-search {
  padding-bottom: 1px;
}

/* 表格不換行 */
tr {
  white-space: nowrap;
}

/* Striped table */
tr:nth-child(odd) {
  background-color: #F6F6F6;
}

th,
td {
  min-width: 225px;
  max-width: 225px;
  overflow: hidden;
  text-overflow: ellipsis;
  /* padding: 4px !important; */
  padding: 4.5px 8px !important;
}

::ng-deep .ant-table-thead .ant-table-row .ant-table-cell {
  background-color: #ffffff;
  border: 0;
}

::ng-deep .ant-table-tbody>tr>td {
  border: 0 !important;
}

::ng-deep .ant-table-wrapper {
  width: 100%;
}

.nztableclass ::ng-deep .ant-spin-container {
  overflow: auto !important;
  height: 60vh;
}

.nztableclass ::ng-deep .ant-spin-contain {
  height: 60vh;
}

/* Fixed Pagination 分頁固定 */
.nztableclass ::ng-deep .ant-table-pagination.ant-pagination {
  position: fixed;
  bottom: 0px !important;
  right: 135px !important;
  z-index: 100;
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* padding-top: 5px;
    padding-bottom: 5px; */
}
