.search {
  position: relative;
  margin: 16px 32px 0 40px;
  background-color: white;
  border-radius: 10px;
  padding: 0 16px 16px 16px;
}

.search-box {
  padding: 16px 0 16px 0;
}

.search-box button {
  border-radius: 0 4px 4px 0;
}

.tableDetail {
  padding: 0 5px;
  background-color: #fff;
  border-radius: 10px;
}

.CloseBtn {
  position: relative;
  top: -3px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  text-transform: capitalize;
  /* Function/Tertiary text */
}

.headerselect {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #101010;
}

.searchRight {
  display: inline-block;
  position: absolute;
  top: 21px;
  right: 30px;
}

.searchRight div {
  display: inline-block;
  margin-right: 16px;
}

.searchRight button {
  width: 88px;
  height: 30px;
  border: none;
  border-radius: 4px;
  background: #3074B8;
  /* display: inline-block; */
  color: #fff;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
}

.searchRight img {
  margin-right: 16px;
  vertical-align: baseline;
}

.selectBGC {
  background-color: #B8D5FF33 !important;
}


.SecuritySelect {
  width: 140px;
  border: 0px;
}

.SecuritySelect button {
  width: 100%;
  border: none;
  border-radius: 4px;
  background-color: #F6F6F6;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 12px;
  padding-left: 12px;
}

.SecuritySelect em {
  vertical-align: top;
}

.SecuritySelect span {
  width: 90px;
  vertical-align: super;
  text-align: left;
}

.SecuritySelect b {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #3074B8;
  vertical-align: middle;
  color: #fff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
}

.companySearchItem {
  margin-left: 12px;
  display: inline-block;
}


.kindItem {
  display: inline-block;
}

.kindItem .bubbleCount {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #3074b8;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  line-height: 16px;
  font-weight: 700;
  font-size: 12px;
  font-style: normal;
}
