<div class="body_scroll">
  <div class="header">
    <div class="headerLeft">
      <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
      <span>基金維護</span>
      <a nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="Visible($event, 'List')" class="headerselect">
        {{listSelected}}
        <img src="../../../../assets/images/icon/Vector_down_black.svg" alt="" *ngIf="isShowVector">
        <img src="../../../../assets/images/icon/Vector_up_black.svg" alt="" *ngIf="!isShowVector">
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="UpdateHeader('');listSelected = 'All List'">All List</li>
          <li nz-menu-item (click)="UpdateHeader('My List');listSelected = 'My List'">My List</li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <app-header-right></app-header-right>
  </div>

  <div class="search">
    <div class="search-box">
      <input type="text" nz-input placeholder="搜尋基金簡稱、基金全稱、投資部PIC..." [(ngModel)]="searchValue" style="
      width: 270px; border-radius: 4px 0 0 4px;" />
      <button nz-button nzSize="small" nzType="primary" (click)="QueryAll(listSelected)" class="search-button" style="height: 32px;
      width: 32px; background-color: #3074B8; border-color: #3074B8;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
          </path>
        </svg>
      </button>

      <div class="SecuritySelect companySearchItem">
        <button nz-button nzTrigger="click" nz-dropdown [nzClickHide]="false" [nzPlacement]="'bottomCenter'"
          [nzDropdownMenu]="menu3" [ngClass]="arrAccountTitleId.length > 0 ? 'selectBGC' : ''">
          <span class="selectSpan">
            投資階段
            <b class="bubbleCount" *ngIf="arrAccountTitleId.length > 0">{{arrAccountTitleId.length}}</b>
          </span>
          <em>
            <img src="../../../../../assets/images/icon/Vector_down.svg" alt="" *ngIf="arrAccountTitleId.length == 0">
            <img (click)="clearSelectedSecurityType()" src="../../../../../assets/images/icon/Vector_close.svg" alt=""
              *ngIf="arrAccountTitleId.length > 0">
          </em>
        </button>
        <nz-dropdown-menu #menu3="nzDropdownMenu">
          <ul nz-menu>
            <li nz-menu-item *ngFor="let data of accountTitleList">
              <label nz-checkbox [(ngModel)]="data.checked"
                (ngModelChange)="AccountTitleSelect(data)">{{data.label}}</label>
            </li>
          </ul>
        </nz-dropdown-menu>
      </div>
    </div>

    <div class="searchRight">
      <div>總共{{listOfData.length}}個項目</div>
      <button (click)="routingOperate()" *ngIf="canCreateFund">
        <img src="../../../../assets/images/icon/Vector_Add.svg" alt=""> 新增
      </button>
    </div>

    <nz-table #nzTableList #sortTable [nzData]="listOfData" nzTableLayout="fixed" [nzSize]="'small'"
      style=" table-layout: fixed; word-break: break-all;" [nzNoResult]="'暫無數據'" [nzShowQuickJumper]="true"
      [nzShowSizeChanger]="true">
      <thead>
        <tr>
          <th scope *ngFor="let data of listOfColumn; let key = index;" [nzShowSort]="true" [nzSortFn]="data.compare">{{
            data.title }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of nzTableList.data" (click)="routingSkip(data.invest_No)">
          <td>{{ data.name }}</td>
          <td><label>{{ data.full_Name }}</label></td>
          <td><label>{{ data.emp_Name }}</label></td>
          <td><label>{{ data.now_Status_Nm }}</label></td>
          <td><label>{{ data.commited_Currency }}</label></td>
          <td><label>{{ (data.total_Commited_Amount <= 0) ? 0 : data.total_Commited_Amount | number:'.0-6' }}</label>
          </td>
          <td><label>{{ data.first_Trans_Date | date:"yyyy-MM-dd" }}</label></td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
