.header {
    box-shadow: none !important;
}

.leftSapn {
    margin-right: 16px;
}

.leftStatus {
    height: 24px;
    border: 1px solid #4EDE89;
    background: #D3F4DC;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 3px 8px;
}

.nav {
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    display: flex;
    align-items: center;
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
    height: 47px;
    padding-right: 32px;
}

.navRight {
    margin-left: auto;
    display: flex;
}

.discard,
.save {
    height: 47px;
}

.navRight .ant-form-item {
    line-height: 47px;
}

.navRight button {
    width: 68px;
    border-radius: 4px;
}

.discard {
    margin-right: 12px;
}

.discard button {
    border: 1px solid #3074b8;
    color: #3074B8;
}

.save button {
    background: #3074B8;
    color: #FFFFFF;
}


/* 页面datails */

.ant-collapse {
    margin-bottom: 16px;
}

.detail {
    margin: 16px 30px 0px 64px;
    position: relative;
}

.detailHeader {
    position: absolute;
    left: -43px;
}

.FormData {
    display: flex;
    flex-wrap: wrap;
}

.FormData nz-date-picker,
.FormData nz-input-number {
    width: 200px;
    border-radius: 4px;
}

.FormDataitem {
    width: 25%;
}

.FormDataitem .ant-form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.itemControll input {
    width: 200px;
    border-radius: 4px;
}

.itemControll nz-select {
    width: 200px;
    border-radius: 4px;
}

.itemControll textarea {
    border-radius: 4px;
    border: 1px solid #c0c8d1;
}

.itemSecurity {
    min-width: 200px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    height: 32px;
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    color: #cdbfcd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 11px;
    transition: all 0.25s ease;
    cursor: pointer;
}

.itemSecurity span {
    display: inline-block;
    width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #959EA9;
}

.itemSecurity .securitySelected {
    color: black;
}

.itemSecurity a {
    color: #cdbfcd;
    display: flex;
    align-items: center;
}

.itemSecurity a i {
    font-size: 10px;
    color: #959EA9;
}

.groupClass {
    display: flex;
}

.uploadClass {
    width: 122px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #959EA9;
    border-radius: 4px;
    color: #3F4852;
}

.uploadClass em {
    margin-left: 10px;
}

.dim {
    filter: blur(2px);
}

.txtClass {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.SurveyInsert {
    height: 60px;
    background: #FFFFFF;
    border: 1px dashed #C0C8D1;
    border-radius: 4px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    cursor: pointer;
}

.SurveyInsert svg {
    background: #3B85ED;
    color: #fff;
    width: 28px;
    height: 28px;
}

.SurveyInsert span {
    margin-left: 16px;
    font-weight: 700;
    font-size: 14px;
    color: #3F4852;
}

.SurveyText {
    background: #f6f6f6;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 87px;
}

.textIcon {
    border: 1px solid #d9d9d9;
    width: 1px;
    height: 18px;
    margin: 0px 8px;
}

.textHeader {
    height: 21px;
    line-height: 21px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.textDateClass {
    font-size: 12px;
    color: #959EA9;
    font-weight: 400;
}

.textHeader div {
    display: inline-block;
}

.textBody {
    color: #3F4852;
    font-size: 12px;
}

.textFileClass {
    color: #3B85ED;
    font-weight: 400;
    font-size: 12px;
}

.lookData {
    margin-left: auto;
    color: #3074B8;
}

.lookData span {
    font-weight: 400;
    font-size: 12px;
    margin-left: 4px;
}

.textTitle {
    font-weight: 600;
    font-size: 16px;
}

.Error {
    border-color: #ff4d4f!important;
}

.textBody span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    font-size: 12px;
    color: #3F4852;
}