<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span class="leftSapn">{{companyName}}</span>
            <span class="leftStatus">{{statusName}}</span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <form nz-form [nzAutoTips]="autoTips" [formGroup]="validateForm" (ngSubmit)="debounce()">
        <div class="nav">
            <div class="navRight">
                <div class="discard">
                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button (click)="showDeleteConfirm($event)">捨棄</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="save">
                    <nz-form-item>
                        <nz-form-control>
                            <button nz-button nzType="primary">儲存</button>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </div>
        <div class="detail">
            <div class="detailHeader">
                <a href="javascript:(0);;" style="color: #101010;" (click)="showDeleteConfirm($event)"><em
                class="bi-arrow-left-short" style="font-size: 30px;"></em></a>
            </div>
            <!-- 基本资料 -->
            <nz-collapse [nzBordered]="false " [nzExpandIconPosition]=" 'right' ">
                <nz-collapse-panel [ngStyle]="panel.customStyle " [nzHeader]="panel.name " [nzActive]="panel.active " (click)="updateActive() ">
                    <div class="FormData">
                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="9">建立時間</nz-form-label>
                                <div class="itemControll">
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <span class="buildDate">{{build_date | datePip}}</span>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="9" nzRequired>調查名稱</nz-form-label>
                                <div class="itemControll">
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label *ngIf="!isAddOrEdit" style="margin-left: 10px;">{{companyDataName}}</label>
                                        <input *ngIf="isAddOrEdit" (blur)="nameChange()" nz-input formControlName="Name" placeholder="輸入調查名稱" />
                                    </nz-form-control>
                                </div>

                            </nz-form-item>
                        </div>

                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="9" nzRequired>調查種類</nz-form-label>
                                <div class="itemControll">
                                    <nz-form-control>
                                        <label for="" *ngIf="!!categoryValue">{{categoryValue.label}}</label>
                                        <nz-select *ngIf="!categoryValue" formControlName="Survey" nzShowSearch [nzAllowClear]="true" nzPlaceHolder="選擇調查種類" [nzOptions]="listOfSurveyValue">
                                        </nz-select>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>


                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="9" nzRequired>證券種類</nz-form-label>
                                <nz-form-control [nzSpan]="12">
                                    <div class="itemControll itemSecurity" [ngClass]="isError? 'Error' : ''" nzTrigger="click" nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomCenter'" [nzClickHide]="false">
                                        <span class="txtClass" ngClass="{{SecurityValue.length > 0 ? 'securitySelected' : 'securityNotSelected'}}">
                                    {{SecurityValue.length > 0 ? SecurityValue : '選擇證券種類'}}
                                  </span>
                                        <a href="javascript:void(0);">
                                            <em class="bi bi-chevron-up"></em>
                                        </a>
                                    </div>
                                    <div *ngIf="isError" style="color: #ff4d4f;position: absolute;">此欄位為必填項</div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div class="FormDataitem" style="width: 100%;">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="24">MEMO</nz-form-label>
                                <div class="itemControll" style="width: 100%;">
                                    <nz-form-control [nzSpan]="24">
                                        <textarea rows="4" nz-input nzPlaceHolder="輸入文字" formControlName="MEMO"></textarea>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
            <!-- 投資資料 -->
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel [ngStyle]="panel.customStyle" [nzHeader]="'投資資料'" [nzActive]="panel.active" (click)="updateActive()">
                    <div class="FormData">
                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzRequired]="requiredTypeSet.has(requiredType.Invest_Date)">投資款時間</nz-form-label>
                                <nz-form-control>
                                    <div class="FormDate">
                                        <nz-date-picker formControlName="invest_Date" [nzPlaceHolder]="'輸入時間' + dateFormat">
                                        </nz-date-picker>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzRequired]="requiredTypeSet.has(requiredType.Invest_Amount)">投資金額</nz-form-label>
                                <div class="itemControll">
                                    <nz-form-control nzDisableAutoTips [nzErrorTip]="passwordErrorTpl1" nzValidatingTip="Validating...">
                                        <div class="numberItem">
                                            <nz-input-number nzPrecisionMode="cut" [nzPrecision]="6" formControlName="invest_Amount" nzPrecisionMode="cut" [nzMin]="0" [nzMax]="999999999999.999999" [nzPlaceHolder]="'輸入金額'"></nz-input-number>
                                        </div>
                                        <ng-template #passwordErrorTpl1 let-control>
                                            <ng-container *ngIf="control.hasError('required')">請輸入金額</ng-container>
                                            <ng-container *ngIf="control.hasError('confirm')">金額格式不正確</ng-container>
                                        </ng-template>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzRequired]="requiredTypeSet.has(requiredType.Currency)">幣別</nz-form-label>
                                <div class="itemControll">
                                    <nz-form-control>
                                        <nz-select formControlName="currency" nzShowSearch [nzShowArrow]="true" [nzAllowClear]="true" nzPlaceHolder="選擇幣別" [nzOptions]="selectCurrencyValud">
                                        </nz-select>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>

            <!-- 投資部門 -->
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel [ngStyle]="panel.customStyle" [nzHeader]="'投資部門'" [nzActive]="panel.active" (click)="updateActive()">
                    <div class="FormData">
                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="9">投資部PIC </nz-form-label>
                                <div class="itemControll">
                                    <nz-form-control>
                                        <label style="margin-left: 10px;">{{user_Name}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="12" nzRequired>工時掛帳部門</nz-form-label>
                                <div class="itemControll">
                                    <nz-form-control [nzSpan]="12" nzValidatingTip="Validating...">
                                        <input nz-input formControlName="dept_No" placeholder="輸入掛帳部門" />
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="12" nzRequired>BOTYPE</nz-form-label>
                                <div class="itemControll">
                                    <nz-form-control [nzSpan]="12">
                                        <nz-select formControlName="bo" nzShowSearch [nzShowArrow]="true" [nzAllowClear]="true" nzPlaceHolder="選擇BOTYPE" [nzOptions]="selectDeptValud">
                                        </nz-select>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
            <!-- 調查階段 -->
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel [ngStyle]="panel.customStyle" [nzHeader]="'調查階段'" [nzActive]="panel.active" (click)="updateActive()">
                    <div class="SurveyBody">
                        <div class="SurveyText" *ngFor="let item of SurveyDataList">
                            <div class="textHeader">
                                <div class="textTitle">{{item?.status_Name}}</div>
                                <div class="textIcon"></div>
                                <div class="textDateClass">起始：{{item?.start_Date | datePip}}</div>
                                <div class="textDateClass" style="margin-left: 10px;">結束：{{item?.end_Date | datePip}}</div>
                                <div class="textIcon"></div>
                                <div class="lookData">
                                    <em *ngIf="!(this.Type != mouseType.Add && item.status == '001')" class="bi bi-trash" style="margin-right: 20px;color: #E64C4C;cursor: pointer;" (click)="removeSurvey(item.status)"></em>
                                    <a href="javascript:(0);" style="color: #3074B8;" (click)="dd_stage_item = item;serveyType = this.Type; insertSurvey.editVisible(serveyType, SurveyValue, dd_stage_item)">
                                        <em class="bi bi-pencil-fill"></em>
                                        <span>編輯</span>
                                    </a>
                                </div>
                            </div>
                            <div class="textBody">
                                <span>{{item?.remark}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="SurveyInsert" *ngIf="SurveyDataList.length < 6" (click)="serveyType = this.Type; insertSurvey.editVisible(serveyType, SurveyValue)">
                        <svg xmlns=" http://www.w3.org/2000/svg " width="16 " height="16 " fill="currentColor " class="bi bi-plus-square " viewBox="0 0 16 16 ">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z "/>
                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z "/>
                          </svg>
                        <span>新增調查階段</span>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
            <!-- 結論 -->
            <nz-collapse *ngIf="isShowDecision" [nzBordered]="false " [nzExpandIconPosition]=" 'right' ">
                <nz-collapse-panel [ngStyle]="panel.customStyle" [nzHeader]="'結論'" [nzActive]="panel.active" (click)="updateActive() ">
                    <div class="FormData ">
                        <div class="FormDataitem" style="width:  25%; ">
                            <nz-form-item>
                                <nz-form-label nzRequired>Decision</nz-form-label>
                                <div class="itemControll ">
                                    <nz-form-control>
                                        <nz-radio-group class="groupClass" formControlName="decision_Result">
                                            <label nz-radio nzValue="Yes">Yes</label>
                                            <label style="margin-left: 40px;" nz-radio nzValue="No">No</label>
                                        </nz-radio-group>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                        <div class="FormDataitem" style="width:  25%; ">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="12 " nzRequired>Decision時間</nz-form-label>
                                <div class="itemControll ">
                                    <nz-form-control [nzSpan]="12 " nzValidatingTip="Validating... ">
                                        <nz-date-picker formControlName="decision_Date" [nzPlaceHolder]=" '輸入時間' + dateFormat ">
                                        </nz-date-picker>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="FormDataitem" style="width: 100%; ">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="24 " nzRequired>投審會結論</nz-form-label>
                                <div class="itemControll " style="width: 100%; ">
                                    <nz-form-control [nzSpan]="24 ">
                                        <textarea rows="4 " nz-input formControlName="decision_Comment" placeholder="輸入文字 " class="textArea "></textarea>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="FormDataitem">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="24">附件檔案</nz-form-label>
                                <div class="itemControll ">
                                    <nz-form-control [nzSpan]="24 ">
                                        <nz-upload [nzDisabled]="fileList?.length>= 5" [nzRemove]="removeFile" [nzBeforeUpload]="beforeUpload" [nzFileList]="fileList" [nzSize]="102400" [nzLimit]="5 - fileList?.length" [nzMultiple]="true">
                                            <button nz-button class="uploadClass" (click)="Upload($event)">
                                                選擇檔案
                                                <em class="bi bi-upload"></em>
                                            </button>
                                        </nz-upload>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                    </div>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </form>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let data of selectCompanyValud">
                <label style="width: 100%;" nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="CompanyTransaction($event, data.value)" [nzDisabled]="data.disabled">{{data.label}}</label>
            </li>
        </ul>
    </nz-dropdown-menu>
</div>
<app-insert-survey (back)="UpdateShow($event)" #insertSurvey></app-insert-survey>

<!-- 投資部PIC維護提醒彈窗 -->
<nz-modal nzClassName="DDWarning" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter">
    <ng-template #modalTitle><svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
        <path style="color: #FFEAA0;" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path style="color: #FDD443;" d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
      </svg></ng-template>

    <ng-template #modalContent>
        <p>此公司已有其他投資部PIC，不可維護</p>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button (click)="handleOk()">OK</button>
    </ng-template>
</nz-modal>

<!-- 儲存校驗彈窗 -->
<nz-modal nzClassName="DDCheck" [(nzVisible)]="IsModelVisible" [nzTitle]="modalTitle1" [nzContent]="modalContent1" [nzFooter]="modalFooter1">
    <ng-template #modalTitle1>
        <svg *ngIf="CheckTypeData == CheckType.Check1" xmlns="http://www.w3.org/2000/svg" width="88" height="88" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
          </svg> {{ModelTitle}}
    </ng-template>

    <ng-template #modalContent1>
        <p>{{ModelContent}}</p>
    </ng-template>

    <ng-template #modalFooter1>
        <button nz-button class="cancel" nzType="default" (click)="handleCancel($event)">取消</button>
        <button nz-button class="ok" nzType="primary" (click)="handleModelOk(CheckTypeData)">{{ModelOk}}</button>
    </ng-template>
</nz-modal>