<div class="amount">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
            <span>
        {{ fundInfo.name }}
        <i class="bi-pencil-fill" style="color: #4090E0; margin-left: 20px; font-size: 16px; cursor: pointer;"
          (click)="InvestMainRename.initRename(invest_no, fundInfo.name)" *ngIf="canRenameFund">
        </i>
      </span>
        </div>
        <app-header-right></app-header-right>
    </div>

    <div class="nav shadow-sm">
        <div class="navLeft">
            <img src="../../../../../assets/images/icon/Vector_Home.svg" alt="" />
            <span><a routerLink="/">Home</a> /</span>
            <span><a routerLink="/fundMaintain/list"> 基金維護列表</a> /</span>
            <span class="companyName">{{fundInfo.name}} - {{tabType}}</span>
        </div>
        <div class="navRight">
            <button class="customButton1" (click)="getFundStatusList()" data-bs-toggle="offcanvas" data-bs-target="#statusHistory" aria-controls="statusHistory">
        <div style="width: 157px; margin-left: -20px;">
          投資階段: <span>{{ fundInfo?.status_Nm || fundInfo?.now_Status_Nm}}</span>
        </div>
      </button>
            <button class="rightBtn" (click)="routingUpdate()" *ngIf="canEditFund && selectedFund">
        <i class="bi-pencil-fill"></i>編輯
      </button>
        </div>
    </div>

    <div>

        <a href="javascript:(0);" (click)="routingSkip()" style="color: #101010; position:relative; top: 25px; left:20px"><em class="bi-arrow-left-short"></em></a>

        <nz-tabset class="tabsetStyle" nzSize="large" style="padding: 0px 0px 0px 55px;" [nzSelectedIndex]="selectedTabIndex" (nzSelectedIndexChange)="SelectedIndexChange($event)">
            <nz-tab [nzTitle]="fundTitle">
                <div style="padding: 0 20px 0px 0px;">
                    <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                        <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                            <div class="companyStyle">
                                <div>
                                    <p>基金簡稱</p>
                                    <span>{{fundInfo.name}}</span>
                                </div>
                                <div>
                                    <p>基金全稱</p>
                                    <span>{{fundInfo.full_Name}}</span>
                                </div>
                                <div>
                                    <p>初始持有％</p>
                                    <span>{{fundInfo.initial_Holding_Ratio * 100 | number:'1.2-2'}}</span>
                                </div>
                                <div>
                                    <p>國家</p>
                                    <span>{{fundInfo.headquarter}}</span>
                                </div>
                                <div>
                                    <p>設立形式</p>
                                    <span>{{fundInfo.liability_Type_Nm}}</span>
                                </div>
                                <div>
                                    <p>公司財年制度</p>
                                    <span>{{fundInfo.fin_Year_Rule_Nm}}</span>
                                </div>
                                <div>
                                    <p>事業單位窗口</p>
                                    <span>{{ this.unitPic | spanData }}</span>
                                </div>
                                <div>
                                    <p>基金種類</p>
                                    <span>{{fundInfo.fund_Type}}</span>
                                </div>
                                <div>
                                    <p>基金年限</p>
                                    <span>{{fundInfo.fund_Period}}</span>
                                </div>
                                <div>
                                    <p>投資期年限</p>
                                    <span>{{fundInfo.investment_Period}}</span>
                                </div>
                                <div>
                                    <p>回收期年限</p>
                                    <span>{{fundInfo.harvest_Period}}</span>
                                </div>
                                <div>
                                    <p>投資部PIC</p>
                                    <span>{{fundInfo.emp_Name}}</span>
                                </div>
                                <div>
                                    <p>退出日期</p>
                                    <span>{{((fundInfo.quit_Date == "Invalid date") ? "" : fundInfo.quit_Date)}}</span>
                                </div>
                                <div>
                                    <span></span>
                                </div>
                                <div>
                                    <span></span>
                                </div>
                                <div>
                                    <span></span>
                                </div>
                                <div>
                                    <p>退出原因</p>
                                    <span>{{fundInfo.quit_Reason}}</span>
                                </div>
                            </div>

                            <ng-template #expandedIcon let-active>
                                {{ active }}
                                <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                            </ng-template>
                        </nz-collapse-panel>
                    </nz-collapse>
                </div>

                <div style="padding: 0 20px 0px 0px;">
                    <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                        <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="panel1.name" [nzActive]="panel1.active" [ngStyle]="panel1.customStyle">
                            <div class="companyStyle">
                                <div>
                                    <p>認購幣別</p>
                                    <span>{{(fundInfo.total_Commited_Amount < 0) ? "-" : fundInfo.commited_Currency}}</span>
                                </div>
                                <div>
                                    <p>認購金額</p>
                                    <span>{{(fundInfo.total_Commited_Amount < 0) ? 0 : fundInfo.total_Commited_Amount |
                      number:'.0-6'}}</span>
                                </div>
                                <div>
                                    <p>初次投資日</p>
                                    <span>{{fundInfo.first_Trans_Date | date:"yyyy-MM-dd"}}</span>
                                </div>

                            </div>

                            <ng-template #expandedIcon let-active>
                                {{ active }}
                                <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
                            </ng-template>
                        </nz-collapse-panel>
                    </nz-collapse>
                </div>
                <div class="collapsePanel">
                    <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                        <nz-collapse-panel [nzHeader]="'單次認購'" [nzActive]="panel2.active" (click)="updateActive()">
                            <app-fund-security-item *ngFor="let data of securityList" [Data]="data" [type]="fundType.View">
                            </app-fund-security-item>
                        </nz-collapse-panel>
                    </nz-collapse>
                </div>
            </nz-tab>

            <nz-tab [nzTitle]="ddHistoryTitle">
                <app-table-list #TableList [invest_no]="invest_no2">
                </app-table-list>
            </nz-tab>

            <nz-tab [nzTitle]="currencyTitle" (nzClick)="amountTableList.UpdateHeaderDate('')">
                <div>
                    <app-amount-table-list #amountTableList [invest_no]="invest_no" [Name]="tableListData?.name">
                    </app-amount-table-list>
                </div>

            </nz-tab>

            <nz-tab [nzTitle]="FundFinancials" *ngIf="!!invest_no && !!fundInfo?.status">
                <app-fund-financials-table-list [_invest_no]="invest_no" [status]="fundInfo?.status"></app-fund-financials-table-list>
            </nz-tab>

            <nz-tab [nzTitle]="FMVTitle" *ngIf="!!invest_no">
                <!-- <app-company-mapping [_investNo]="invest_no"></app-company-mapping> -->
            </nz-tab>

            <nz-tab [nzTitle]="CompanyFinanceMappingTitle" *ngIf="!!invest_no">
                <app-company-mapping comeFrom="fundMaintain" [_investNo]="invest_no"></app-company-mapping>
            </nz-tab>

        </nz-tabset>
    </div>
</div>
<div class="offcanvas offcanvas-end view-fund-status-history" tabindex="-1" id="statusHistory" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title title" id="offcanvasExampleLabel">投資階段 歷史紀錄</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr class="separator close">
    <div class="offcanvas-body">
        <div class="sub-title">投資階段 :</div>
        <!-- <div><span>{{ fundInfo?.suggest_Status_Nm }}</span></div> -->
        <br>
        <div class="list" *ngFor="let data of statusList">
            <div class="period">{{data.status_Date | date:'YYYY-MM-dd'}}</div>
            <div>{{data.status}}</div>
        </div>
    </div>
</div>
<app-invest-main-rename (updateSuccessName)="updateFundName($event)" #InvestMainRename modeName="基金">
</app-invest-main-rename>