.amount {
  width: 100%;
  padding: 0 10px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}


/* 頭部樣式 */

.header {
  position: relative;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  height: 55px;
  padding: 17px 20px;
}

.headerLeft img {
  margin-right: 20px;
}

.headerLeft span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101010;
}

.nav {
  position: relative;
  height: 47px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background: #fff;
  padding-left: 5px;
}

.nav img {
  margin-left: 60px;
  vertical-align: middle;
  margin-right: 5px;
}

.nav span {
  color: #959EA9;
}

.nav .companyName {
  margin-left: 5px;
  color: #3F4852;
}


/* .navLeft {
margin-left: 60px;
} */

.navLeft>span {
  font-weight: 400;
  font-size: 14px;
  line-height: 47px;
  color: #959EA9;
}

.navRight {
  position: absolute;
  right: 30px;
}

.navRight .rightBtn {
  margin: 10px 0 0 20px;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background: #3074b8;
  color: #ffff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
}

.navRight .rightBtn i {
  margin-right: 15px;
}

.navRight .customButton1 {
  border: 1px solid #1F6EDE;
  border-radius: 2px;
  background: rgba(184, 213, 255, 0.2);
  height: 35px;
  margin: 5px;
  padding: 0 20px;
  position: absolute;
  top: 63px;
  right: -8px;
  width: 158px;
  z-index: 100;
}

.navRight .customButton1 span {
  color: rgba(59, 124, 188);
  font-weight: bold;
}


/* 内容樣式 */

.detailHeader {
  position: relative;
}

.detailHeader a {
  color: #101010;
  margin-right: 30px;
  position: absolute;
  left: 20px;
  top: 5px;
}

.detailHeader span {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-left: 60px;
}

.converStyle {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 60px;
  margin-top: 13px;
}

.converStyle div {
  width: 25%;
  height: 70px;
  background: #ffffff;
  border-radius: 4px;
  margin-right: 16px;
  padding: 10px 0 0 15px;
}

.converStyle p {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #101010;
}

.converStyle span {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #3074B8;
}

.companyStyle {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
}

.companyStyle div {
  width: 25%;
  min-height: 70px;
  padding-top: 20px;
}

.companyStyle p {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #101010;
  margin-bottom: 5px;
}

.companyStyle span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #3F4852;
  white-space: pre-wrap;
}

::ng-deep .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #3074B8 !important;
  font-weight: 500;

}

::ng-deep .ant-tabs-large>.ant-tabs-nav .ant-tabs-tab {
  padding: 0px 30px 10px 30px;
  font-size: 16px;
  color: #3F4852;
  padding-top: 0px;
}

::ng-deep .ant-tabs-ink-bar {
  border-bottom: 4px solid #3074B8 !important;
  /* position: relative; */
  /* top: 20px; */
}

::ng-deep .ant-tabs-top .ant-tabs-ink-bar-animated:before {
  content: " ";
  width: 100px;
  height: 200px;
  position: absolute;
  margin: auto;

  border-bottom: 4px solid #3074B8;
  z-index: 99;
}

.collapsePanel {
  margin: 0 20px 16px 0;
}

.view-fund-status-history .title {
  font-weight: 700;
  font-size: 24px;
}

.view-fund-status-history .sub-title {
  font-weight: 700;
  font-size: 20px;
}

.view-fund-status-history span {
  font-size: 20px;
  font-weight: 600;
  color: #3074B8;
}

.view-fund-status-history .Separator {
  height: 1px;
  left: 0px;
  background: #DCE0E5;
  opacity: 1;
}

.view-fund-status-history .close {
  width: 400px;
  margin: 0px;
}

.view-fund-status-history .short {
  width: 350px;
}

.view-fund-status-history .list {
  height: 60px;
}

.view-fund-status-history .list .period {
  font-weight: 600;
}
