.searchCondition, .switchCurrency {
  font-size: 16px;
}

.searchCondition {
  margin: 0 32px;
}

.detail {
  background-color: #fff;
  border-radius: 10px;
  padding: 0 35px;
}

.detailItem {
  display: flex;
  flex-flow: column;
}

.dateItem {
  width: 390px;
}

.selectItem {
  width: 200px;
}

.ant-picker-range {
  border-radius: 4px;
}

.statement button {
  width: 200px;
  border-radius: 4px;
  color: #959EA9;
}

.statement span {
  text-align: left;
  position: absolute;
  left: 12px;
  top: 4px;
  width: 150px;
}

.statement em {
  position: absolute;
  right: 15px;
  top: 4px;
}

.ant-dropdown-menu-item label span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
}

.ellipsis-content {
  word-break: keep-all;
  /* 不換行 */
  white-space: nowrap;
  /* 不換行 */
  overflow: hidden;
  /* 內容超出寬度時，隱藏超出部分內容 */
  text-overflow: ellipsis;
  /* 當內容溢出時顯示省略標記(...) ；需與overflow:hidden;一起使用。*/
  width: 500px;
}

.search-box,
.SecuritySelect {
  padding-top: 5px;
  padding-bottom: 20px;
  display: inline-block;
  margin-right: 12px;
}

.tableDetail {
  padding: 0 5px;
  background-color: #fff;
  border-radius: 10px;
  margin: 0 32px 16px 32px;

}

.CloseBtn {
  position: relative;
  top: -3px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  text-transform: capitalize;
  /* Function/Tertiary text */
}

.navyblue {
  filter: invert(42%) sepia(44%) saturate(838%) hue-rotate(169deg) brightness(88%) contrast(89%);
}

/* 表格主體 */
.table /deep/ .ant-table>tr>td,
.ant-table tfoot>tr>th,
.ant-table-tbody>tr>td,
.ant-table-thead>tr>th {
  background: #F6F6F6;
  color: #212529;
  text-align: left;
  border: none;
}

.arrowIconPadding {
  position: absolute;
  top: 14px;
  left: 55px;
  font-size: 8px;
  vertical-align: 3px;
}


.currency-to {
  position: absolute;
  top: 8px;
  left: 80px;
}

.currency-result {
  font-size: 20px;
  font-weight: 900;
  margin-bottom: 22px;
}

.searchResult {
  margin: 0 32px 0 32px;
  padding: 16px;
  background-color: #fff;
  border-radius: 10px;
}