<div class="body_scroll">
  <div class="header">
    <div class="headerLeft">
      <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
      <span>匯率查詢</span>
    </div>
    <app-header-right></app-header-right>
  </div>
  <table class="searchCondition">
    <tr>
      <td>
        <div style="padding-top: 33px; font-weight:600;">
          <span>幣別轉換</span>
        </div>
      </td>
      <td>
        <div style="padding: 33px 0px 0px 20px; font-weight:600;">
          <span style="color: red; padding: 0px 2px 0px 0px;">*</span>
          <span>起訖日</span>
        </div>
      </td>
      <td>
      </td>
    </tr>
    <tr>
      <td>
        <div style="padding: 5px 0px 20px 0px;">
          <nz-select [(ngModel)]="ddlCurrencyFrom" nzAllowClear nzPlaceHolder="選擇幣別" style="width: 122px">
            <nz-option *ngFor="let option of listOfCurrency" [nzValue]="option" [nzLabel]="option">
            </nz-option>
          </nz-select>
          <i nz-icon nzType="arrow-right" style="vertical-align: 2px; padding: 0px 10px 0px 10px;"></i>
          <nz-select [(ngModel)]="ddlCurrencyTo" nzAllowClear nzPlaceHolder="選擇幣別" style="width: 122px">
            <nz-option *ngFor="let option of listOfCurrency" [nzValue]="option" [nzLabel]="option">
            </nz-option>
          </nz-select>
        </div>
      </td>
      <td>
        <div style="width: 460px; padding: 5px 0px 20px 25px; display: inline-block; margin-right: 25px;">
          <nz-range-picker nzMode="month" [(ngModel)]="date" [nzPlaceHolder]="dateRange" style="width: 100%;">
          </nz-range-picker>
        </div>
      </td>
      <td style="padding: 5px 0 20px 0;">
        <button nz-button style="background-color: #3074B8; color: #FFFFFF;float: right;" (click)="search('') ">
          <i nz-icon nzType="search" style="vertical-align: 2px;"></i>
          查詢
        </button>
        <nz-back-top></nz-back-top>
      </td>
    </tr>
  </table>

  <div class="searchResult" *ngIf="resultVisible">
    <div class="currency-result">匯率查詢結果</div>
    <div>
      <nz-table #nzTableList [nzData]="listOfResultData" nzTableLayout="fixed" [nzSize]="'small'"
        style=" table-layout: fixed; word-break: break-all;" [nzFrontPagination]="false" [nzNoResult]="'暫無數據'">
        <thead>
          <tr>
            <th style="width: 22%;">幣別轉換</th>
            <th [nzShowSort]="true" (nzSortOrderChange)="sortOnChange($event)" style="width: 22%;">月份</th>
            <th>匯率</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let data of nzTableList.data">
            <tr>
              <td style="position: relative;"> <label style="padding-right: 20px;">{{
                  data.currency_from}}</label> <i nz-icon nzType="arrow-right" class="arrowIconPadding"></i> <label
                  class="currency-to">{{
                  data.currency_to}}</label>
              </td>
              <td><label>{{ data.period_format }}</label></td>
              <td><label>{{ data.exchange_rate }}</label></td>
            </tr>
          </ng-container>
        </tbody>
      </nz-table>
    </div>
  </div>
  <span *ngIf="resultVisible"> &nbsp;</span>
  <div class="tableDetail">
    <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
      <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="searchValue" [nzActive]="collapseActive"
        [nzExpandedIcon]="expandedIcon">
        <ng-template #expandedIcon let-active>
          {{ active }}
          <i nz-icon nzType="right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? -90 : 90"></i>
        </ng-template>
        <table class="switchCurrency" style="float:right">
          <tr>
            <td style="padding-right: 45px;">
              <label style="padding-right: 15px;">NTD</label>
              <nz-switch style="vertical-align: 3px;" [(ngModel)]="switchValueNTD" (ngModelChange)="QuerySwitchNTD()">
              </nz-switch>
            </td>
            <td>
              <label style="padding-right: 15px;">USD</label>
              <nz-switch style="vertical-align: 3px;" [(ngModel)]="switchValueUSD" (ngModelChange)="QuerySwitchUSD()">
              </nz-switch>
            </td>
          </tr>
        </table>
        <div style=" background-color: #fff; border-radius: 10px;">
          <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed" [nzSize]="'small'"
            style=" table-layout: fixed; word-break: break-all;" [nzFrontPagination]="false" [nzNoResult]="'暫無數據'">
            <thead>
              <tr>
                <th style="width: 22%;">幣別轉換</th>
                <th style="width: 23%;">月份</th>
                <th>匯率</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let data of nzTable.data">
                <tr>
                  <td style="position: relative;"> <label style="padding-right: 20px;">{{
                      data.currency_from}}</label> <i nz-icon nzType="arrow-right" class="arrowIconPadding"></i> <label
                      class="currency-to">{{
                      data.currency_to}}</label>
                  </td>
                  <td><label>{{ data.period_format }}</label></td>
                  <td><label>{{ data.exchange_rate }}</label></td>
                </tr>
              </ng-container>
            </tbody>
          </nz-table>
        </div>

      </nz-collapse-panel>
    </nz-collapse>
  </div>
</div>
