html, body {
	height: 98%;
}

.wrap {
	display: flex;
	height: 100%;
	min-height: 465px;
}

.left {
	width: 38%;
	background-color: white;
}

.right {
	width: 62%;
	background-image: url('../img/ims-bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

@media (max-width: 767px) {
	.left {
		width: 100%;
	}
	
	.right {
		width: 0;
	}
}

.login-form {
	width: 90%;
	max-width: 350px;
	margin: 0 auto;
}

.login-title {
	margin: 50px 0;
}

.login-logo {
	width: 100%;
}

.login-group-password {
	margin: 28px 0 25px 0;
}

.login-label {
	line-height: 24px;
	color: #101010;
	margin-bottom: 4px;
}

.login-input input {
	width: 100%;
	height: 38px;
	box-sizing: border-box;
	border: 1px solid rgba(63, 72, 82, 0.2);
	border-radius: 4px;
	padding: 0 12px;
	font-size: 16px;
	line-height: 21px;
}

.login-msg {
	height: 30px;
	padding: 8px 10px;
	font-size: 12px;
	line-height: 30px;
	border: 1px solid transparent;
	border-radius: 1px;
	border-color: #cc0000;
	display: none;
}

.error-sign {
	margin-right: 5px;
	vertical-align: text-bottom;
}

.login-button {
	padding: 25px 0;
}

.login-button input {
	width: 100%;
	height: 54px;
	background-color: #4090E0;
	box-shadow: 0px 2px 16px rgba(43, 95, 157, 0.4);
	border-radius: 8px;
	font-weight: 700;
	font-size: 24px;
	color: white;
	border-width: 0;
	cursor: pointer;
}