<nz-modal [(nzVisible)]="isVisible" nzClassName="securityModel" [nzMaskClosable]="false" [nzStyle]="{top : '20px'}" (nzAfterClose)="nzAfterClose()" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter" (nzOnCancel)="handleCancel($event)">
    <form nz-form [nzAutoTips]="autoTips" [formGroup]="validateForm" (ngSubmit)="handleOk()">
        <ng-template #modalTitle>{{title}}</ng-template>

        <ng-template #modalContent>
            <div class="ContentStyle">
                <div class="security">
                    <h5 style="width: 100%;"><em></em>證券資料</h5>
                    <div class="basicItem" style="width: 100%; " *ngIf="requeiredSet.has(securityRequired.Stock_Type)">
                        <nz-form-item>
                            <div class="itemContent">
                                <nz-form-label [nzRequired]="requeiredSet.has(securityRequired.Stock_Type)">股票形式</nz-form-label>
                                <nz-form-control nzValidatingTip="Validating...">
                                    <nz-select formControlName="Stock_Type" nzAllowClear nzPlaceHolder="選擇股票形式">
                                        <nz-option *ngFor="let data of stockListOf" [nzLabel]="data.label" [nzValue]="data.value" [nzDisabled]="!(!disableStockType || disableStockType == data.code_Extend_A)"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                    </div>

                    <div class="basicItem">
                        <nz-form-item>
                            <div class="itemContent">
                                <nz-form-label [nzRequired]="requeiredSet.has(securityRequired.Dd_Close_Date)">盡職調查完成日</nz-form-label>
                                <nz-form-control nzValidatingTip="Validating...">
                                    <label for="" *ngIf="isUse">{{SecurityList.DD_Close_Date}}</label>
                                    <nz-select *ngIf="!isUse" formControlName="DD_Close_Date" nzAllowClear nzPlaceHolder="選擇盡職調查完成日">
                                        <nz-option *ngFor="let data of closeDateList" [nzLabel]="data | datePip" [nzValue]="data | datePip"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                    </div>

                    <div class="basicItem" style="margin-right: 0px;">
                        <nz-form-item>
                            <div class="itemContent">
                                <nz-form-label>初次投資日</nz-form-label>
                                <nz-form-control nzValidatingTip="Validating...">
                                    <label for="">{{SecurityList.First_Trans_Date}}</label>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                    </div>

                    <div class="basicItem">
                        <nz-form-item>
                            <div class="itemControll">
                                <nz-form-label [nzRequired]="requeiredSet.has(securityRequired.Quit_Date)">退出日期</nz-form-label>
                                <nz-form-control nzValidatingTip="Validating... ">
                                    <nz-date-picker formControlName="Quit_Date" [nzPlaceHolder]=" '輸入時間 ' + dateFormat ">
                                    </nz-date-picker>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                    </div>

                    <div class="basicItem" style="width: 100%;">
                        <nz-form-item>
                            <div class="itemControll" style="width: 100%; ">
                                <nz-form-label [nzRequired]="requeiredSet.has(securityRequired.Quit_Reason)">退出原因</nz-form-label>
                                <nz-form-control nzValidatingTip="Validating... ">
                                    <textarea rows="4" nz-input formControlName="Quit_Reason" placeholder="輸入退出原因"></textarea>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                    </div>

                    <div class="basicItem" style="width: 100%;">
                        <nz-form-item>
                            <div class="itemControll" style="width: 100%; ">
                                <nz-form-label [nzSpan]="24">備註</nz-form-label>
                                <nz-form-control [nzSpan]="24" nzValidatingTip="Validating... ">
                                    <textarea rows="4 " nz-input formControlName="Remark" placeholder="輸入備註"></textarea>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                    </div>
                </div>
                <div class="strike" *ngIf="isShowStrike">
                    <div class="strike_header">
                        <h5><em></em>履約資料</h5>
                        <div (click)="addAgreement()"><em class="bi bi-plus-lg"></em>新增履約資料</div>
                    </div>
                    <div formArrayName="Agreement" *ngFor="let agreement of NAgreements.controls;let agreementIndex = index">
                        <div [formGroupName]="agreementIndex" class="detailItem">
                            <!-- 移除按鈕 -->
                            <div class="detailclose">
                                <a href="javascript:(0);;" (click)="removeArray(agreementIndex)">
                                    <em class="bi bi-dash-circle"></em>
                                    <span>移除</span>
                                </a>
                            </div>

                            <div class="basicItem" style="width:100%; margin-top: 20px;">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>到期日</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-date-picker style="border-radius: 4px; width: 264px;" nzPlaceHolder="輸入時間 YYYY-MM-dd" formControlName="Due_Date">
                                            </nz-date-picker>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem" style="margin-right: 20px;">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>履約價</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <div class="numberItem">
                                                <nz-input-number style="width: 264px;
                                                border-radius: 4px;" formControlName="Strike_Price" [nzPrecision]="6" nzPrecisionMode="cut" [nzMin]="0" [nzMax]="9999999.999999" [nzPlaceHolder]="'輸入履約價'">
                                                </nz-input-number>
                                            </div>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>履約股數</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <div class="numberItem">
                                                <nz-input-number style="width: 264px;
                                                border-radius: 4px;" formControlName="Strike_Stock_Share" nzPrecisionMode="cut" [nzPrecision]="2" [nzMin]="0" [nzMax]="999999999999.99" [nzPlaceHolder]="'輸入履約股數'">
                                                </nz-input-number>
                                            </div>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </ng-template>

        <ng-template #modalFooter>
            <button nz-button nzType="default" class="SecurityCancel" (click)="handleCancel($event)">取消</button>
            <button nz-button nzType="primary" class="SecurityOK" (click)="handleOk()">{{handOkTxt}}</button>
        </ng-template>
    </form>
</nz-modal>