* {
    font-family: 'Noto Sans TC';
    font-style: normal;
}

h5 {
    font-weight: 700;
    font-size: 20px;
    color: #101010;
}

h5 em {
    display: inline-block;
    width: 6px;
    height: 15px;
    background: #c0c8d1;
    margin-right: 8px;
    border-radius: 1px;
}

.itemContent .ant-form-item-control {
    width: 264px;
    font-weight: 400;
}

nz-date-picker {
    width: 264px;
    font-weight: 400;
}

.security {
    display: flex;
    flex-wrap: wrap;
}

.basicItem {
    margin-right: 36px;
    margin-top: 25px;
}

.strike_header {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.strike_header div {
    font-weight: 400;
    font-size: 14px;
    color: #3074B8;
    width: 116px;
    height: 32px;
    margin-left: 18px;
    cursor: pointer;
}

.strike_header div em {
    margin-right: 6px;
}

.detailItem {
    display: flex;
    flex-wrap: wrap;
    border: 1px dashed rgba(63, 72, 82, 0.2);
    border-radius: 4px;
    padding: 0px 10px;
    margin-bottom: 12px;
    position: relative;
}

.detailItem .basicItem {
    margin-right: 0px;
    margin-top: 0px;
}

.detailclose {
    position: absolute;
    right: 12px;
    top: 12px;
}

.detailclose a {
    color: #3F4852;
}

.detailclose em {
    margin-right: 10px;
}

.SecurityOK {
    border: 1px solid #4090E0;
    border-radius: 4px;
    background: #FFFFFF;
    color: #3074B8;
}

.SecurityCancel {
    border: none;
    color: #3074B8;
}

.ContentStyle {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}