.nav {
  /* margin-top: 5px; */
  /* margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #fff; */

  position: relative;
  height: 47px;
  line-height: 47px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 5px;

}

/* .navLeft {
  margin-left: 60px;
} */

.navLeft>span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #959EA9;
}

.navLeft .historyName {
  color: #3F4852;
}

.navRight {
  position: absolute;
  right: 30px;
  /* top: 81px; */
  z-index: 100;
  display: flex;
  align-items: center;
}

.navRight .rightBtn {
  margin-left: 20px;
  width: 80px;
  height: 30px;
  border-radius: 4px;
  border: none;
  background: #3074b8;
  color: #ffff;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


/* 内容樣式 */

/* .detailHeader {
  position: relative;
} */

.detailHeader {
  position: absolute;
  left: 21px;
}

/* .detailHeader a {
  color: #101010;
  position: absolute;
  left: 2px;
  top: 14px;
} */

.detailHeader span {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  margin-left: 60px;
}

.detail {
  margin: 16px 30px 0px 64px;
  position: relative;
}

.converStyle {
  display: flex;
  flex-wrap: nowrap;
  padding: 0 60px;
  margin-top: 13px;
}

.converStyle div {
  width: 25%;
  height: 70px;
  background: #ffffff;
  border-radius: 4px;
  margin-right: 16px;
  padding: 10px 0 0 15px;
}

.converStyle p {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #101010;
}

.converStyle span {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #3074B8;
}

.companyStyle {
  display: flex;
  /* padding: 20px 20px 0px 20px; */
  flex-wrap: wrap;
}

.companyStyle div {
  width: 25%;
  height: 70px;
}

.companyStyle p {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #101010;
  margin-bottom: 5px;
}

.companyStyle span {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #3F4852;
}

.nav .companyName {
  margin-left: 5px;
  color: #3F4852;
}

.nav img {
  margin-left: 60px;
  vertical-align: middle;
  margin-right: 5px;
}
