<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
            <span>{{tableListData.name}}</span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <div class="nav shadow-sm">
        <div class="navLeft">
            <img src="../../../../../assets/images/icon/Vector_Home.svg" alt="" />
            <span><a routerLink="/">Home</a> /</span>
            <span><a routerLink="/../companyMaintain/list"> 公司維護列表</a> / </span>
            <span><a href="javascript:(0);;" (click)="goback()">{{ tableListData.name }}</a> /</span>
            <span class="companyName">{{ tableListData.name }} - Financials檢視頁</span>
        </div>


        <div class="navRight" *ngIf="isShowBtn">
            <a href="javascript:(0);;" (click)="isVisible = true;"><em class="bi-trash" style="color:#E54C4C;"></em></a>
            <button class="rightBtn" (click)="routingOperate()"><em class="bi-pencil-fill"
          style="padding-right: 10px;"></em>編輯</button>
        </div>
        <nz-modal [nzClosable]="false" [nzClassName]="'AmountModal'" [(nzVisible)]="isVisible" nzTitle="是否刪除所選項目？" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="刪除" (nzOnOk)="handleOk()" [nzOkDanger]="true">
            <ng-container *nzModalContent>
                <p>若選擇刪除，所有相關記錄都將清除</p>
            </ng-container>
        </nz-modal>
    </div>

    <div>
        <div class="detailHeader"><a href="javascript:(0);;" (click)="goback()"><em class="bi-arrow-left-short"
          style="font-size: 30px; color: #101010;"></em></a>
        </div>
        <div class="detail">
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="companyStyle">
                        <div>
                            <p>公司全稱</p>
                            <span>{{tableListData.name}}</span>
                        </div>
                        <div>
                            <p>公司簡稱</p>
                            <span>{{tableListData.nickName}}</span>
                        </div>
                        <div><span></span></div>
                        <div><span></span></div>
                        <div>
                            <p>財年</p>
                            <span>{{tableListData.financial_Year}}</span>
                        </div>
                        <div>
                            <p>Quarter</p>
                            <span>{{tableListData.quarter_NM}}</span>
                        </div>
                        <div>
                            <p>報表期初<em style="color: #c0c8d1;margin-left: 10px; " nz-tooltip nzTooltipTitle='報表期初只會設定在該月份的第一天' [nzTooltipOverlayClassName]="'titleTool'" class="bi-info-circle-fill"></em></p>
                            <span>{{tableListData.report_Start_Date | datePip}}</span>
                        </div>
                        <div>
                            <p>報表期末<em style="color: #c0c8d1;margin-left: 10px;" nz-tooltip nzTooltipTitle='報表期末只會設定在該月份的最後一天' [nzTooltipOverlayClassName]="'titleTool'" class="bi-info-circle-fill"></em></p>
                            <span>{{tableListData.report_End_Date | date: "YYYY-MM-dd" }}</span>
                        </div>
                        <div>
                            <p>Single or Con.</p>
                            <span>{{statementList.length > 0 ? statementList[0].label :''}}</span>
                        </div>
                        <div>
                            <p>Currency</p>
                            <span>{{tableListData.currency}}</span>
                        </div>
                        <div>
                            <p>金額單位</p>
                            <span>{{tableListData.unit | number:'.0'}}</span>
                        </div>
                    </div>

                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>


        <div style="padding: 0 32px 0px 64px;">

            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="panel1.name" [nzActive]="panel1.active" [ngStyle]="panel1.customStyle">
                    <div class="companyStyle">
                        <div *ngFor="let item of tableListData.accountList">
                            <p>{{item.account_Name}}<span style="font-size: 14px;">({{item.account_Type}})</span></p>
                            <span>{{item.amount | number:'.0-6'}}</span>
                        </div>
                    </div>

                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>



        <div style="padding: 0 32px 0px 64px;">
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel2.name" [nzActive]="panel2.active" [ngStyle]="panel2.customStyle">
                    <div class="companyStyle">
                        <div>
                            <p>關注事項</p>
                            <span>{{tableListData.remark}}</span>
                        </div>
                    </div>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
        <div style="padding: 0 32px 0px 64px;">
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="panel3.name" [nzActive]="panel3.active" [ngStyle]="panel3.customStyle">
                    <div class="companyStyle">
                        <app-gantt-chart-control [param]="param"></app-gantt-chart-control>
                    </div>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </div>
</div>