<div class="body_scroll">
  <div class="header">
    <div class="headerLeft">
      <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
      <span>投資部PIC維護</span>
    </div>
    <app-header-right></app-header-right>
  </div>
  <div class="tableDetail">
    <div class="search-box">
      <input type="text" nz-input placeholder="搜尋姓名、工號、公司/基金名稱..." [(ngModel)]="searchValue"
        style="width: 260px; border-radius: 4px 0 0 4px;" />
      <button nz-button nzSize="small" nzType="primary" (click)="search(0)" class="search-button" style="height: 32px;
      width: 32px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
          viewBox="0 0 16 16">
          <path
            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
          </path>
        </svg>
      </button>

    </div>
    <div class="CloseBtn" *ngIf="searchValue !=''">
      <a href=" javascript:void(0);" (click)="clearValue()">清除</a>
    </div>
    <nz-table #nzTable [nzData]="listOfData" nzTableLayout="fixed" [nzSize]="'small'"
      style=" table-layout: fixed; word-break: break-all;" [nzShowPagination]="false" [nzNoResult]="'暫無數據'">
      <thead>
        <tr>
          <th style="width: 4%">
          </th>
          <th style="width: 16%">英文姓名</th>
          <th style="width: 16%">工號</th>
          <th>公司/基金名稱</th>
          <th style="width: 120px"></th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let data of nzTable.data">

          <tr>
            <td [nzExpand]="expandSet.has(data.contact_ao)" (nzExpandChange)="onExpandChange(data.contact_ao, $event)">
            </td>
            <td (click)="ExpandClick(data.contact_ao)">{{ data.name_a }}</td>
            <td (click)="ExpandClick(data.contact_ao)">{{ data.contact_ao }}</td>
            <td (click)="ExpandClick(data.contact_ao)" nzEllipsis>{{ data.name_list }}</td>
            <td>
              <a href="javascript:void(0)" (click)="showTransferAreaModal(data.contact_ao,data.name_a)"
                style="color:#3074B8;">
                <i class="bi bi-arrow-left-right"></i> &nbsp; 轉移任務
              </a>
            </td>
          </tr>
          <tr [nzExpand]="expandSet.has(data.contact_ao)">
            <td><span [innerHTML]="data.name_list | searchkeyword:searchValue"></span>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </nz-table>
  </div>
</div>
<nz-modal nzClassName="PICTransfer" [(nzVisible)]="transferAreaIsVisible" [nzFooter]="transferAreaFooter" nzTitle="轉移任務"
  nzClosable="false" [nzContent]="transferAreaContent" nzWidth='890px'>

  <ng-template #transferAreaContent>
    <div>
      <label style="font-weight:bold; color: rgba(63, 72, 82, 1);">投資部PIC</label>
    </div>
    <div>
      <label style="font-size:24px; font-weight:bold;">{{userName}}</label>
    </div>
    <table style="width: 802px;">
      <tr>
        <div *ngFor="let data of listOfPicCompany">
          <div class="paddingForTransfer">
            <button nz-button style="background-color: #ebf2fd; border-color: #1F6EDE; border-width: 1px;"
              [nzSize]="'small'" (click)="transfer1(data.invest_no, data.name)">{{data.name}}</button>
          </div>
        </div>
      </tr>
    </table>
    <div>
      &nbsp;
    </div>
    <div class="arrowpos">
      <img src="../../../../assets/icons/arrow-down.svg" alt="" width="20" height="20" />
    </div>
    <div>
      <label class="transferTarget">轉移對象</label>
    </div>

    <div>
      <nz-select [(ngModel)]="ddlValue" nzAllowClear nzPlaceHolder="選擇對象" style="width: 250px">
        <nz-option *ngFor="let option of listOfPic" [nzValue]="option.emplid" [nzLabel]="option.name_A"></nz-option>
      </nz-select>
    </div>
    <div>
      &nbsp;
    </div>
    <div id="idBottomdiv" class="bottomdivDashed">

      <table style="width: 802px;">
        <tr>
          <div *ngFor="let data of investList">
            <div class="paddingForTransfer">
              <button nz-button style="background-color: #ddfde2; border-color: #2D9365; border-width: 1px;"
                [nzSize]="'small'" (click)="transfer2(data.invest_no, data.name)">{{data.name}}<i nz-icon nzType="close"
                  style="vertical-align:text-top"></i></button>
            </div>
          </div>
          <nz-empty *ngIf="investList.length<=0" nzNotFoundImage="simple" nzNotFoundContent="點選公司/基金名稱標籤加入"></nz-empty>
        </tr>
      </table>
    </div>

  </ng-template>

  <ng-template #transferAreaFooter>
    <button nz-button (click)="TransferCancel()">取消</button>
    <button nz-button nzType="primary" (click)="TransferSubmit()">完成</button>
  </ng-template>
</nz-modal>
