.tableDetail {
  margin: 16px 32px 32px 32px;
  padding: 25px;
  background-color: #fff;
  border-radius: 10px;
}

.search-box {
  margin-bottom: 16px;
}

.CloseBtn {
  position: relative;
  top: -3px;
  display: inline-block;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  /* identical to box height, or 150% */
  text-transform: capitalize;
  /* Function/Tertiary text */
}

.navyblue {
  filter: invert(42%) sepia(44%) saturate(838%) hue-rotate(169deg) brightness(88%) contrast(89%);
}

/* 表格主體 */
.table /deep/ .ant-table>tr>td,
.ant-table tfoot>tr>th,
.ant-table-tbody>tr>td,
.ant-table-thead>tr>th {
  background: #F6F6F6;
  color: #212529;
  text-align: left;
  border: none;
  /* padding: 0.5%; */
  /* font-size: 0.8em; */
}

/* nz-modal */

::ng-deep .ant-modal-title {
  font-weight: bolder;
}

::ng-deep .ant-modal-body {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(63, 72, 82, 0.2);
  border-left-color: #fff;
  border-right-color: #fff;
  overflow-y: auto !important;
  background-color: #ffffff;
}

::ng-deep .ant-empty {
  /* border-style: solid; */
  color: rgba(149, 158, 169, 1);
}

::ng-deep .ant-modal-footer {

  /* border-color: #3F4852;
  border-radius: 5px; */
  background: #ffffff;
}

.paddingForTransfer {
  float: left;
  /* display: inline-block; */
  padding: 6px !important;
}

.arrowpos {
  padding-left: 15px;
  padding-top: 0px;
}

.transferTarget {
  padding-top: 20px;
  padding-left: 6px;
  font-weight: bold;
}

.bottomdivDashed {
  border-style: dashed;
  border-width: 2px;
  border-color: rgba(192, 200, 209, 1);
  min-height: 201px;
  border-radius: 5px;
}

.bottomdivSolid {
  border-style: solid;
  border-width: 2px;
  border-color: rgba(192, 200, 209, 1);
  min-height: 201px;
  border-radius: 5px;
}

.empty {
  display: flex;
  /* 水平置中 */
  justify-content: center;
  /* 垂直置中 */
  align-content: center;
  flex-wrap: wrap;
}
