<div class="item">
  <div class="item_header">
    <h5><em></em> 認購資料</h5>
    <div class="header_right" *ngIf="type != CompanyType.View">
      <em *ngIf="!this.Data.Security_No" style="color:#E64C4C; margin-right: 20px; cursor: pointer;"
        (click)="DeleteData()" class="bi bi-trash"></em>
      <div *ngIf="!isUse && !this.Data.Security_No" style="color: #3074B8;cursor: pointer;" (click)="modifyData()"><em
          style="margin-right: 10px;" class="bi bi-pencil-fill"></em>編輯</div>
      <div *ngIf="!isUse && !!this.Data.Security_No" style="color: #3074B8;cursor: pointer;"
        (click)="modifyContactData()"><em style="margin-right: 10px;" class="bi bi-pencil-fill"></em>編輯合約生效日</div>
    </div>
  </div>
  <div style="margin-bottom: 10px;">

    <div class="security">
      <div>
        <p>認購幣別</p>
        <span>{{Data?.Commited_Currency}}</span>
      </div>
      <div>
        <p>認購金額</p>
        <span>{{Data?.Commited_Amount | number:'.0-6'}}</span>
      </div>
      <div>
        <p>合約生效日</p>
        <span>{{Data?.Effective_Date | date:"yyyy-MM-dd"}}</span>
      </div>
      <div>
        <p>盡職調查完成日</p>
        <span>{{Data?.DD_Close_Date}}</span>
      </div>
      <div style="width: 100%;">
        <p style="width: 16%;">備註</p>
        <span>{{Data?.Remark}}</span>
      </div>
    </div>
  </div>
</div>

<nz-modal [nzClosable]="false" [nzClassName]="'SecurityItem'" [(nzVisible)]="isVisible" nzTitle="是否刪除此卡片？"
  (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="刪除" (nzOnOk)="handleOk()" [nzOkDanger]="true">
  <ng-container *nzModalContent>
    <p>如果要刪除，系統將不儲存此筆Security資料</p>
  </ng-container>
</nz-modal>
