<div class="body_scroll">
  <div class="header">
    <div class="headerLeft">
      <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
      <span>FMV&%</span>
      <a nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="Visible($event, 'List')" class="headerselect">
        {{listSelected}}
        <img src="../../../../../assets/images/icon/Vector_down_black.svg" alt="" *ngIf="isShowVector">
        <img src="../../../../../assets/images/icon/Vector_up_black.svg" alt="" *ngIf="!isShowVector">
      </a>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu nzSelectable>
          <li nz-menu-item (click)="listSelected = 'All List'" (click)="tableList.listSelectItemClick('All List')">All
            List</li>
          <li nz-menu-item (click)="listSelected = 'My List'" (click)="tableList.listSelectItemClick('My List')">My List
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
    <app-header-right></app-header-right>
  </div>
  <div class="listBody">
    <app-fmv-percentage-table-list #tableList></app-fmv-percentage-table-list>
  </div>
</div>
