/* 舍弃 保存按钮 */

.nav {
  position: relative;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  background: #fff;
  height: 47px;
  padding: 10px 0px;
  /* margin-top: 5px; */
}

.nav button {
  width: 68px;
  height: 30px;
  line-height: 22px;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 14px;
}

.nav .btnLeft {
  border: 1px solid #3074b8;
  background: #fff;
  color: #3074B8;
}

.nav .ant-row {
  margin: 0;
}

.btnRight {
  background: #3074B8;
  color: #FFFFFF;
  margin: 0 32px 0 12px;
}


/* 表單樣式 */

/* .detail {
    padding: 0 30px;
    position: relative;
} */

.detail {
  margin: 16px 30px 0px 64px;
  position: relative;
}

/* 小箭頭樣式 */

.backStyle {
  position: absolute;
  left: -43px;
  /* top: 15px; */
  color: #101010;
}

.basicContent {
  display: flex;
  flex-wrap: wrap;
}

.basicItem {
  width: 25%;
}

.basicItem .ant-picker,
.basicItem .ant-input-number {
  width: 200px;
  border-radius: 4px;
}

.duplicateContent {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  color: #101010;
  width: 100%;
  padding-bottom: 16px;
}

.duplicateDetail {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #3F4852;
  width: 100%;
}
