<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
            <span>{{financialsName.name}}</span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <form nz-form [nzAutoTips]="autoTips" onkeydown="if(event.keyCode==13){return false;}" [formGroup]="validateForm">
        <div class="nav shadow-sm">
            <nz-form-item>
                <nz-form-control>
                    <button class="btnLeft" (click)="giveUp($event)">捨棄</button>
                    <button class="btnRight" (click)="submitForm()">儲存</button>
                </nz-form-control>
            </nz-form-item>
            <nz-modal [nzClosable]="false" [nzClassName]="'AmountModal'" [(nzVisible)]="isVisible" nzTitle="是否捨棄變更？" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="捨棄" (nzOnOk)="handleOk()" [nzOkDanger]="true">
                <ng-container *nzModalContent>
                    <p>您尚未存儲變更，若選擇捨棄，將清除所有變更</p>
                </ng-container>
            </nz-modal>
        </div>
        <div class="detail">
            <a href="javascript:(0);;" class="backStyle" (click)="giveUp($event)"><em class="bi-arrow-left-short"
          style="font-size: 30px;"></em></a>

            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="basicContent">
                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>公司全稱</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{financialsName.name}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>公司簡稱</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{financialsName.nick_Name}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <span>

                  </span>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <span>

                  </span>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label nzRequired>財年</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-date-picker *ngIf="isAddOrEdit" nzMode="year" nzPlaceHolder="輸入時間 YYYY" formControlName="Financial_Year">
                                        </nz-date-picker>
                                        <label *ngIf="!isAddOrEdit">{{financialsYearSource}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label nzRequired>Quarter</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-select *ngIf="isAddOrEdit" [nzAllowClear]="true" nzPlaceHolder="選擇Quarter" formControlName="Quarter" style="width: 200px;">
                                            <nz-option *ngFor="let data of quarterList" [nzValue]="data.value" [nzLabel]="data.label">
                                            </nz-option>
                                        </nz-select>
                                        <label *ngIf="!isAddOrEdit">{{quarterReadSource}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>報表期初 <em style="color: #c0c8d1;margin-left: 10px; " nz-tooltip nzTooltipTitle='報表期初只會設定在該月份的第一天' [nzTooltipOverlayClassName]="'titleTool'" class="bi-info-circle-fill"></em></nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="" *ngIf="!isAddOrEdit">{{startDateSource}}</label>
                                        <nz-form-label *ngIf="isAddOrEdit">{{startDateSourceWhenCreate}}</nz-form-label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>報表期末 <em style="color: #c0c8d1;margin-left: 10px;" nz-tooltip nzTooltipTitle='報表期末只會設定在該月份的最後一天' [nzTooltipOverlayClassName]="'titleTool'" class="bi-info-circle-fill"></em></nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label *ngIf="!isAddOrEdit">{{endDateSource}}</label>
                                        <nz-form-label *ngIf="isAddOrEdit">{{endDateSourceWhenCreate}}</nz-form-label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label nzRequired>Single or Con.</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-select [nzAllowClear]="true" nzPlaceHolder="選擇Single or Con." formControlName="Financial_Statement" style="width: 200px;">
                                            <nz-option *ngFor="let data of statementList" [nzValue]="data.value" [nzLabel]="data.label">
                                            </nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label nzRequired>Currency</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-select [nzAllowClear]="true" nzPlaceHolder="選擇Currency" formControlName="Currency" style="width: 200px;">
                                            <nz-option *ngFor="let data of currencyList" [nzValue]="data" [nzLabel]="data"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label nzRequired>金額單位</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-input-number formControlName="Unit" [nzMin]="1" [nzMax]="999999999999" [nzPlaceHolder]="'輸入單位'">
                                        </nz-input-number>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                    </div>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>

            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="'會計科目'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="basicContent" formGroupName="Account" *ngIf="!!AccountControls">
                        <div class="basicItem" *ngFor="let item of AccountList; let key = index">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label nzRequired>{{item.account_Name}}<span style="font-size: 14px;">({{item.account_Type}})</span> </nz-form-label>
                                    <nz-form-control nzDisableAutoTips [nzErrorTip]="'金額格式不正確'">
                                        <nz-input-number [formControlName]="item.control_NM" [nzPrecision]="6" [nzMin]="-999999999999.999999" [nzMax]="999999999999.999999" [nzPlaceHolder]="'輸入金額'">
                                        </nz-input-number>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                    </div>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>

            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="'備註'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="basicContent">
                        <div class="basicItem" style="width: 100%;">
                            <nz-form-item>
                                <div class="itemContent" style="width: 100%;">
                                    <nz-form-label>關注事項</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <textarea style="border-radius: 4px;" formControlName="Remark" nz-input rows="4" placeholder="輸入文字"></textarea>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                    </div>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>

            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p2 [nzHeader]="'財報資料時程'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <app-gantt-chart-control *ngIf="!!param.invest_no" [param]="param"></app-gantt-chart-control>
                    <nz-empty *ngIf="!param.invest_no" nzNotFoundContent="目前尚未有資料"></nz-empty>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p2.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>

            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="'Financials歷史資料'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <nz-table *ngIf="listSource.length > 0" #companyTable [nzShowPagination]="listSource.length > 10 ? true : false" [nzScroll]="{ x: '2000px' }" [nzData]="listSource" [nzShowSizeChanger]="true" [nzShowQuickJumper]="true">
                        <thead>
                            <tr>
                                <th scope="col" *ngFor="let column of listOfColumn; let key = index" [nzWidth]="column.title == 'Single Or Con.' ? '150px' : '' " [nzLeft]="key < 3 ? true : false" [nzShowSort]="column.compare != null" [nzSortFn]="column.compare">{{ column.title }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of companyTable.data">
                                <td nzLeft>{{ data.nickName }}</td>
                                <td nzLeft>{{ data.financial_Year }}</td>
                                <td nzLeft>{{ data.quarter_NM }}</td>
                                <!-- <td>{{ data.report_Type_NM }}</td> -->
                                <td>{{ data.report_End_Date | date:'YYYY-MM-dd' }}</td>
                                <td>{{ data.report_Start_Date | date:'YYYY-MM-dd' }}</td>
                                <td>{{ data.financial_Statement_NM }}</td>
                                <td>{{ data.currency }}</td>
                                <td>{{ data.unit | number: ".0-6"}}</td>
                                <td *ngFor="let item of accountList; let key = index;">{{ data.Account[item] | number: ".0-6" }}</td>
                                <td>{{ data.concerns }}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                    <nz-empty *ngIf="!(listSource.length > 0)" nzNotFoundContent="目前尚未有資料"></nz-empty>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </form>

    <nz-modal [(nzVisible)]="isShowModal" [nzTitle]="null" nzWrapClassName="omponent-header" nzWidth='600px' [nzFooter]="null" [nzContent]="selectAreaContent3" [nzClosable]="null">
        <ng-template #selectAreaContent3>
            <label class="duplicateContent">{{modalTitle}}</label>
            <label class="duplicateDetail">{{modalHeader}}</label>
            <label class="duplicateDetail">
        <div>{{modalDetail}}</div>
      </label>
            <div style="width: 100%; text-align:center; padding-top:32px;">
                <button nz-button nzType="default" *ngIf="isShowModal3" class="cancleClass" (click)="isShowModal = false">返回</button>

            </div>

        </ng-template>
    </nz-modal>

    <nz-modal [(nzVisible)]="isShowFinYearRuleModal" [nzTitle]="null" nzWrapClassName="omponent-header" nzWidth='600px' [nzFooter]="null" [nzContent]="selectAreaContent4" [nzClosable]="null">
        <ng-template #selectAreaContent4>
            <label class="duplicateContent"><span></span></label>
            <label class="duplicateContent">因公司財年制度不同，系統將自動更新<br>報表期初、報表期末</label>
            <div style="width: 100%; text-align:center; padding-top:10px;">
                <button nz-button nzType="default" style="background: #3074B8; color: #FFFFFF; " (click)="isShowFinYearRuleModal = false">OK</button>

            </div>

        </ng-template>
    </nz-modal>

</div>