<aside id="leftsidebar" class="sidebar">
  <div class="navbar-brand">
    <a routerLink="/index" class="webSiteLogo" (click)="clickLogo()">
      <img src="assets/images/radiant.png" width="240px" alt="Wistron IMS">
      <!-- <span>IMS</span> -->
    </a>
  </div>
  <!-- <div class="webSiteName">
        <span>Investment Management System</span>
    </div> -->
  <!-- <div class="user-info">
        <div class="detail">
            <h4>
                {{userDetails == null ? "" : userDetails.firstName}}
                <small>({{userDetails == null ? "" : userDetails.username.toUpperCase()}})</small>
            </h4>
        </div>
    </div> -->
  <div class="menu">
    <ul class="list">
      <li>
        <a routerLink="/index" class="toggled waves-effect waves-block">
          <span>Home</span>
        </a>
      </li>

      <li>
        <a routerLink="/dashboard" class="toggled waves-effect waves-block">
          <span>Dashboard</span>
        </a>
      </li>

      <li>
        <a routerLink="/duediligence" class="toggled waves-effect waves-block">
          <span>盡職調查</span>
          <strong class="bubbleCount"
            *ngIf="(InProfressCount !== 0 && InProfressCount!= null)">{{InProfressCount}}</strong>
        </a>
      </li>

      <li>
        <a routerLink="/companyMaintain/list" class="toggled waves-effect waves-block">
          <span>公司維護</span>
        </a>
      </li>

      <li *ngIf="!isBoardSecretariatMember">
        <a routerLink="/fundMaintain/list" class="toggled waves-effect waves-block">
          <span>基金維護</span>
        </a>
      </li>

      <li>
        <a routerLink="/amountMaintain" class="toggled waves-effect waves-block">
          <span>金額記錄</span>
        </a>
      </li>

      <li *ngIf="!isBoardSecretariatMember">
        <a routerLink="/fmvPercentage" class="toggled waves-effect waves-block">
          <span>FMV&%</span>
        </a>
      </li>

      <li *ngIf="!isBoardSecretariatMember">
        <a routerLink="/referencePrice" class="toggled waves-effect waves-block">
          <span>參考股價</span>
        </a>
      </li>

      <li class="fundFinancials">
        <a routerLink="/fundFinancials" class="toggled waves-effect waves-block">
          <span>基金淨值</span>
        </a>
      </li>

      <li>
        <a routerLink="/financials" class="toggled waves-effect waves-block">
          <span>Financials</span>
        </a>
      </li>

      <li *ngIf="!isBoardSecretariatMember">
        <a routerLink="/companyMapping" class="toggled waves-effect waves-block">
          <span>公司財務對應表</span>
        </a>
      </li>

      <li>
        <a routerLink="/actionReport" class="toggled waves-effect waves-block">
          <span>執行報表</span>
        </a>
      </li>

      <li [class]="isManagerOfIMDOrIT ? '' : 'd-none'">
        <a routerLink="/picMaintain" class="toggled waves-effect waves-block">
          <span>投資部PIC維護</span>
        </a>
      </li>

      <li>
        <a routerLink="/currencyRate" class="toggled waves-effect waves-block">
          <span>匯率查詢</span>
        </a>
      </li>

      <li>
        <a routerLink="/realtimetext" class="toggled waves-effect waves-block">
          <span>即時溫濕度</span>
        </a>
      </li>

      <li>
        <a routerLink="/realtimetextyesterday" class="toggled waves-effect waves-block">
          <span>昨日平均溫濕度</span>
        </a>
      </li>

      <li>
        <a routerLink="/realtimetextweek" class="toggled waves-effect waves-block">
          <span>上週平均溫濕度</span>
        </a>
      </li>

      <li>
        <a routerLink="/realtimetextmonth" class="toggled waves-effect waves-block">
          <span>上月平均溫濕度</span>
        </a>
      </li>

      <li>
        <a routerLink="/summarytablehour" class="toggled waves-effect waves-block">
          <span>上月平</span>
        </a>
      </li>

      <li>
        <a routerLink="/parametersetting" class="toggled waves-effect waves-block">
          <span>參數設定</span>
        </a>
      </li>



      <li *ngIf="isLocalhost">
        <a href="javascript:void(0);" class="menu-toggle waves-effect waves-block"
          [ngClass]="{'toggled':activeMenu == 'examples'}" (click)="openItem('examples')">
          <span>Examples</span>
        </a>
        <ul class="ml-menu" [ngClass]="{'d-block':activeMenu == 'examples'}">
          <li><a routerLink="/basicform" class=" waves-effect waves-block">Basic Form</a></li>
          <li><a routerLink="/advancedform" class=" waves-effect waves-block">Advanced Form</a></li>
          <li><a routerLink="/formexamples" class=" waves-effect waves-block">Form Examples</a></li>
          <li><a routerLink="/formvalidation" class=" waves-effect waves-block">Form Validation</a></li>
          <li><a routerLink="/formsummernote" class=" waves-effect waves-block">Summernote</a></li>
          <li><a routerLink="/callapi" class=" waves-effect waves-block">Call API</a></li>
          <li><a routerLink="/gridview" class=" waves-effect waves-block">Gridview</a></li>
          <li><a routerLink="/vendorcodefundutilities" class="waves-effect waves-block">Vendor Code Fund Utilities</a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</aside>
