<!-- <div style="background-color:white; padding-top:2%"> -->
  <div style="background-color:white;">
  <div class="gantt-component">
    <span style="margin-left:-6%">
      <i nz-icon style="position: relative; top: -3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#8992FF" class="bi bi-square-fill"
          viewBox="0 0 16 16">
          <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
        </svg>
      </i>
      長條為一筆財報資料&nbsp;&nbsp;&nbsp;
      <i nz-icon style="position: relative; top: -3px;">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#F6F6F6" class="bi bi-square-fill"
          viewBox="0 0 16 16">
          <defs>
            <style>
              .square-fill-rule {
                stroke-width: 3;
                stroke: #3F485233;
              }
            </style>
          </defs>
          <path class="square-fill-rule" d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2z" />
        </svg>
      </i>
      灰底為無Quarter資料
    </span>
    <!-- header row-->
    <div class="row-axis">
      <div class="row-title">
        <span style="display: inline-block; width: 50px;">&nbsp;</span>
      </div>
      <div class="quarter-axis">
        <span class="quarter" *ngFor="let quarter of quarterAxis"
          [style.width]="quarter.quarterDurationPercentage + '%'">
          {{quarter.quarterName}}
        </span>

      </div>
    </div>
    <nz-empty *ngIf="timelineEmpty" nzNotFoundContent="目前尚未有資料"></nz-empty>
    <div class="row-axis-line">
      <div class="row-title-line">
        <span style="float: left; width: 50px;">&nbsp;</span>
      </div>
      <div class="quarter-axis-line">
        <span class="quarter-line" *ngFor="let quarter of quarterAxis"
          [style.width]="quarter.quarterDurationPercentage + '%'">
          <!-- <em class="bi-circle-fill" style="color: #3B85ED;"></em> -->
          <i nz-icon style="width: 9%; margin-left: -5.8px; margin-top: -15px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="9" height="9" fill="#3B85ED" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8" />
            </svg>
          </i>
          <i nz-icon style="width: 91%; padding-left: 2px; margin-top: -17px;">
            <svg xmlns="http://www.w3.org/2000/svg" width="94%" height="4" fill="#3B85ED" viewBox="0 0 122.88 1">
              <defs>
                <style>
                  .cls-1 {
                    fill-rule: evenodd;
                  }
                </style>
              </defs>
              <path class="cls-1"
                d="M1.51,0H121.37a1.52,1.52,0,0,1,1.51,1.51V22.18a1.52,1.52,0,0,1-1.51,1.51H1.51A1.52,1.52,0,0,1,0,22.18V1.51A1.52,1.52,0,0,1,1.51,0Z" />
            </svg>
          </i>
        </span>
      </div>
    </div>

    <!-- gantt chart rows-->
    <div class="gantt-chart-row" *ngFor="let row of rows; let i = index">
      <div class="row-title">
        <span style="display: inline-block; width: 50px;">{{row.name}}</span>
      </div>
      <div class="row-events">
        <div class="event-period" *ngFor="let event of row.events; let j = index"
          [style.margin-left]="getEventOffsetPercentage(event.startDate)+'%'"
          [style.width]="getEventDurationPercentage(event) + '%'" [style.background]="getColour(i)"
          [style.border-radius]="getBorderRadius(event.startDate)">
        </div>
        <!-- gantt chart grid lines-->
        <div class="grid-lines">
          <span class="grid-line" *ngFor="let month of monthAxis; let i = index"
            [style.width]="month.monthDurationPercentage + '%'" [style.background-color]="getBackgroundColor(i)"></span>
        </div>
      </div>
    </div>

  </div>

</div>
