$header-background-color: #ffffff;
$header-border: solid white;
$title-row-width: 4.5rem;
$title-row-line-width: 4.5rem;
$title-colum-background: #f5f5f5;
$font-size: 0.8rem;
$border: 1px solid #d1d1d4;
$alternate-row-background-color: white;

.gantt-component {
  min-width: 600px;
  max-width: 85%;
  margin: 0 auto;
  margin: 15px auto 0px auto;

  .row-axis {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-align: center;
    background-color: $header-background-color;
    color: #3F4852;
    padding-top: 40px;

    .row-title {
      //左上角測試框
      font-weight: bold;
      width: $title-row-width;
      padding-right: 1rem;
      padding-left: 1rem;
      background-color: white;
      position: relative;
      color: white;
    }

    .quarter-axis {
      font-weight: bold;
      position: relative;
      display: flex;
      width: 100%;
      align-items: stretch;

      .quarter {
        display: inline-block;
        margin: auto;
        height: 100%;
      }
    }

  }

  .row-axis-line {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    text-align: center;
    background-color: $header-background-color;
    color: blue;

    .row-title-line {
      //左上角測試框
      font-weight: bold;
      width: $title-row-line-width;
      padding-right: 1rem;
      padding-left: 1rem;
      background-color: white;
      position: relative;
      color: white;
    }

    .quarter-axis-line {
      font-weight: bold;
      position: relative;
      display: flex;
      width: 100%;
      align-items: stretch;


      .quarter-line {
        // display: inline-block;
        // margin: auto;
        // height: 100%;
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;
      }
    }

  }


  .gantt-chart-row {
    font-size: $font-size;
    border-top: $border;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    border: hidden;

    .row-title {
      font-weight: bold;
      width: $title-row-width;
      border-right: $border;
      padding: 1rem;
      // background-color: $title-colum-background;
      background-color: white;
    }

    .event-period {
      height: 40%;
      position: absolute;
      // border-radius: 16px 16px 16px 16px;
      text-align: center;


      // .event-name {
      //   color: white;
      //   text-align: center;
      //   vertical-align: middle;
      //   font-size: 0.7rem;
      //   font-weight: bold;

      // }
    }


    .row-events {
      position: relative;
      display: flex;
      align-items: center;
      width: 100%;
    }

    .grid-lines {
      display: flex;
      width: 100%;
      height: 100%;

      .grid-line:nth-child(3) {
        border-right: $border;

      }

      .grid-line:nth-child(6) {
        border-right: $border;
      }

      .grid-line:nth-child(9) {
        border-right: $border;
      }

      .grid-line:nth-child(12) {
        border-right: $border;
      }

      .grid-line:nth-child(15) {
        border-right: $border;
      }

      .grid-line:nth-child(18) {
        border-right: $border;
      }

      .grid-line:nth-child(21) {
        border-right: $border;
      }

      .grid-line:nth-child(24) {
        border-right: $border;
      }

      .grid-line:nth-child(27) {
        border-right: $border;
      }

      // .grid-line:nth-child(4) {

      //   // #F6F6F6
      //   background-color: #F6F6F6;

      // }

      // .grid-line:nth-child(5) {

      //   // #F6F6F6
      //   background-color: #F6F6F6;
      // }

      // .grid-line:nth-child(6) {
      //   border-right: $border;
      //   // #F6F6F6
      //   background-color: #F6F6F6;
      // }
    }
  }

  .grid-lines {
    display: flex;
    width: 100%;
    height: 100%;

    // .grid-line:nth-child(7) {

    //   // #F6F6F6
    //   background-color: #F6F6F6;

    // }

    // .grid-line:nth-child(8) {

    //   // #F6F6F6
    //   background-color: #F6F6F6;
    // }

    // .grid-line:nth-child(9) {
    //   border-right: $border;
    //   // #F6F6F6
    //   background-color: #F6F6F6;
    // }
  }

  .gantt-chart-row:last-child {
    border-bottom: hidden;
  }

  .gantt-chart-row:nth-child(odd) {
    .row-events {
      background-color: $alternate-row-background-color;
    }
  }

  .gantt-chart-row:nth-child(even) {
    .row-events {
      background-color: $alternate-row-background-color;
    }
  }

  .gantt-chart-row:first-child {

    border: 5px solid;

    .row-title {

      border: 5px solid;
    }
  }
}
