<div class="body_scroll">
  <div class="header">
    <div class="headerLeft">
      <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
      <span> {{tableListData.name}}</span>
    </div>
    <app-header-right></app-header-right>
  </div>
  <form nz-form [nzAutoTips]="autoTips" [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <div class="nav">
      <nz-form-item>
        <nz-form-control>
          <button class="btnLeft" (click)="giveUp($event)">捨棄</button>
          <button nz-button nzType="primary" class="btnRight">儲存</button>
        </nz-form-control>
      </nz-form-item>
      <nz-modal [nzClosable]="false" [nzClassName]="'AmountModal'" [(nzVisible)]="isVisible" nzTitle="是否捨棄變更？"
        (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="捨棄" (nzOnOk)="handleOk()" [nzOkDanger]="true">
        <ng-container *nzModalContent>
          <p>您尚未存儲變更，若選擇捨棄，將清除所有變更</p>
        </ng-container>
      </nz-modal>
    </div>
    <div class="detail">
      <a href="javascript:(0);;" class="backStyle" (click)="giveUp($event)"><em class="bi-arrow-left-short"></em></a>
      <div>
        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
          <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active"
            [ngStyle]="panel.customStyle">
            <div class="foldContent">
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>基金全稱</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <!-- <nz-select class="inputcontext" formControlName="name" nzShowSearch nzAllowClear
                        nzPlaceHolder="選擇基金" (ngModelChange)="nameChange($event)" ngModel="">
                        <nz-option *ngFor="let data of listOfData" [nzLabel]="data.name"
                          [nzValue]="data.name + '|' + data.invest_No">
                        </nz-option>
                      </nz-select> -->
                      {{tableListData.name}}
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>基金簡稱</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <!-- <input nz-input formControlName="nickName" placeholder="輸入名稱" /> -->
                      {{tableListData.nickname}}
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>投資部PIC</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <label>
                        {{tableListData.emp_Name}}
                      </label>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%; ">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>基金種類</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <label>
                        {{tableListData.fund_Type}}
                      </label>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>VendorCode</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <label *ngIf="tableListData.vendor_Code != ''">
                        {{tableListData.vendor_Code}}
                      </label>
                      <nz-input-group *ngIf="tableListData.vendor_Code == '' || tableListData.vendor_Code == null"
                        [nzSuffix]="suffixIconSearch" class="inputcontext">
                        <input readonly type="text" nz-input placeholder="搜尋Vendor Code"
                          formControlName="vendor_Code" />
                      </nz-input-group>
                      <ng-template #suffixIconSearch>
                        <a href="javascript:(0);;" style="color:#959ea9;"><em class="bi bi-search"
                            (click)="VendorCodeSearch.initVendorName(tableListData.name)"></em></a>
                      </ng-template>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label nzRequired>事業體</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-select class="inputcontext" formControlName="bo" nzShowSearch nzAllowClear
                        nzPlaceHolder="選擇事業體">
                        <nz-option *ngFor="let data of boList" [nzLabel]="data.label" [nzValue]="data.value">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>事業體窗口</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-input-group [nzSuffix]="suffixIconSearch1">
                        <input readonly class="inputcontext" type="text" nz-input placeholder="搜尋工號"
                          formControlName="bo_pic" />
                      </nz-input-group>
                      <ng-template #suffixIconSearch1>
                        <a href="javascript:(0);;" style="color:#959ea9;"><em class="bi bi-search"
                            (click)="BOPICSearch.initBOPIC()"></em></a>
                      </ng-template>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
            </div>
            <ng-template #expandedIcon let-active>
              {{ active }}
              <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
      <div>
        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
          <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="panel1.name" [nzActive]="panel1.active"
            [ngStyle]="panel1.customStyle">
            <div class="foldContent">
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label nzRequired>投資階段</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-select class="inputcontext" formControlName="fundPeriod" nzShowSearch nzAllowClear
                        nzPlaceHolder="選擇階段">
                        <nz-option *ngFor="let data of fundPeriodList" [nzLabel]="data.label" [nzValue]="data.value">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>退出日期</nz-form-label>
                    <nz-form-control>
                      <nz-date-picker style="border-radius: 4px; width: 200px;" nzPlaceHolder="輸入時間 YYYY-MM-dd"
                        formControlName="quitDate" (ngModelChange)="CheckQuitDate($event)"></nz-date-picker>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 100%;">
                <nz-form-item>
                  <div class="itemRemark" style="width: 100%;">
                    <nz-form-label>退出原因</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <textarea style="border-radius: 4px;" formControlName="quitReason" nz-input rows="4"
                        placeholder="輸入文字"></textarea>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
            </div>
            <ng-template #expandedIcon let-active>
              {{ active }}
              <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
      <div>
        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
          <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel2.name" [nzActive]="panel2.active"
            [ngStyle]="panel2.customStyle">
            <div class="foldContent">
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>認購幣別</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-select class="inputcontext" formControlName="currencyList" nzShowSearch nzAllowClear
                        nzPlaceHolder="選擇幣別">
                        <nz-option *ngFor="let data of currencyList" [nzLabel]="data" [nzValue]="data">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>認購金額</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-input-number style="width: 200px;" [nzPrecision]="6" formControlName="commitedAmount"
                        [nzMin]="0" [nzMax]="999999999999.999999" [nzPlaceHolder]="'輸入金額'"
                        (ngModelChange)="checkAmount($event)"></nz-input-number>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>設立形式</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-select class="inputcontext" formControlName="liabilityType" nzShowSearch nzAllowClear
                        nzPlaceHolder="選擇形式">
                        <nz-option *ngFor="let data of liabilityTypeList" [nzLabel]="data.label" [nzValue]="data.value">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 25%;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>國家</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-select class="inputcontext" formControlName="headquarter" nzShowSearch nzAllowClear
                        nzPlaceHolder="選擇國家">
                        <nz-option *ngFor="let data of headquarterList" [nzLabel]="data" [nzValue]="data"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
              <div style="width: 100%;">
                <nz-form-item>
                  <div class="itemRemark" style="width: 100%;">
                    <nz-form-label>備註</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <textarea style="border-radius: 4px;" formControlName="remark" nz-input rows="4"
                        placeholder="輸入文字"></textarea>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
            </div>

            <ng-template #expandedIcon let-active>
              {{ active }}
              <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </div>
  </form>
  <app-vendor-code-search (chosenVendorCode)="chosenVendorCode($event)" #VendorCodeSearch [modeName]="modeName">
  </app-vendor-code-search>
  <app-bo-pic-search (chosenBOPICItem)="chosenBOPIC($event)" #BOPICSearch></app-bo-pic-search>
</div>
