/* 頭部樣式 */
.header {
  position: relative;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  height: 55px;
  padding: 17px 20px;
}

.headerLeft img {
  margin-right: 20px;
}

.headerLeft span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101010;
}

.nav {
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  background: #fff;
  height: 40px;
  padding: 10px 0px;
  margin-top: 5px;
}

.nav button {
  width: 68px;
  height: 30px;
  line-height: 22px;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 14px;
}

.nav .btnLeft {
  border: 1px solid #3074b8;
  background: #fff;
  color: #3074B8;
}

.nav .ant-row {
  margin: 0;
}

.btnRight {
  background: #3074B8;
  color: #FFFFFF;
  margin: 0 32px 0 12px;
}

.detail {
  padding: 0 30px;
  position: relative;
}

.backStyle {
  position: absolute;
  left: 3px;
  top: 15px;
  color: #101010;
}

.foldContent {
  display: flex;
  flex-wrap: wrap;
}

.itemContent {
  margin-left: 16px;
}

/* .ant-form-item-label */
.itemContent .ant-form-item-label {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
}

.itemContent .ant-form-item-control {
  width: 100%;
  max-width: 200px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #3F4852;
}

.numberItem>.ant-input-number {
  width: 200px;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  color: #959EA9;
}

.thStyle th {
  background: #fff;
}

.itemRemark {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #000000;
  padding: 0px 0px 0px 15px;
}

.inputcontext {
  width: 200px;
  border-radius: 4px;
}
