<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
            <span>{{companyFullName}}</span>
        </div>
        <app-header-right></app-header-right>
    </div>

    <form nz-form [nzAutoTips]="autoTips" onkeydown="if(event.keyCode==13){return false;}" [formGroup]="validateForm">
        <div class="nav shadow-sm">
            <nz-form-item>
                <nz-form-control>
                    <button class="btnLeft" (click)="popup.openModel()">捨棄</button>
                    <button class="btnRight" (click)="submitForm()">儲存</button>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="detail">
            <a href="javascript:(0);;" class="backStyle" (click)="popup.openModel()"><em class="bi-arrow-left-short"
          style="font-size: 30px;"></em></a>
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="basicContent">
                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>公司全稱</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{companyFullName}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>投資部PIC</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label>{{user_Name}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label [nzRequired]="requiredSet.has('date')">日期</nz-form-label>
                                    <nz-form-control>
                                        <div class="itemDate" *ngIf="requiredSet.has('date')">
                                            <nz-date-picker formControlName="transaction_Date" [nzPlaceHolder]="'輸入時間' + dateFormat "></nz-date-picker>
                                        </div>
                                        <label for="" *ngIf="!requiredSet.has('date')">{{transaction_Date  | isNullDate | datePip }}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <!-- 一般股价 -->
                        <div class="detailTitle">一般股價</div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>建議幣別</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{public_Suggest_Currency | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>建議股價</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{public_Suggest_Price | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label [nzRequired]="requiredSet.has('publicCurrency')">實際幣別</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-select formControlName="public_Actual_Currency" nzShowSearch nzAllowClear nzPlaceHolder="選擇實際幣別">
                                            <nz-option *ngFor="let data of currencyList" [nzLabel]="data" [nzValue]="data"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label [nzRequired]="requiredSet.has('publicPrice')">實際股價</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-input-number formControlName="public_Actual_Price" [nzPrecision]="2" [nzMin]="0" [nzMax]="999999.99" [nzPlaceHolder]="'輸入實際股價'">
                                        </nz-input-number>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                        <!-- 私募股價 -->
                        <div class="detailTitle">私募股價</div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>建議幣別</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{private_Suggest_Currency | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>建議股價</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{private_Suggest_Price | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label [nzRequired]="requiredSet.has('privateCurrency')">實際幣別</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-select formControlName="private_Actual_Currency" nzShowSearch nzAllowClear nzPlaceHolder="選擇實際幣別">
                                            <nz-option *ngFor="let data of currencyList" [nzLabel]="data" [nzValue]="data"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label [nzRequired]="requiredSet.has('privatePrice')">實際股價</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-input-number formControlName="private_Actual_Price" [nzPrecision]="2" [nzMin]="0" [nzMax]="999999.99" [nzPlaceHolder]="'輸入實際股價'">
                                        </nz-input-number>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="detailTitle"></div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label nzRequired>私/上市(%)</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-input-number formControlName="discount" [nzPrecision]="2" [nzMin]="0" [nzMax]="100" [nzPlaceHolder]="'輸入私/上市百分比數值'">
                                        </nz-input-number>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem"></div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>淨值幣別</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{amount_Currency | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>淨值</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{amount | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>歷史幣別</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{history_Currency | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>歷史股價</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{history_Price | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label [nzRequired]="requiredSet.has('limit_Currency')">指定股價幣別</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-select formControlName="limit_Currency" nzShowSearch nzAllowClear nzPlaceHolder="選擇指定股價幣別">
                                            <nz-option *ngFor="let data of currencyList" [nzLabel]="data" [nzValue]="data"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label [nzRequired]="requiredSet.has('limit_Price')">指定股價</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-input-number formControlName="limit_Price" [nzPrecision]="2" [nzMin]="0" [nzMax]="999999.99" [nzPlaceHolder]="'輸入指定股價'">
                                        </nz-input-number>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                    </div>

                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </form>
</div>

<!-- 舍弃显示Model -->
<app-popup #popup>
    <div headerTitle style="font-weight: 700;
    font-size: 28px;">是否捨棄變更？</div>
    <div ContentBody style="font-weight: 400;
    font-size: 16px;">
        <p>您尚未存儲變更，若選擇捨棄，將清除所有變更</p>
    </div>
    <div FooterDetail class="modelFotter">
        <button nz-button nzType="default" class="cancel" (click)="popup.closeModel()">取消</button>
        <button nz-button nzType="primary" class="ok" (click)="goback()">捨棄</button>
    </div>
</app-popup>

<!-- 校验显示Model -->
<app-popup #popup1>
    <div headerTitle style="font-weight: 700;
    font-size: 28px;">已存在此筆資料，無法儲存 </div>
    <div ContentBody style="font-weight: 400;
    font-size: 16px;">
        <p>以下重複資料已存在：</p>
        <p>公司全稱：{{companyFullName}}</p>
        <p>日期：{{checkContent | datePip}}</p>
    </div>
    <div FooterDetail class="modelFotter">
        <button nz-button nzType="default" class="cancel" (click)="popup1.closeModel()">返回</button>
    </div>
</app-popup>