.nav {
    position: relative;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 16px;
    background: #fff;
    height: 47px;
    padding: 10px 0px;
    /* margin-top: 5px; */
}

.nav button {
    width: 68px;
    height: 30px;
    line-height: 22px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 14px;
}

.nav .btnLeft {
    border: 1px solid #3074b8;
    background: #fff;
    color: #3074B8;
}

.nav .ant-row {
    margin: 0;
}

.btnRight {
    background: #3074B8;
    color: #FFFFFF;
    margin: 0 32px 0 12px;
}


/* 内容样式 */

.detail {
    margin: 16px 30px 0px 64px;
    position: relative;
}

.backStyle {
    position: absolute;
    left: -43px;
    color: #101010;
}

.basicContent {
    display: flex;
    flex-wrap: wrap;
}

.basicItem {
    width: 25%;
}

.detailTitle {
    width: 100%;
    border-bottom: 2px solid rgba(63, 72, 82, 0.2);
    padding-bottom: 2px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #959EA9;
}

.itemDate {
    width: 100%;
    padding: 0 10px 0px 2px;
}

nz-date-picker {
    width: 100%;
    border-radius: 4px;
}

.itemContent {
    width: 100%;
    padding: 0 10px 0 2px;
}

nz-input-number {
    width: 100%;
    padding: 0 10px 0 2px;
    border-radius: 4px;
}

.modelFotter .cancel {
    border: 1px solid #4090E0;
    border-radius: 4px;
    height: 37px;
    font-weight: 400;
    font-size: 16px;
    color: #3074B8;
}

.modelFotter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}