/* .detail {
  background-color: #fff;

  padding: 15px 30px 70px 30px;
  height: 70vh;
  border-radius: 4px;
} */

.detail {
  background-color: #fff;
  border-radius: 10px;
  padding: 16px 32px 0px 0px;
  /* display: flex; */
  flex-wrap: wrap;
  margin: 16px 37px 0 37px;
  height: 70vh;
}

.financialsclass ::ng-deep .ant-spin-container {
  height: 63vh;
}

.financialsclass ::ng-deep .ant-spin-contain {
  height: 63vh;
}

.financialsclass ::ng-deep .ant-pagination {
  position: fixed;
  bottom: 0px !important;
  right: 135px !important;
  z-index: 100;
}

.nav>div {
  margin-right: 10px;
}

.currency .ant-select {
  background: #f6f6f6;
  border-radius: 4px;
  width: 120px;
}

.detail /deep/ .ant-select-selector {
  height: 30px;
}

.VerBar {
  width: 1px;
  background: #F1F2F3;
}

.selectDate {
  display: flex;
  padding-bottom: 10px;
}

.selectDate .ant-picker {
  border-radius: 4px;
  margin-right: 5px;
  height: 30px;
}

.selectDate .ant-select {
  border-radius: 4px;
  width: 100px;
}

.arrows {
  margin: 0 10px;
}

.Reqerror {
  border: 1px solid #ff4d4f;
}

.detail_Table {
  margin-top: 15px;
  padding: 0px 0px 0px 40px;
}

.titlestyle {
  display: flex;
  /* margin-top: 10px; */
  font-weight: 400;
  line-height: 32px;
  margin-right: 12px;
  font-size: 12px;
  margin-left: auto;
}

.titlestyle span {
  margin-left: auto;
  margin-right: 10px;
}

.btntCreate {
  border: none;
  background: #3074b8;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #fff;
  width: 86px;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.CloseBtn {
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
}

.CloseBtn a {
  color: #959EA9;
}

/* Striped table */
/* ::ng-deep .ant-table {
  overflow: auto;
} */

tr:nth-child(odd) {
  background-color: #F6F6F6 !important;
}

/* .detail /deep/ .ant-table-fixed {
  height: 60vh !important;
  overflow: auto;
} */

th,
td {
  min-width: 160px;
  max-width: 160px;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: inherit !important;
  padding: 4.5px 8px !important;
}

th {
  padding: 4px 8px !important;
}

.selectFile {
  border-radius: 4px;
  font-size: 14px;
  background: #FFFFFF;
  border: 1px solid #4090E0;
  color: #3074B8;
  width: 108px;
  height: 32px;
  padding: 0px 0px 0px 0px;
}
