<div [ngStyle]="{'height': ((showUploadBtn && !invest_no) ? '91vh' :  '70vh'), 'margin-left': ((showUploadBtn && !invest_no) ? '0px' :  '-36px'), 'margin-top': ((showUploadBtn && !invest_no) ? '0px' :  '-15px')}" [ngClass]="isDim ? 'dim' : ''">
    <div class="detail">
        <div style="padding-left: 40px; margin-top: 5px;" class="nav">
            <div class="search-box" *ngIf="!this.invest_no">
                <input type="text" nz-input placeholder="搜尋公司簡稱" [(ngModel)]="searchValue" style="width: 160px; border-radius: 4px 0 0 4px" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button" style="height: 32px; width: 32px">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search"
            viewBox="0 0 16 16">
            <path
              d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
            </path>
          </svg>
        </button>
            </div>
            <div class="currency">
                <nz-select [(ngModel)]="currencyValue" (ngModelChange)="tableSearch()" nzAllowClear nzBorderless nzPlaceHolder="Currency" [nzShowArrow]="true">
                    <nz-option *ngFor="let data of currencyList" [nzValue]="data" [nzLabel]="data"></nz-option>
                </nz-select>
            </div>
            <div class="VerBar"></div>
            <div class="selectDate">
                <nz-date-picker [ngClass]="ReqStatus.size > 0 && ReqStatus.has(0) ? 'Reqerror' : ''" [nzDisabledDate]="disabledStartDate" nzMode="year" [(ngModel)]="DateStart" nzPlaceHolder="財年" (nzOnOpenChange)="handleStartOpenChange($event)"></nz-date-picker>

                <nz-select [ngClass]="ReqStatus.size > 0 && ReqStatus.has(1) ? 'Reqerror' : ''" [(ngModel)]="quarterStart" nzAllowClear nzPlaceHolder="Quarter" [nzShowArrow]="true">
                    <nz-option *ngFor="let data of quarterList" [nzValue]="data.value" [nzLabel]="data.label" [nzDisabled]="quarterStartDis.has(data.value)"></nz-option>
                </nz-select>

                <div class="arrows">
                    <i nz-icon nzType="swap-right" nzTheme="outline"></i>
                </div>

                <nz-date-picker [ngClass]="ReqStatus.size > 0 && ReqStatus.has(2) ? 'Reqerror' : ''" #endDatePicker [nzDisabledDate]="disabledEndDate" nzMode="year" [(ngModel)]="DateEnd" nzPlaceHolder="財年" (nzOnOpenChange)="handleEndOpenChange($event)"></nz-date-picker>

                <nz-select [ngClass]="ReqStatus.size > 0 && ReqStatus.has(3) ? 'Reqerror' : ''" [(ngModel)]="quarterEnd" nzAllowClear nzPlaceHolder="Quarter" [nzShowArrow]="true">
                    <nz-option *ngFor="let data of quarterList" [nzValue]="data.value" [nzLabel]="data.label" [nzDisabled]="quarterEndDis.has(data.value)"></nz-option>
                </nz-select>
            </div>
            <div class="CloseBtn" *ngIf="
        !!searchValue ||
        !!currencyValue ||
        !!startValue ||
        !!quarterStartValue ||
        !!endValue ||
        !!quarterEndValue
      ">
                <a href=" javascript:void(0);" (click)="closeSelectValue()">清除</a>
            </div>
            <div class="titlestyle">
                <span>
          總共
          {{
          financialsService == null ? 0 : (financialsService.total$ | async)
          }}
          個項目
        </span>
                <div style="margin-right: 10px;">
                    <a *ngIf="showUploadBtn && !invest_no" (click)="BOPICSearch.initUploadDialog()">
                        <button nz-button class="selectFile">
              <!-- <i nz-icon style="font-size: 26px;" nzType="upload" nzTheme="outline"></i> -->
              <em class="bi-upload" style="color: #3074B8;"><a style="font-size: 12px; color: #3074B8;"></a></em>
              <span style="padding-left: 10px;">
                匯入檔案
              </span>
            </button>
                    </a>
                </div>
                <div>
                    <button class="btntCreate" (click)="routingOperate(null)" *ngIf="!!invest_no && this.loginUserId == this.concat_Ao">
            <img src="../../../../../assets//images/icon/Vector_Add.svg" alt="" />
            新增
          </button>
                </div>
            </div>
        </div>
        <div class="detail_Table">

            <nz-table class="financialsclass" #companyTable [nzScroll]="{ x: '2100px' }" [nzData]="
        financialsService == null ? null : (financialsService.dataList$ | async)
      " [nzShowSizeChanger]="true" [nzShowQuickJumper]="true">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let column of listOfColumn; let key = index" [nzWidth]="column.title == 'Single Or Con.' ? '150px' : ''" [nzLeft]="key < 3 ? true : false" [nzShowSort]="column.compare != null" [nzSortFn]="column.compare">
                            {{ column.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of companyTable.data; let key2 = index" (click)="viewFinancials(data.financials_No, data.invest_No)">
                        <td nzLeft [ngStyle]="{'background-color': (key2%2 == 1) ? '#F6F6F6' :  '#ffffff'  }">{{ data.nickName }}
                        </td>
                        <td nzLeft [ngStyle]="{'background-color': (key2%2 == 1) ? '#F6F6F6' :  '#ffffff'  }">{{ data.financial_Year }}
                        </td>
                        <td nzLeft [ngStyle]="{'background-color': (key2%2 == 1) ? '#F6F6F6' :  '#ffffff'  }">{{ data.quarter_NM }}
                        </td>
                        <!-- <td>{{ data.report_Type_NM }}</td> -->
                        <td>{{ data.report_Start_Date | datePip }}</td>
                        <td>{{ data.report_End_Date | date: "YYYY-MM-dd" }}</td>
                        <td>{{ data.financial_Statement_NM }}</td>
                        <td>{{ data.currency }}</td>
                        <td>{{ data.unit | number: ".0-6" }}</td>
                        <td *ngFor="let item of accountList; let key = index">
                            {{ data.Account[item] | number: ".0-6" }}
                        </td>
                        <td>{{ data.concerns }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>
<app-file-upload (chosenBOPICItem)="chosenBOPIC($event)" [logicAddr]="logicAddr" [titleName]="titleName" [templateName]="templateName" [fileName]="fileName" [fileDescription]="fileDescription" [preVerifyAddr]="preVerifyAddr" #BOPICSearch>
</app-file-upload>