<nz-modal [(nzVisible)]="selectVisible" nzClassName="unitPic" nzTitle="選擇事業單位窗口" nzWrapClassName="omponent-header" nzWidth='644px' (nzAfterOpen)="AfterOpen()" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="確認" (nzOnOk)="handleOk()" [nzContent]="selectAreaContent">
    <ng-template #selectAreaContent>
        <div class="itemContent">
            <nz-form-control>
                <div class="boPICStyle">
                    <div class="searchDiv">
                        <input nz-input [(ngModel)]="searchValue" placeholder="輸入部門代號、工號、英文名..." />
                        <div class="searchIcon" (click)="onSearch(); searchSimple = true" style="cursor: pointer;"><em class="bi bi-search"></em></div>
                        <span (click)="searchValue = ''" style="cursor: pointer;" *ngIf="!!searchValue">清除條件</span>
                    </div>
                </div>
            </nz-form-control>
        </div>
        <div class="check">
            <span style="color: hsl(210, 59%, 45%);">已選 {{setOfCheckedEmplid.size}}/4</span>
            <div class="checkDiv" *ngFor="let item of checkListValue">{{item.name_A}} <em class="bi bi-x-lg" style="cursor: pointer;" (click)="deleteUnit(item.emplid)"></em></div>
        </div>
        <div *ngIf="boPICListVisible" class="detail">

            <div class="result" *ngIf="boPICList?.length >= 100">搜尋結果： (最多顯示100筆) </div>
            <div class="tableDetail">
                <nz-table #fixedTable [nzShowPagination]="false" [nzScroll]="{y: '250px'}" [nzData]="boPICList" [nzShowQuickJumper]="true" [nzPageSize]="100" [nzShowSizeChanger]="true" [nzSize]="'small'">
                    <thead>
                        <tr class="thStyle">
                            <th [nzWidth]="'40px'"></th>
                            <th [nzWidth]="'140px'">部門代號</th>
                            <th [nzWidth]="'140px'">工號</th>
                            <th>英文名</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of fixedTable.data ">
                            <td [nzChecked]="setOfCheckedEmplid.has(data.emplid)" [nzDisabled]="!setOfCheckedEmplid.has(data.emplid) && setOfCheckedEmplid.size >= 4" nzLeft (nzCheckedChange)="onBOPICChecked(data, $event)"></td>
                            <td [ngStyle]="{'color' : setOfCheckedEmplid.has(data.emplid)? '#4090E0' : '' }">{{ data.deptid}}</td>
                            <td [ngStyle]="{'color': setOfCheckedEmplid.has(data.emplid) ? '#4090E0' : '' }">{{ data.emplid }}</td>
                            <td [ngStyle]="{'color': setOfCheckedEmplid.has(data.emplid) ? '#4090E0' : '' }">{{ data.name_A }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
        <div class="simpleStyle" *ngIf="searchSimple && !(boPICList.length > 0)">
            <nz-spin nzSimple></nz-spin>
        </div>

    </ng-template>
</nz-modal>