.boPICStyle {
    display: flex;
    padding: 0 20px;
    flex-wrap: wrap;
}

.boPICStyle p {
    margin-bottom: 0;
}

.popupButton {
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.result {
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    margin-left: auto;
    display: flex;
    align-items: center;
    /* Function/Secondary text */
    color: #3F4852;
}

.tableDetail {
    width: 100%;
}

.thStyle th {
    background: #fff;
    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    text-transform: capitalize;
}

.itemContent {
    margin-bottom: 20px;
}

.searchDiv {
    margin-right: 30px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.searchDiv input {
    width: 286px;
}

.searchDiv span {
    font-weight: 400;
    font-size: 14px;
    color: #959EA9;
    margin-left: 15px;
}

.searchIcon {
    width: 34px;
    height: 32px;
    background: #3074B8;
    border-radius: 0px 3px 3px 0px;
    text-align: center;
    line-height: 32px;
    color: #fff;
}

.detail {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.check {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.check span {
    margin-bottom: 8px;
}

.checkDiv {
    padding: 0px 8px;
    background: #F1F2F3;
    border: 1px solid #C0C8D1;
    border-radius: 2px;
    height: 24px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.simpleStyle {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}