<div class="body_scroll" *ngIf="canShowWholeView">
    <div class="header" *ngIf="!comeFrom">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span>公司財務對應表</span>
            <a nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="listVisibleChange($event)" class="headerselect">
                {{listSelected}}
                <img src="../../../../../assets/images/icon/Vector_down_black.svg" alt="" *ngIf="!isListVisible">
                <img src="../../../../../assets/images/icon/Vector_up_black.svg" alt="" *ngIf="isListVisible">
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="updateListSelected('All List')" (click)="listSelectItemClick('All List')">
                        All List
                    </li>
                    <li nz-menu-item (click)="updateListSelected('My List')" (click)="listSelectItemClick('My List')">My
                        List</li>
                </ul>
            </nz-dropdown-menu>
        </div>
        <app-header-right></app-header-right>
    </div>

    <div class="detail" [ngStyle]="{'margin':comeFromOther ? '0px' : '16px 32px 0 32px'}">
        <div class="d-flex flex-column w-100">
            <div class="d-flex topBar">
                <div class="search-box">
                    <input type="text" nz-input placeholder={{searchPlaceholder}} [(ngModel)]="searchValue"
                        style=" width: 386px;border-radius: 3px 0 0 3px;" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button" style="height: 30px;
                        width: 32px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                            </path>
                        </svg>
                    </button>
                </div>

                <div class="SecuritySelect companySearchItem">
                    <button nz-button nzTrigger="click" nz-dropdown [nzClickHide]="false" [nzPlacement]="'bottomCenter'"
                        [nzDropdownMenu]="menu3" [ngClass]="arrSecurityTitleId.length > 0 ? 'selectBGC' : ''">
                        <span class="selectSpan">
                            證券/基金種類
                            <b class="bubbleCount" *ngIf="arrSecurityTitleId.length > 0">{{arrSecurityTitleId.length}}</b>
                        </span>
                        <em>
                            <img src="../../../../../assets/images/icon/Vector_down.svg" alt=""
                                *ngIf="arrSecurityTitleId.length == 0">
                            <img (click)="clearSelectedSecurityType()"
                                src="../../../../../assets/images/icon/Vector_close.svg" alt=""
                                *ngIf="arrSecurityTitleId.length > 0">
                        </em>
                    </button>
                    <nz-dropdown-menu #menu3="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let data of securityList">
                                <label nz-checkbox [(ngModel)]="data.checked"
                                    (ngModelChange)="AccountTitleSelect(data)">{{data.label}}</label>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>

                <div class="CloseBtn" *ngIf="arrSecurityTitleId.length> 0">
                    <a href=" javascript:void(0);" (click)="clearSearchCondition()">清除</a>
                </div>
                <div class="searchRight">
                    <div class="titlestyle">總共 {{ gridviewService == null ? 0 : gridviewService.total$ | async }} 個項目
                    </div>
                </div>
            </div>

            <div>
                <nz-table class="mappingTable" #companyTable
                    [nzData]="gridviewService == null ? null : gridviewService.dataList$ | async"
                    [nzShowSizeChanger]="true" [nzShowQuickJumper]="true">
                    <thead>
                        <tr>
                            <th scope="col" *ngFor="let column of listOfColumn" [nzShowSort]="column.compare != null"
                                [nzSortFn]="column.compare">{{ column.title }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of companyTable.data" (click)="toDetail(data.mapping_No)">
                            <td>{{ data.name }}</td>
                            <td>{{ data.pic }}</td>
                            <td>{{ data.fin_Sys_Name }}</td>
                            <td>{{ data.fund_Type_Name }}</td>
                            <td>{{ data.equity_Method == true ?'YES' : 'NO'}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>

</div>