.body_scroll {
    height: 100vh;
}

.detail /deep/ .ant-table-content {
    white-space: nowrap;
}

.detail {
    background-color: #fff;
    /* padding: 16px 32px; */
    border-radius: 10px;
    padding: 16px 32px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    /* margin: 16px 37px 0 37px; */
    height: 70vh;
}

.kindStyle {
    font-style: normal;
    font-weight: 400;
    background: #f6f6f6;
    border-radius: 4px;
    width: 120px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
    margin-left: 12px;
    cursor: pointer;
}

.kindItem {
    display: inline-block;
}

.kindItem .bubbleCount {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #3074b8;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    line-height: 16px;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
}

.reportSVG {
    /* position: relative; */
    padding-bottom: 5px;
}


/* .reportSVG em {
    position: absolute;
    top: 4px;
    right: -20px;
} */

.reportSVG svg {
    font-size: 10px !important;
}

.CloseBtn {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    margin-left: 12px;
}

.CloseBtn a {
    color: #959EA9;
}

.titlestyle {
    font-weight: 400;
    line-height: 32px;
    margin-right: 12px;
    font-size: 12px;
}

.btnCreate {
    border: none;
    background: #3074b8;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    width: 86px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnCreate i.bi {
    margin-right: 16px;
    font-size: 16px;
}

.companySearchItem {
    margin-left: 12px;
}


/* 搜尋按鈕 */

.search-box button {
    border-radius: 0 4px 4px 0;
    background-color: #3074B8;
    opacity: 1;
    border-color: #3074B8;
}

.search-box button:hover {
    opacity: 0.75;
    transition: all 0.5s ease;
}

button svg.bi.bi-search {
    padding-bottom: 1px;
}


/* 篩選 */

.detail /deep/ .ant-select-selector {
    background-color: #F6F6F6;
    border-radius: 4px;
    border-color: #F6F6F6;
    height: 30px;
    align-items: center;
}


/* 清除圖示背景色 */

.detail /deep/ .ant-select-clear {
    background-color: #F6F6F6;
}


/* 篩選箭頭顏色 */

.detail /deep/ .ant-select-arrow svg,
.detail /deep/ .anticon-calendar {
    fill: #3074B8;
    color: #3074B8;
}


/* 圖示置中 & 顏色 */

.detail /deep/ .ant-select-close-icon svg,
.detail /deep/ .ant-picker-suffix {
    display: flex;
    justify-content: center;
    align-items: center;
    fill: #3074B8;
}


/* Input 尺寸 */

.detail /deep/ .ant-input {
    padding-top: 3px;
    padding-bottom: 3px;
}


/* 搜尋右側 */

.searchRight {
    margin-left: auto;
    display: flex;
}

.searchRight .UploadStyle {
    cursor: pointer;
    border: 1px solid #4090E0;
    border-radius: 4px;
    width: 148px;
    height: 30px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    color: #3074B8;
}

.searchRight .UploadStyle em {
    margin-right: 10px;
}

.searchRight div {
    display: inline-block;
    margin-right: 16px;
    font-size: 12px;
}

.searchRight button {
    width: 88px;
    height: 30px;
    border: none;
    border-radius: 4px;
    background: #3074B8;
    color: #fff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
}

.searchRight img {
    margin-right: 16px;
    vertical-align: baseline;
}

.detail .topBar {
    margin-bottom: 17px;
    padding-left: 32px;
}

.kindStyle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

::ng-deep .ant-table-thead .ant-table-row .ant-table-cell {
    background-color: #ffffff;
    border: 0;
}

::ng-deep .ant-table-tbody>tr>td {
    border: 0 !important;
}

.mappingTable ::ng-deep .ant-spin-container {
    overflow: auto !important;
    padding-left: 32px;
    height: 63vh;
}

.mappingTable ::ng-deep .ant-spin-contain {
    height: 63vh;
}


/* Striped table */

tr:nth-child(odd) {
    background-color: #F6F6F6;
}

th,
td {
    /* min-width: 192.5px;
  max-width: 192.5px; */
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 4.5px 8px !important;
    overflow-wrap: inherit !important;
}

td:not(.firstTd) {
    min-width: 192.5px;
    max-width: 192.5px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.firstTd {
    min-width: 32px;
    max-width: 32px;
    background-color: #ffffff;
    text-align: right;
}


/* Fixed Pagination 分頁固定 */

.mappingTable ::ng-deep .ant-table-pagination.ant-pagination {
    position: fixed;
    bottom: 0px !important;
    right: 135px !important;
    z-index: 100;
}

.selectSpan {
    width: 56px;
    height: 21px;
    /* Body - TC/14px Regular */
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height, or 150% */
    text-transform: capitalize;
    /* Function/Secondary text */
    color: #3F4852;
    /* 超出隐藏 */
    overflow: hidden;
    text-overflow: ellipsis;
}

.SecuritySelect {
    width: 140px;
    border: 0px;
}

.SecuritySelect button {
    width: 100%;
    border: none;
    border-radius: 4px;
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 12px;
    padding-left: 12px;
}

.SecuritySelect em {
    vertical-align: top;
}

.SecuritySelect span {
    width: 90px;
    vertical-align: super;
    text-align: left;
}

.SecuritySelect b {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #3074B8;
    vertical-align: middle;
    color: #fff;
    border-radius: 4px;
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
}

.selectBGC {
    background-color: #B8D5FF33 !important;
}