.header {
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    height: 55px;
    padding: 17px 25px;
}

.headerLeft img {
    margin-right: 20px;
}

.headerLeft span {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #101010;
}

.nav {
    position: relative;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 16px;
    background: #fff;
    height: 47px;
    padding: 10px 0px;
    /* margin-top: 5px; */
}

.nav button {
    width: 68px;
    height: 30px;
    line-height: 22px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 14px;
}

.nav .btnLeft {
    border: 1px solid #3074b8;
    background: #fff;
    color: #3074B8;
}

.nav .ant-row {
    margin: 0;
}

.btnRight {
    background: #3074B8;
    color: #FFFFFF;
    margin: 0 32px 0 12px;
}


/* detail樣式 */


/* .detail {
    padding: 0 30px;
    position: relative;
} */

.detail {
    margin: 16px 30px 0px 64px;
    position: relative;
}

.backStyle {
    position: absolute;
    left: -43px;
    /* top: 15px; */
    color: #101010;
}

.foldContent {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
}

.itemDetail {
    width: 25%;
    padding-right: 15px;
}

.itemContent {
    margin-right: 16px;
    width: 100%;
}

.itemContent .ant-form-item-label {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}

.itemContent .ant-form-item-control {
    width: 264px;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F4852;
}

.itemDate .ant-picker {
    width: 100%;
    border-radius: 4px;
}

.numberItem>.ant-input-number {
    width: 100%;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    color: #959EA9;
}

.thStyle th {
    background: #fff;
}

.itemRemark {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
}


/* Striped table */

tr:nth-child(even) {
    background-color: #F6F6F6 !important;
}

th {
    padding: 4px 8px !important;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4.5px 8px !important;
}

th,
td {
    min-width: 225px;
    max-width: 225px;
}

.detail /deep/ .ant-spin-container {
    height: auto !important;
}

.detail /deep/ .ant-pagination {
    position: static !important;
}