<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span>{{dataName}}</span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <form nz-form [nzAutoTips]="autoTips" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div class="nav shadow-sm">
            <nz-form-item>
                <nz-form-control>
                    <button class="btnLeft" (click)="giveUp($event)">捨棄</button>
                    <button nz-button nzType="primary" class="btnRight">儲存</button>
                </nz-form-control>
            </nz-form-item>
            <nz-modal [nzClosable]="false" [nzClassName]="'AmountModal'" [(nzVisible)]="isVisible" nzTitle="是否捨棄變更？" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="捨棄" (nzOnOk)="handleOk()" [nzOkDanger]="true">
                <ng-container *nzModalContent>
                    <p>您尚未存儲變更，若選擇捨棄，將清除所有變更</p>
                </ng-container>
            </nz-modal>
        </div>
        <div class="detail">
            <a href="javascript:(0);;" class="backStyle" (click)="giveUp($event)"><em class="bi-arrow-left-short" style="font-size: 30px;"></em></a>
            <div>
                <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                    <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                        <div class="foldContent">
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>公司/基金名稱</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="" *ngIf="!!invest_no">{{name}}</label>
                                            <nz-select *ngIf="!invest_no" [formControlName]="REQUIREDCOLUMN.Name" nzShowSearch nzAllowClear nzPlaceHolder="輸入公司/基金名稱">
                                                <nz-option *ngFor="let data of nameList" [nzLabel]="data" [nzValue]="data"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>證券/基金種類</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="" *ngIf="typeName != '' && typeName != null">{{typeName}}</label>
                                            <nz-select *ngIf="!(typeName != '' && typeName != null)" (ngModelChange)="typeChange($event); LinkLogic(true)" [formControlName]="REQUIREDCOLUMN.Use_Type" ShowSearch nzAllowClear nzPlaceHolder="選擇證券/基金種類">
                                                <nz-option *ngFor="let data of securityDataList" [nzLabel]="data.label" [nzValue]="data.value"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>合約日期</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{effective_Date | datePip | isNullDate }}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>盡職調查日期</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{dd_Close_Date | datePip:'transition' | isNullDate }}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>投資主體</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select [formControlName]="REQUIREDCOLUMN.INVESTMENT_SUBJECT" nzShowSearch nzAllowClear nzPlaceHolder="選擇投資主體">
                                                <nz-option *ngFor="let data of subjectList" [nzLabel]="data.label" [nzValue]="data.value"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>BO TYPE</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select [formControlName]="REQUIREDCOLUMN.BO" nzShowSearch nzAllowClear nzPlaceHolder="選擇BO TYPE">
                                                <nz-option *ngFor="let data of boTypeList" [nzLabel]="data.label" [nzValue]="data.value"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                        </div>

                        <ng-template #expandedIcon let-active>
                            {{ active }}
                            <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                        </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>
            </div>
            <div>
                <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                    <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="'歷程更新'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                        <div class="foldContent">
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>類型</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select [formControlName]="REQUIREDCOLUMN.RECORD_TYPE" (ngModelChange)="LinkLogic(true)" nzShowSearch nzAllowClear nzPlaceHolder="選擇類型">
                                                <nz-option *ngFor="let data of typeItemList" [nzLabel]="data.label" [nzValue]="data.value"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>日期</nz-form-label>
                                        <nz-form-control>
                                            <div class="itemDate">
                                                <nz-date-picker [formControlName]="REQUIREDCOLUMN.INVESTMENT_DATE" [nzPlaceHolder]="'輸入時間' + dateFormat "></nz-date-picker>
                                            </div>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label [nzRequired]="isCurrency">幣別</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select [formControlName]="REQUIREDCOLUMN.ORI_CURRENCY" nzShowSearch nzAllowClear nzPlaceHolder="選擇幣別">
                                                <nz-option *ngFor="let data of currencyList" [nzLabel]="data" [nzValue]="data"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label [nzRequired]="isAmount">金額</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating..." nzDisableAutoTips [nzErrorTip]="passwordErrorTpl">

                                            <div class="numberItem">
                                                <nz-input-number [nzPrecisionMode]="'cut'" [nzPrecision]="6" formControlName="ori_Amount" [nzMin]="-999999999999.999999" [nzMax]="999999999999.999999" [nzPlaceHolder]="'輸入金額'" (ngModelChange)="inputTxt()"></nz-input-number>
                                            </div>
                                            <ng-template #passwordErrorTpl let-control>
                                                <ng-container *ngIf="control.hasError('required')">請輸入金額</ng-container>
                                                <ng-container *ngIf="control.hasError('confirm')">金額格式不正確</ng-container>
                                            </ng-template>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label [nzRequired]="isCost">處分成本</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating..." nzDisableAutoTips [nzErrorTip]="passwordErrorTpl1">
                                            <div class="numberItem">
                                                <nz-input-number formControlName="ori_Cost" [nzPrecisionMode]="'cut'" [nzPrecision]="6" [nzMin]="-999999999999.999999" [nzMax]="999999999999.999999" [nzPlaceHolder]="'輸入成本'"></nz-input-number>
                                            </div>
                                            <ng-template #passwordErrorTpl1 let-control>
                                                <ng-container *ngIf="control.hasError('required')">請輸入成本</ng-container>
                                                <ng-container *ngIf="control.hasError('confirm')">成本内容格式不正確</ng-container>
                                            </ng-template>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label [nzRequired]="isShare">股數</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating..." nzDisableAutoTips [nzErrorTip]="passwordErrorTpl2">
                                            <div class="numberItem">
                                                <nz-input-number formControlName="ori_Stock_Share" [nzPrecisionMode]="'cut'" [nzMin]="-999999999999.999999" [nzMax]="999999999999.999999" [nzPrecision]="6" [nzPlaceHolder]="'輸入股數'" (ngModelChange)="inputTxt()"></nz-input-number>
                                            </div>
                                            <ng-template #passwordErrorTpl2 let-control>
                                                <ng-container *ngIf="control.hasError('required')">請輸入股數</ng-container>
                                                <ng-container *ngIf="control.hasError('confirm')">股數内容格式不正確</ng-container>
                                            </ng-template>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label [nzRequired]="isPrice">股價</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating..." nzDisableAutoTips [nzErrorTip]="passwordErrorTpl3">
                                            <div class="numberItem">
                                                <nz-input-number formControlName="ori_Stock_Price" [nzPrecisionMode]="'cut'" [nzMin]="0" [nzMax]="999999999999.999999" [nzPrecision]="6" [nzPlaceHolder]="'輸入股價'"></nz-input-number>
                                            </div>
                                            <ng-template #passwordErrorTpl3 let-control>
                                                <ng-container *ngIf="control.hasError('required')">請輸入股價</ng-container>
                                                <ng-container *ngIf="control.hasError('confirm')">股價内容格式不正確</ng-container>
                                            </ng-template>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label [nzRequired]="isRatio">持股比例%</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating..." [nzErrorTip]="passwordErrorTpl4">
                                            <div class="numberItem">
                                                <nz-input-number formControlName="ori_Stock_Ratio" [nzMin]="0" [nzMax]="100" [nzPrecision]="4" [nzPlaceHolder]="'輸入比例'"></nz-input-number>
                                            </div>
                                            <ng-template #passwordErrorTpl4 let-control>
                                                <ng-container *ngIf="control.hasError('required')">請輸入比例</ng-container>
                                                <ng-container *ngIf="control.hasError('confirm')">持股比例内容格式不正確</ng-container>
                                            </ng-template>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>Vendor code</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-input-group [nzSuffix]="suffixIconSearch1">
                                                <input readonly class="inputcontext" type="text" nz-input placeholder="搜尋公司全稱、投資部PIC" formControlName="vendor_Code" />
                                            </nz-input-group>
                                            <ng-template #suffixIconSearch1>
                                                <a href="javascript:(0);;" style="color:#959ea9;"><em class="bi bi-search"></em></a>
                                            </ng-template>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>Vendor Name</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{vendor_Name | isNullDate }}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="itemDetail"></div>
                            <div class="itemDetail"></div>


                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>交付或付款條件</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select formControlName="payment" (ngModelChange)="LinkLogic(true)" nzShowSearch nzAllowClear nzPlaceHolder="選擇交付或付款條件">
                                                <nz-option *ngFor="let data of paymentList" [nzLabel]="data.label" [nzValue]="data.value"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>董事會日期</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <div class="itemDate">
                                                <nz-date-picker formControlName="board_Meeting_Date" [nzPlaceHolder]="'輸入時間' + dateFormat "></nz-date-picker>
                                            </div>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="itemDetail">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label [nzRequired]="isRatio">該公司發行股份總數</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <div class="numberItem">
                                                <nz-input-number formControlName="outstanding_Shares" [nzPrecisionMode]="'cut'" [nzMin]="0" [nzMax]="999999999999" [nzPrecision]="0" [nzPlaceHolder]="'輸入該公司發行股份總數'"></nz-input-number>
                                            </div>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div style="width: 100%;">
                                <nz-form-item>
                                    <div class="itemRemark" style="width: 100%;">
                                        <nz-form-label>備註</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <textarea style="border-radius: 4px;" formControlName="remark" nz-input rows="4" placeholder="輸入文字"></textarea>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                        </div>
                        <ng-template #expandedIcon let-active>
                            {{ active }}
                            <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
                        </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>
            </div>
            <div *ngIf="isAddOrUpdate">
                <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                    <nz-collapse-panel (click)="updateActive()" #p2 [nzHeader]="'金額記錄歷史資料'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                        <div class="foldContent">
                            <!-- <nz-table #fixedTable [nzHideOnSinglePage]="true" [nzData]="historyTableList" [nzScroll]="{ x: '2500px'}" [nzShowPagination]="true" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true" [nzSize]="'small'"> -->
                            <nz-table #fixedTable [nzHideOnSinglePage]="true" [nzData]="historyTableList" [nzShowPagination]="true">
                                <thead>
                                    <tr class="thStyle">
                                        <th scope *ngFor="let data of listOfColumn; let key = index;" [nzLeft]="key <= 1 ? true : false" [nzShowSort]="key <= 5 ? true: false" [nzSortFn]="key <= 5 ? data.compare: ''">{{ data.title }}</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of fixedTable.data">
                                        <!-- <td nzLeft>{{ data.name }}</td>
                                        <td nzLeft>{{ data.type_Name}}</td> -->
                                        <td>{{ data.use_Name }}</td>
                                        <td>{{ data.use_Type_Name}}</td>
                                        <td>{{ data.record_Type_Name }}</td>
                                        <td>{{ data.investment_Date | date:'MM/dd/YYYY'}}</td>
                                        <td>{{ data.investment_Subject_Name}}</td>
                                        <td>{{ data.ori_Currency }}</td>
                                        <td>{{ data.ori_Amount}}</td>
                                        <td>{{ data.ori_Cost }}</td>
                                        <td>{{ data.ori_Stock_Share }}</td>
                                        <td>{{ data.ori_Stock_Price}}</td>
                                        <td>{{ data.ori_Stock_Ratio * 1000000 / 10000}}</td>
                                        <td>{{ data.remark}}</td>
                                        <td>{{ data.trans_Currency }}</td>
                                        <td>{{ data.trans_Amount }}</td>
                                        <td>{{ data.trans_Cost}}</td>
                                        <td>{{ data.trans_Stock_Price }}</td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </div>
                        <ng-template #expandedIcon let-active>
                            {{ active }}
                            <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p2.nzActive ? 90 : -90"></em>
                        </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>
            </div>
        </div>
    </form>
</div>