<div class="body_scroll">

    <div class="header shadow-sm">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span>Home</span>
        </div>
        <app-header-right></app-header-right>
    </div>

    <div class="container-fluid mt-2">
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="body">

                        <fieldset class="mb-4">
                            <legend>
                                <img src="../../../assets/icons/telephone-fill.svg" alt="" width="20" height="20" />
                                Contact Us
                            </legend>
                            <div class="contactUsMsg">
                                Any question, please send mail to
                                <a href="mailto:{{ contactEmail }}">{{ contactEmail }}</a>
                            </div>
                        </fieldset>

                        <div style="height: 400px;"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
