<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span class="leftSpan">companyName</span>
        </div>
        <app-header-right></app-header-right>
    </div>

    <div class="nav shadow-sm">
        <div class="navLeft">
            <img src="../../../../../assets/images/icon/Vector_Home.svg" alt="" />
            <span><a routerLink="/">Home</a> /</span>
            <span><a routerLink="/duediligence"> 公司財務對應表列表</a> /</span>
            <span class="companyName">companyName</span>
        </div>
    </div>

    <div class="detail">
        <div class="detailHeader">
            <a href="javascript:(0);;" style="color: #101010" (click)="goBack()"><em class="bi-arrow-left-short"
                    style="font-size: 30px;"></em></a>
        </div>

        <nz-collapse [nzBordered]="false" style="font-weight: 600; font-size: 16px; color: #23609d"
            [nzExpandIconPosition]="'right'">
            <nz-collapse-panel [ngStyle]="panel.customStyle" [nzHeader]="panel.name" [nzActive]="panel.active"
                (click)="updateActive()">
                <div class="checkbasic">
                    <div>
                        <h5>公司/基金名稱</h5>
                        <span>{{ listOfData?.name }}</span>
                    </div>
                    <div>
                        <h5>投資部PIC</h5>
                        <span>{{ listOfData?.pic }}</span>
                    </div>
                    <div>
                        <h5></h5>
                        <span></span>
                    </div>
                    <div>
                        <h5></h5>
                        <span></span>
                    </div>
                    <div>
                        <h5>財務系統使用名稱</h5>
                        <span>{{ listOfData?.fin_Sys_Name}}</span>
                    </div>
                    <div>
                        <h5>證券/基金種類</h5>
                        <span>{{ listOfData?.fund_Type_Name}}</span>
                    </div>
                    <div>
                        <h5>是否為權益法</h5>
                        <span>{{ listOfData?.equity_Method }}</span>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
</div>