header .headerLeft .leftSpan {
    margin-right: 16px;
    font-weight: 700;
}

.header .headerLeft .leftStatus {
    height: 24px;
    border: 1px solid #4EDE89;
    background: #D3F4DC;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 3px 8px;
}

.nav {
    position: relative;
    height: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.navLeft img {
    margin-left: 60px;
    vertical-align: middle;
    margin-right: 5px;
}

.nav span {
    color: #959EA9;
}

.nav .companyName {
    margin-left: 5px;
    color: #3F4852;
}

.nav button {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background: #3074B8;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 30px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.nav button span {
    color: #FFFFFF;
}

.nav button .operationBtn {
    border: 1px solid #3074B8;
    right: 133px;
}

.nav .ant-form-item button {
    width: 68px;
    height: 30px;
    border: 1px solid #3074B8;
}

.nav .ant-form-item button {
    width: 68px;
    height: 30px;
    border: 1px solid #3074B8;
}

.nav .ant-form-item span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.nav .operationBtn {
    width: 68px;
    height: 30px;
    line-height: 20px;
}

.nav .operationBtnLeft {
    position: absolute;
    right: 114px;
    background: #ffff;
    border: 1px solid #3074B8;
    color: #3074B8;
}

.detail {
    margin: 16px 30px 0px 64px;
    position: relative;
}

.detailHeader {
    position: absolute;
    left: -43px;
    /* top: 12px; */
}

.checkbasic {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    /* margin-left: 30px; */
}

.checkbasic span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F4852;
}

.checkbasic div {
    height: 80px;
    width: 25%;
    padding-right: 10px;
}

.checkbasic div span {
    word-break: break-word;
}

.checkbasic h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 6px;
}
