.body_scroll {
  height: 100vh;
}

.detail {
    background-color: #fff;
    border-radius: 10px;
    margin: 0 37px;
}

.nav {
    /* padding: 0 10px; */
    margin: 0 37px;
    margin-bottom: 4px;
    margin-top: 10px;
}

.nav button {
    width: 146px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
}

.clickBtn {
    color: #3074B8;
    border-bottom: 4px solid #3074B8;
    font-weight: 600;
    background-color: transparent;
}

.bubbleCount {
    display: inline-block;
    width: 24px;
    height: 18px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: #E54C4C;
    /* padding: 0px 5px; */
    vertical-align: bottom;
    /* 文字样式 */
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    line-height: 18px;
    font-size: 12px;
}

.bBGC {
    background-color: #4090E0 !important;
    text-align: center;
}

.bBGCZero {
  background-color: #C0C8D1 !important;
  text-align: center;
}

.tableList {
    border-radius: 2px;
}

.initial {
    display: inline-block;
    width: 28px;
    height: 28px;
    background: #fffcf1;
    border: 1px solid #fff5d1;
    border-radius: 28px;
    text-align: center;
    color: #EFC223;
    line-height: 28px;
}

svg.bi.bi-search {
  padding-bottom: 1px;
}
