<div class="body_scroll">
    <div class="header shadow-sm">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span>盡職調查</span>
            <a nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="Visible($event, 'List')">
                {{listSelected}}
                <img src="../../../../../assets/images/icon/Vector_down_black.svg" alt="" *ngIf="isShowVector" />
                <img src="../../../../../assets/images/icon/Vector_up_black.svg" alt="" *ngIf="!isShowVector" />
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="updateListSelected('All List')" (click)="TableList.UpdateHeaderDate('')" (click)="listSelected = 'All List'">All List</li>
                    <li nz-menu-item (click)="updateListSelected('My List')" (click)="TableList.UpdateHeaderDate('My List')" (click)="listSelected = 'My List'">My List</li>
                </ul>
            </nz-dropdown-menu>
        </div>
        <app-header-right></app-header-right>
    </div>

    <div class="nav">
      <span *ngFor="let item of navBtn; let key = index">
      <button nz-button nzType="text" *ngIf="key != 1"  [ngClass]=" navCheckBtn == key ? 'clickBtn' : '' " (click)="navCheckBtn = key; TableList.UpdataNavData(item.Code_id);"> {{item.Code_Name}}</button>
      <button nz-button nzType="text" *ngIf="key == 1" [ngClass]=" navCheckBtn == key ? 'clickBtn' : '' " (click)="navCheckBtn = key; TableList.UpdataNavData(item.Code_id);">
          {{item.Code_Name}}
          <b class="bubbleCount" *ngIf="listSelected == 'All List'" [ngClass]="listSelected == 'All List' && InProfressCountAll !== 0 ? 'bBGC' : 'bBGCZero'" >{{InProfressCountAll}}</b>
          <b class="bubbleCount" *ngIf="!(listSelected == 'All List')" [ngClass]="InProfressCount == 0 ? 'bBGCZero' : ''" >{{InProfressCount}}</b>
      </button>
  </span>
  </div>
    <div class="detail">
        <div class="tableList">
            <app-table-list (InProfessCount)="InProfessCount($event)" #TableList [invest_no]="invest_no"></app-table-list>
        </div>
    </div>
</div>
