<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span>執行報表</span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <div class="detail">
            <div style="width: 45%;">
                <nz-form-item class="divformitem">
                    <nz-form-label nzFor="" nzRequired>起訖日</nz-form-label>
                    <nz-form-control nzErrorTip="該欄位為必填">
                        <div class="dateitemstyle">
                            <nz-range-picker id="dateValue" [nzAllowClear]="true" formControlName="dateValue" [(ngModel)]="date" (ngModelChange)="onChange($event)" [nzPlaceHolder]="['輸入時間' + dateFormat, '輸入時間' + dateFormat]">
                            </nz-range-picker>
                        </div>

                    </nz-form-control>
                </nz-form-item>
            </div>
            <div style="    width: 25%;
            margin-left: 10px;">
                <nz-form-item class="divformitem">
                    <nz-form-label nzFor="" nzRequired>匯率換算</nz-form-label>
                    <nz-form-control [nzXs]="24" nzErrorTip="該欄位為必填!">
                        <nz-select id="currency" [nzAllowClear]="true" nzPlaceHolder="選擇匯率" formControlName="currency" style="width: 200px;">
                            <nz-option *ngFor="let data of currencyList" [nzValue]="data" [nzLabel]="data"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div style="width: 25%;">
                <nz-form-item class="divformitem">
                    <nz-form-label nzFor="" nzRequired>報表類型<em style="color: #c0c8d1;margin-left: 10px;" nz-tooltip nzTooltipTitle='當所選的報表類型有"財報"，需做下排欄位的選填' [nzTooltipOverlayClassName]="'titleToolStyle'" class="bi-info-circle-fill"></em></nz-form-label>
                    <nz-form-control nzErrorTip="該欄位為必填!">
                        <div class="statement" [ngClass]="isError? 'Error' : ''">
                            <span sr nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomCenter'" [nzClickHide]="false">
                {{listOfSecurityValue.length > 0 ? listOfSecurityValue : '選擇報表類型'}}
              </span>
                            <a href="javascript:void(0);" (click)="closeSelectValue('Security')" class="reportSVG">
                                <em nz-icon nzType="down" nzTheme="outline" *ngIf="listOfSecurityValue.length == 0" style="width: 12px; height:12px"></em>
                                <em *ngIf="listOfSecurityValue.length > 0 " nz-icon nzType="close" nzTheme="outline" style="width: 12px; height:12px"></em>
                            </a>
                        </div>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="hideStyle" *ngIf="isShowHidle">
                <div class="hideHeader">
                    <h5>選擇財報類型</h5>
                </div>
                <div class="hideDetail">
                    <div style="width: 23%;" class="hideItem">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzRequired>財報類型</nz-form-label>
                            <nz-form-control nzErrorTip="該欄位為必填!">
                                <nz-select id="results" [nzAllowClear]="true" nzPlaceHolder="選擇財報類型" formControlName="results" style="width: 200px;">
                                    <nz-option *ngFor="let data of resultsTypeList" [nzValue]="data.value" [nzLabel]="data.label" [nzValue]="data.value"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div style="width: 23%;" class="hideItem">
                        <nz-form-item class="divformitem">
                            <nz-form-label nzFor="" nzRequired>年度</nz-form-label>
                            <nz-form-control nzErrorTip="該欄位為必填!">
                                <nz-date-picker style="border-radius: 4px;width: 200px;" nzMode="year" formControlName="year" nzPlaceHolder="輸入年度 YYYY"></nz-date-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div style="width: 23%;" class="hideItem">
                        <nz-form-item>
                            <nz-form-label nzFor="" nzRequired>季度</nz-form-label>
                            <nz-form-control nzErrorTip="該欄位為必填!">
                                <nz-select id="quarter" [nzAllowClear]="true" nzPlaceHolder="選擇季度" formControlName="quarter" style="width: 200px;">
                                    <nz-option *ngFor="let data of quarterList" [nzValue]="data.value" [nzLabel]="data.label"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
            </div>
            <div style="width:100%;margin-top: 30px; ">
                <nz-form-item class="btnitem">
                    <nz-form-control [nzOffset]="7" [nzSpan]="12">
                        <button class="btn" nz-button nzType="primary"><em class="bi-box-arrow-up" style="vertical-align: bottom;
                            margin-right: 12px;"></em>匯出至PowerBI</button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
    <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
            <li nz-menu-item *ngFor="let data of reportTypeLsit">
                <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="CompanyTransaction(data)">{{data.label}}</label>
            </li>
        </ul>
    </nz-dropdown-menu>
    <!-- <app-gantt-chart-control [gantt_param]="param"></app-gantt-chart-control> -->
</div>