.detail {
    background-color: #fff;
    border-radius: 10px;
    margin: 16px 32px 0 32px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
}

.detail .ant-form-item-label {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.detailItem {
    display: flex;
    flex-flow: column;
}

.dateItem {
    width: 390px;
}

.selectItem {
    width: 200px;
}

.action label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.ant-picker-range {
    border-radius: 4px;
}

.statement {
    width: 210px;
    height: 30px;
    border: 1px solid #c0c8d1;
    border-radius: 4px;
    position: relative;
}

.statement button {
    width: 200px;
    border-radius: 4px;
    color: #959EA9;
}

.statement span {
    text-align: left;
    position: absolute;
    left: 12px;
    top: 3px;
    width: 150px;
    color: #959EA9;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 180px;
}

.statement em {
    color: #959ea9;
}

.ant-dropdown-menu-item label span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.reportSVG {
    position: absolute;
    right: 10px;
}

.reportSVG em svg {
    width: 12px;
    height: 12px;
}


/* hide 樣式 */

.hideStyle {
    width: 100%;
    margin-top: 30px;
}

.hideStyle h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.hideDetail {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
}

.divformitem {
    display: flex;
    flex-flow: column;
}

.divformitem .ant-form-item-control .ant-form-item-control-input {
    border: 1px solid #c0c8d1;
    border-radius: 4px;
}

.hideItem .ant-form-item {
    display: flex;
    flex-flow: column;
}


/* 提交按鈕樣式 */

.btn {
    background: #3074b8;
    border-radius: 4px;
    color: #fff;
    line-height: 15px;
}

.btn em {
    vertical-align: middle;
}

.btnitem {
    flex-direction: row-reverse;
    width: 100%;
    text-align: right;
}

.Error {
    border: 1px solid #ff4d4f !important;
}

.Error::after {
    content: "此欄位為必填項";
    display: block;
    position: absolute;
    top: 35px;
    width: 100px;
    font-style: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    font-variant: tabular-nums;
    color: #ff4d4f;
}


/* 日期選擇樣式 */

.dateitemstyle .ant-picker-range {
    width: 390px;
}