<div class="main-div {{currentTheme}} {{smallLeftBarClass}}" [ngClass]="{'theme-dark':darkLayout,'right_icon_toggle':!rightSidebarVisible}">
    <!-- Page Loader -->
    <div class="page-loader-wrapper" *ngIf="showLoader">
        <div class="loader">
            <div class="m-t-30"><img class="zmdi-hc-spin" src="assets/images/loader.svg" width="48" height="48" alt="Aero"></div>
            <p>Please wait...</p>
        </div>
    </div>

    <!-- Overlay For Sidebars -->
    <div class="overlay" [ngClass]="{'d-block':settingsVisible,'d-none':!settingsVisible}" (click)="toggleSetting()"></div>

    <!-- Main Search -->
    <div id="search" [ngClass]="{'open':searchVisible}">
        <button id="close" type="button" class="close btn btn-primary btn-icon btn-icon-mini btn-round" (click)="hideSearch()">x</button>
        <form>
            <input type="search" value="" placeholder="Search...">
            <button type="submit" class="btn btn-primary">Search</button>
        </form>
    </div>

    <!-- Menu Overlay -->
    <app-overlay-menu></app-overlay-menu>

    <!-- Right Icon menu Sidebar -->
    <!-- <app-right-sidebar></app-right-sidebar> -->

    <!-- Left Sidebar -->
    <app-left-sidebar></app-left-sidebar>

    <!-- Right Sidebar -->
    <!-- <app-settings></app-settings> -->

    <section class="content">
        <router-outlet></router-outlet>
    </section>

</div>
