ul {
  text-align: center;
}
::ng-deep .ant-message{
font-size: 20px;
}
input {
  width: 100%;
  height: 50px;
  padding: 20px;
  font-size: 20px;
  border: none;
  box-sizing: border-box;
  text-align: center;
}

.simple-keyboard {
  max-width: 850px;
}

.dueDiligence {
    font-size: 14px;
    width: 100%;
    padding: 0 10px;
}

.header {
    position: relative;
    width: 100%;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    height: 55px;
    padding: 17px 20px;
}

.headerLeft img {
    margin-left: 15px;
    margin-right: 28px;
}

.headerLeft span {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin-right: 16px;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.header a {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #3F4852;
}

.headerLeft {
    display: inline-block;
}

.headerRight {
    position: absolute;
    right: 30px;
    display: inline-block;
    margin-right: 25px;
}




.displayContent{
  background-color: #3074B8;
  font-size: 36px;
  font-weight: bolder;
  margin: 10px 10px 10px 10px;
  border-radius: 40px;
}
.displayContent label{
  color: rgb(255, 255, 255);
}

::ng-deep .ant-select-item-option-content {
  font-size: 20px;
}

::ng-deep .ant-picker-input>input{
  font-size: 20px;
}




.headerRight img {
    margin-left: 12px;
}

.detail {
    background-color: #fff;
    border-radius: 10px;
    flex-wrap: wrap;
    display: flex;
}

.nav {
    padding: 0 10px;
    margin-bottom: 1px;
}

.nav button {
    width: 146px;
}

.clickBtn {
    color: #3074B8;
    border-bottom: 4px solid #3074B8;
}

.bBGC {
    background-color: #4090E0 !important;
}

