<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span>公司維護</span>
            <a nz-dropdown [nzDropdownMenu]="menu" (nzVisibleChange)="listVisibleChange($event)" class="headerselect">
                {{listSelected}}
                <img src="../../../../../assets/images/icon/Vector_down_black.svg" alt="" *ngIf="!isListVisible">
                <img src="../../../../../assets/images/icon/Vector_up_black.svg" alt="" *ngIf="isListVisible">
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu nzSelectable>
                    <li nz-menu-item (click)="updateListSelected('All List')" (click)="listSelectItemClick('All List')">
                        All List
                    </li>
                    <li nz-menu-item (click)="updateListSelected('My List')" (click)="listSelectItemClick('My List')">My List
                    </li>
                </ul>
            </nz-dropdown-menu>
        </div>
        <app-header-right></app-header-right>
    </div>
    <div class="detail">
        <div class="d-flex flex-column w-100">
            <div class="d-flex topBar">
                <div class="search-box">
                    <input type="text" nz-input placeholder="搜尋公司全稱、公司簡稱、投資部PIC..." [(ngModel)]="searchValue" style=" width: 179px;
                         border-radius: 4px 0 0 4px;" />
                    <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button" style="height: 30px;
                        width: 32px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-search" viewBox="0 0 16 16">
                            <path
                                d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                            </path>
                        </svg>
                    </button>
                </div>
                <div class="SecuritySelect companySearchItem">
                    <button nz-button nzTrigger="click" nz-dropdown [nzPlacement]="'bottomCenter'" [nzDropdownMenu]="menu5" [ngClass]="selectedStatus != '' ? 'selectBGC' : ''">
                        <span class="selectSpan">
                            {{selectedStatus !== "" ? selectedStatusLabel : 'Status'}}
                        </span>
                        <em (click)="clearSelectedStatus()">
                            <img src="../../../../../assets/images/icon/Vector_down.svg" alt=""
                                *ngIf="selectedStatus.length == 0">
                            <img src="../../../../../assets/images/icon/Vector_close.svg" alt=""
                                *ngIf="selectedStatus.length > 0">
                        </em>
                    </button>
                    <nz-dropdown-menu #menu5="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let data of statusList" (click)="selectedStatus = data.value" (click)="selectedStatusLabel = data.label">
                                {{data.label}}
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>

                <div class="SecuritySelect companySearchItem">
                    <button nz-button nzTrigger="click" nz-dropdown [nzClickHide]="false" [nzPlacement]="'bottomCenter'" [nzDropdownMenu]="menu3" [ngClass]="arrSecurityTypeId.length > 0 ? 'selectBGC' : ''">
                        <span class="selectSpan">
                            證券種類
                            <b class="bubbleCount" *ngIf="arrSecurityTypeId.length > 0">{{arrSecurityTypeId.length}}</b>
                        </span>
                        <em>
                            <img src="../../../../../assets/images/icon/Vector_down.svg" alt=""
                                *ngIf="arrSecurityTypeId.length == 0">
                            <img (click)="clearSelectedSecurityType()"
                                src="../../../../../assets/images/icon/Vector_close.svg" alt=""
                                *ngIf="arrSecurityTypeId.length > 0">
                        </em>
                    </button>
                    <nz-dropdown-menu #menu3="nzDropdownMenu">
                        <ul nz-menu>
                            <li nz-menu-item *ngFor="let data of securityTypeList">
                                <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="securityTypeSelect(data)">{{data.label}}</label>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </div>

                <div class="CloseBtn" *ngIf="(selectedStatus != null && selectedStatus != '') || (selectedBO != null && selectedBO != '') || arrSecurityTypeId.length> 0">
                    <a href=" javascript:void(0);" (click)="clearSearchCondition()">清除</a>
                </div>
                <div class="searchRight">
                    <div class="titlestyle">總共 {{ gridviewService == null ? 0 : gridviewService.total$ | async }} 個項目
                    </div>
                    <div class="UploadStyle" (click)="BOPICSearch.initUploadDialog()" *ngIf="canUploadCompany"><em class="bi bi-file-earmark"></em>公司營運狀況表</div>
                    <button routerLink="/companyMaintain/operate" *ngIf="canCreateCompany">
                        <img src="../../../../../assets//images/icon/Vector_Add.svg" alt=""> 新增
                    </button>
                </div>
            </div>

            <div>
                <nz-table class="companyTable" #companyTable [nzData]="gridviewService == null ? null : gridviewService.dataList$ | async" [nzShowSizeChanger]="true" [nzShowQuickJumper]="true">
                    <thead>
                        <tr>
                            <th scope="col" *ngFor="let column of listOfColumn" [nzShowSort]="column.compare != null" [nzSortFn]="column.compare">{{ column.title }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of companyTable.data" (click)="viewCompany(data.invest_no)">
                            <td class="firstTd">
                                <span class="greenLight">
                                    <svg *ngIf="data.status_change" xmlns="http://www.w3.org/2000/svg" width="8"
                                        height="8" fill="#4EDE89" class="bi bi-circle-fill" viewBox="0 0 16 16">
                                        <circle cx="8" cy="8" r="8" />
                                    </svg>
                                </span>
                            </td>
                            <td>{{ data.name }}</td>
                            <td>{{ data.nickname }}</td>
                            <td>{{ data.emp_name }}</td>
                            <td>{{ data.status_nm }}</td>
                            <td>{{ data.type_list_nm }}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
</div>

<app-file-upload (chosenBOPICItem)="chosenBOPIC($event)" [downloadUrl]="downloadUrl" [logicAddr]="logicAddr" [titleName]="titleName" [fileName]="fileName" [fileDescription]="fileDescription" [templateName]="templateName" #BOPICSearch></app-file-upload>