/* Heading - TC/H5 Bold */
::ng-deep .ant-modal-title {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #000000;
}

.popupInput {
  /* Select */
  box-sizing: border-box;
  width: 200px;
  height: 38px;
  background: #FFFFFF;
  /* Secondary color/Grey 40 */
  border: 1px solid #C0C8D1;
  border-radius: 4px;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.popupButton {
  /* Button */
  box-sizing: border-box;
  width: 98px;
  height: 38px;
  background: #FFFFFF;
  margin-left: 16px;
  border: 1px solid #4090E0;
  border-radius: 4px;
}

.tableDetail {
  width: 100%;
  margin-top: 20px;
}

.thStyle th {
  background: #fff;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: capitalize;
}

.noData {
  height: 252px;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  padding-left: 222px;

  display: flex;
  align-items: center;
  text-transform: capitalize;
}

::ng-deep .ant-modal-body, ::ng-deep .ant-modal-footer {
  background-color: #FFFFFF;
}
