<nz-modal [(nzVisible)]="selectVisible" nzTitle="選擇 Vendor Code" nzWrapClassName="omponent-header" nzWidth='644px'
  (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="確認" (nzOnOk)="handleOk()"
  [nzContent]="selectVendorCodeAreaContent">
  <ng-template #selectVendorCodeAreaContent>
    <div class="itemContent">
      <label>Vendor Name</label>
      <nz-form-control>
        <input class="popupInput" nz-input [(ngModel)]="searchVendorName" />
        <button class="popupButton" nz-button (click)="onSearch()"><em class="bi-search" style="color: #4090E0 ;vertical-align: bottom;
              margin-right: 12px;"></em>查詢</button>
      </nz-form-control>
    </div>
    <div class="tableDetail" *ngIf="vendorCodeListVisible">
      <nz-table #fixedTable [nzShowPagination]="false" [nzData]="vendorCodeList" [nzShowQuickJumper]="true"
        [nzShowSizeChanger]="true" [nzSize]="'small'">
        <thead>
          <tr class="thStyle">
            <th></th>
            <th>Vendor Name</th>
            <th>Vendor Code</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of fixedTable.data ">
            <td [nzChecked]="setOfCheckedVendorCode == data.vendorCode" nzLeft
              (nzCheckedChange)="onVendorCodeChecked(data, $event)"></td>
            <td [ngStyle]="{'color' : setOfCheckedVendorCode == data.vendorCode ? '#4090E0' : '' }">{{ data.vendorName}}
            </td>
            <td [ngStyle]="{'color': setOfCheckedVendorCode == data.vendorCode ? '#4090E0' : '' }">{{ data.vendorCode }}
            </td>
          </tr>
        </tbody>
      </nz-table>
    </div>
    <div class="noData" *ngIf="!vendorCodeListVisible">尚未有可使用的Vendor Code</div>
  </ng-template>
</nz-modal>
