.detail {
    background-color: #fff;
    border-radius: 10px;
    margin: 16px 32px 0 32px;
    padding: 25px;
}

.detail .ant-form-item-label {
    text-align: left;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.FormData {
    display: flex;
    flex-wrap: wrap;
}

.searchitem {
    border: #000 1px;
    width: 50%;
    padding-right: 16px;
    max-width: 544px;
}

.searchitem nz-input-group {
    border: 1px solid #C0C8D1;
    border-radius: 4px;
}

.dateitem {
    border: #000 1px;
    width: 50%;
    max-width: 544px;
}

.dateitem nz-range-picker {
    border: 1px solid #C0C8D1;
    border-radius: 4px;
}

.btnitem {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}

.btnitem button {
    margin-left: auto;
}

.datepicker {
    width: 100%;
}

.btn {
    background: #3074B8;
    border-radius: 4px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    font-weight: 400;
    font-size: 16px;
    width: 136px;
    height: 38px;
    justify-content: space-evenly;
}

.checkDiv {
    margin-top: 8px;
    padding: 0px 8px;
    display: inline-flex;
    flex-wrap: wrap;
    width: fit-content;
    background: #F1F2F3;
    border: 1px solid #C0C8D1;
    border-radius: 2px;
    height: 24px;
    margin-left: 10px;
}