<div class="body_scroll">
  <div class="header shadow-sm">
    <div class="headerLeft">
      <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
      <span>參考股價</span>
    </div>
    <app-header-right></app-header-right>
  </div>
  <div class="detail">
    <form nz-form [formGroup]="validateForm" [nzLayout]="'vertical'">
      <div class="FormData">
        <div class="searchitem">
          <nz-form-item>
            <nz-form-label nzRequired>選擇報表資料</nz-form-label>
            <nz-form-control nzValidatingTip="Validating..." nzErrorTip="該欄位為必填">
              <nz-input-group [nzSuffix]="suffixIconSearch1">
                <input readonly class="inputcontext" type="text" nz-input placeholder="搜尋公司全稱、投資部PIC"
                  formControlName="searchName" />
              </nz-input-group>
              <ng-template #suffixIconSearch1>
                <a href="javascript:(0);;" style="color:#959ea9;"><em class="bi bi-search"
                    (click)="BOPICSearch.initBOPIC(unitPicList)"></em></a>
              </ng-template>
              <div class="checkDiv" *ngFor="let item of unitPicList">{{item.name}}/{{item.name_A}}
                <em class="bi bi-x-lg" style="cursor: pointer;" (click)="deleteUnit(item)"></em>
              </div>
            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="dateitem">
          <nz-form-item>
            <nz-form-label nzRequired>起訖日</nz-form-label>
            <nz-form-control nzValidatingTip="Validating..." nzErrorTip="該欄位為必填">
              <nz-input-group>
                <nz-range-picker id="dateValue" [nzAllowClear]="false" formControlName="dateValue"
                  [nzDisabledDate]="disabledDate" (nzOnCalendarChange)="onChange($event)" [nzFormat]="'YYYY-MM-dd'"
                  [nzRenderExtraFooter]="footerRender" [nzPlaceHolder]="['開始日期 ' + dateFormat, '結束日期 ' + dateFormat]"
                  class="datepicker">
                </nz-range-picker>
              </nz-input-group>

            </nz-form-control>
          </nz-form-item>
        </div>
        <div class="btnitem">
          <button class="btn" nz-button nzType="primary" (click)="submitForm()">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download"
              viewBox="0 0 16 16">
              <path
                d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z" />
              <path
                d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z" />
            </svg>下載報表</button>
        </div>
      </div>

    </form>

  </div>
  <app-com-pic-search (chosenUnitPICItem)="chosenUnitPIC($event)" #BOPICSearch></app-com-pic-search>
</div>
