<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu">
        <i class="bi bi-list"></i>
      </span>
            <button class="btn btn-primary" (click)="suggestStatus()">test 建議status</button>
            <span>{{dataName}} <i class="bi bi-pencil-fill" style="color:#4090E0;" (click)="InvestMainRename.initRename(investNo,originName)"></i></span>
            <span>{{originName}} </span>
        </div>
    </div>
    <form nz-form>
        <div class="detail">
            <div>
                <nz-form-item>
                    <div class="itemContent">
                        <nz-form-label nzRequired>公司全稱</nz-form-label>
                        <nz-form-control nzValidatingTip="Validating...">
                            <label>{{companyName}}</label>
                        </nz-form-control>
                    </div>
                </nz-form-item>
            </div>
            <div class="basicItem">
                <nz-form-item>
                    <div class="itemContent">
                        <nz-form-label>Vendor Code</nz-form-label>
                        <nz-form-control nzValidatingTip="Validating...">
                            <nz-input-group [nzSuffix]="suffixIconSearch" class="inputcontext">
                                <input readonly type="text" nz-input placeholder="搜尋Vendor Code" formControlName="vendor_Code" [ngModel]="" />
                            </nz-input-group>
                            <ng-template #suffixIconSearch>
                                <a href="javascript:(0);;" style="color:#959ea9;"><em class="bi bi-search"
                    (click)="VendorCodeSearch.initVendorName(companyName)"></em></a>
                            </ng-template>
                        </nz-form-control>
                    </div>
                </nz-form-item>
            </div>
            <div class="basicItem">
                <nz-form-item>
                    <div class="itemContent">
                        <nz-form-label>事業體窗口</nz-form-label>
                        <nz-form-control nzValidatingTip="Validating...">
                            <nz-input-group [nzSuffix]="suffixIconSearch1">
                                <input readonly class="inputcontext" type="text" nz-input placeholder="搜尋工號" formControlName="bo_pic" />
                            </nz-input-group>
                            <ng-template #suffixIconSearch1>
                                <a href="javascript:(0);;" style="color:#959ea9;"><em class="bi bi-search"
                    (click)="BOPICSearch.initBOPIC()"></em></a>
                            </ng-template>
                        </nz-form-control>
                    </div>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>
<app-vendor-code-search (chosenVendorCode)="chosenVendorCode($event)" #VendorCodeSearch [modeName]="modeName"></app-vendor-code-search>
<app-bo-pic-search (chosenUnitPICItem)="chosenBOPIC($event)" #BOPICSearch></app-bo-pic-search>
<app-invest-main-rename (updateSuccessName)="updateSuccessName($event)" #InvestMainRename [modeName]="modeName2"></app-invest-main-rename>