/* Heading - TC/H5 Bold */
::ng-deep .ant-modal-title {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: capitalize;
  color: #000000;
}

.popupInput {
/* Select */


box-sizing: border-box;
width: 200px;
height: 38px;
background: #FFFFFF;
/* Secondary color/Grey 40 */

border: 1px solid #C0C8D1;
border-radius: 4px;

/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}

.popupButton {
/* Button */
box-sizing: border-box;
width: 98px;
height: 38px;
background: #FFFFFF;
margin-left: 16px;


border: 1px solid #4090E0;
border-radius: 4px;
}

.tableDetail {
  width: 100%;
  margin-top: 20px;
}

.thStyle th {
  background: #fff;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: capitalize;
}




/* 头部显示 */
.header {
    position: relative;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    height: 55px;
    padding: 17px 20px;
}

.headerLeft img {
    margin-right: 20px;
}

.headerLeft span {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    color: #101010;
}


/* 舍弃 保存按钮 */

.nav {
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 16px;
    background: #fff;
    height: 40px;
    padding: 10px 0px;
    margin-top: 5px;
}

.nav button {
    width: 68px;
    height: 30px;
    line-height: 22px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 14px;
}

.nav .btnLeft {
    border: 1px solid #3074b8;
    background: #fff;
    color: #3074B8;
}

.nav .ant-row {
    margin: 0;
}

.btnRight {
    background: #3074B8;
    color: #FFFFFF;
    margin: 0 32px 0 12px;
}


/* detail样式 */

.detail {
    padding: 0 30px;
    position: relative;
}

.backStyle {
    position: absolute;
    left: 3px;
    top: 15px;
    color: #101010;
}

.basicContent {
    display: flex;
    flex-wrap: wrap;
}

.basicItem {
    width: 25%;
}

.inputcontext {
    width: 200px;
    border-radius: 4px;
}

.itemContent .ant-input-affix-wrapper {
    width: 200px;
    border-radius: 4px;
}

.securityStyle {
    width: 100%;
    background: #ffffff;
    border-radius: 4px;
    height: 70px;
    line-height: 70px;
    padding-left: 20px;
}


/* Security */

.dropSecurity {
    border: none;
}

.dropSecurity em {
    margin-left: 13px;
}

.shadowStyle {
    box-shadow: 3px 3px 10px #f1f1f3;
}

.emailStyle {
    list-style: none;
    margin-left: -30px;
}

.emailTxtStyle {
    width: fit-content;
    background: #f1f2f3;
    height: 24px;
    font-weight: 400;
    font-size: 12px;
    color: #596471;
    line-height: 24px;
    padding-left: 8px;
}
