.shield {
    width: 100%;
    height: 100%;
    background: rgba(183, 183, 183, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Noto Sans TC';
    font-style: normal;
    z-index: 99;
}

.survey {
    width: 600px;
    border-radius: 4px;
    border: 1px solid rgba(63, 72, 82, 0.2);
    position: absolute;
    top: 25%;
    left: 40%;
    transform: translate(-25%, -25%);
}

.survey_header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 21px 16px;
    height: 73px;
    border-bottom: 1px solid rgba(63, 72, 82, 0.2);
}

.survey {
    background: #ffffff;
}

.survey_header h4 {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    display: contents;
}

.survey_detail {
    padding: 0px 30px;
}

.formData {
    display: flex;
    flex-wrap: wrap;
}

.FormDataitem .ant-form-item {
    display: flex;
    flex-direction: column;
}

.formData nz-date-picker {
    width: 200px;
}

.itemData {
    display: flex;
    flex-wrap: wrap;
    margin-top: 14px;
}

.itemData div {
    padding: 4px 12px;
    border: 1px solid rgba(63, 72, 82, 0.2);
    border-radius: 2px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.selectDiv {
    background: rgba(184, 213, 255, 0.2);
    border: 1px solid #1F6EDE !important;
}

.uploadClass {
    width: 122px;
    height: 30px;
    background: #FFFFFF;
    border: 1px solid #959EA9;
    border-radius: 4px;
    color: #3F4852;
    text-align: center;
    line-height: 30px;
}

.survey_footer {
    display: flex;
}

.survey_footer button {
    width: 88px;
    height: 37px;
    font-weight: 400;
    font-size: 16px;
    border-radius: 4px;
}

.discard {
    margin-left: auto;
}

.discard button {
    border: none;
}

.save {
    margin: 0 16px;
}

.save button {
    background: #3074B8;
}


/* 检视区域样式 */

.checkData {
    display: flex;
    flex-wrap: wrap;
}

.checkData label {
    font-weight: 600;
    font-size: 16px;
}

.checkDataitem {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.statusDiv {
    width: fit-content;
    background: rgba(184, 213, 255, 0.2);
    padding: 4px 12px;
    border: 1px solid #1F6EDE;
    border-radius: 2px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
}

.checkDate div {
    font-weight: 400;
    font-size: 16px;
}

.txtItem div {
    font-weight: 400;
    font-size: 14px;
}

.downloadClass {
    display: flex;
    flex-wrap: wrap;
}

.downloadDiv {
    width: 40%;
    display: flex;
    margin-right: 40px;
    padding: 0 5px;
}

.downloadSon a {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.downloadBG {
    background: #f6f6f6;
}

.downloadem {
    display: none;
}

.downloademShow {
    display: inline-block !important;
}

.itemData div {
    cursor: pointer;
}

.SecurityOK {
    border: 1px solid #4090E0;
    border-radius: 4px;
    background: #FFFFFF;
    color: #3074B8;
}

.SecurityCancel {
    border: none;
    color: #3074B8;
}

.ContentStyle {
    overflow-y: auto;
    max-height: calc(100vh - 200px);
}