<nz-modal [(nzVisible)]="isVisible" nzClassName="securityModel" [nzMaskClosable]="false" [nzStyle]="{top : '20px'}" (nzAfterClose)="nzAfterClose()" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="Type !=  mouseType.View ? modalFooter : null"
    (nzOnCancel)="showDeleteConfirm($event)">
    <form nz-form [nzAutoTips]="autoTips" [formGroup]="validateForm" (ngSubmit)="submitForm()">
        <ng-template #modalTitle>{{TitleTxt}}</ng-template>

        <ng-template #modalContent>
            <div class="ContentStyle">
                <div *ngIf="Type == mouseType.View">
                    <div class="survey_detail">
                        <div class="checkData">
                            <div class="checkDataitem" style="margin-bottom: 47px;">
                                <label>調查階段</label>
                                <div class="statusDiv">{{data?.status_Name}}</div>
                            </div>

                            <div class="checkDataitem checkDate" style="width: 50%;">
                                <label>起始時間</label>
                                <div>{{data?.start_Date | datePip }}</div>
                            </div>
                            <div class="checkDataitem checkDate" style="width: 50%;">
                                <label>結束時間</label>
                                <div>{{data?.end_Date | datePip }}</div>
                            </div>
                            <div class="checkDataitem" style="margin-top: 27px;">
                                <label>備註</label>
                                <div>
                                    {{data?.remark}}
                                </div>
                            </div>
                            <div class="checkDataitem txtItem" *ngIf="data?.fileList?.length > 0" style="margin-top: 40px;">
                                <label style="margin-bottom: 15px;">附件檔案</label>
                                <div class="downloadClass">
                                    <div class="downloadDiv" *ngFor="let item of data?.fileList; let key = index" (mouseover)="mouseEvent(key, 0)" (mouseout)="mouseEvent(key, 1)" [ngClass]="mouseSet.has(key) ? 'downloadBG':''">
                                        <em class="bi bi-paperclip" style="width: 10%;"></em>
                                        <div class="downloadSon" style="width: 90%;">
                                            <a [href]="url + 'DDiligence/DownloadFile?file_id='+ item.file_Id +'&&Type=false&&Attach_Batch='+item.attach_Batch"><span style="display: inline-block;
                                                width: 90%;">{{item.file_Name}}</span>
                                                <em [ngClass]="mouseSet.has(key) ? '' : 'downloadem'"  style="width: 10%;" class="bi bi-download"></em></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="survey_detail" *ngIf="Type == mouseType.Add || Type == mouseType.Update">
                    <div class="formData">
                        <div class="FormDataitem" style="width: 100%;">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="9" nzRequired>調查階段</nz-form-label>
                                <div class="itemControll">
                                    <nz-form-control [nzSpan]="24" nzValidatingTip="Validating...">
                                        <div class="itemData">
                                            <div *ngFor="let item of selectScheduleValud; let key = index" [ngClass]="item.value == _checkData? 'selectDiv': ''" (click)="checkData = item.value">{{item.label}}</div>
                                        </div>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                        <div class="FormDataitem" style="width: 50%;">
                            <nz-form-item>
                                <nz-form-label nzRequired>起始時間</nz-form-label>
                                <nz-form-control>
                                    <div class="FormDate">
                                        <div *ngIf="isKickOff">{{start_Date | datePip }}</div>
                                        <nz-date-picker nzFormat="yyyy-MM-dd" *ngIf="!isKickOff" [nzShowToday]="false" formControlName="Start_Date" [nzDisabledDate]="disabledStartDate" [nzPlaceHolder]="'輸入時間' + dateFormat">
                                        </nz-date-picker>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div class="FormDataitem" style="width: 50%;">
                            <nz-form-item>
                                <nz-form-label nzRequired>結束時間</nz-form-label>
                                <nz-form-control>
                                    <div class="FormDate">
                                        <div *ngIf="isKickOff">{{end_Date | datePip }}</div>
                                        <nz-date-picker nzFormat="yyyy-MM-dd" *ngIf="!isKickOff" [nzShowToday]="false" formControlName="End_Date" [nzDisabledDate]="disabledEndDate" [nzPlaceHolder]="'輸入時間' + dateFormat">
                                        </nz-date-picker>
                                    </div>
                                </nz-form-control>
                            </nz-form-item>
                        </div>

                        <div class="FormDataitem" style="width: 100%;margin-top: 27px;">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="24">備註</nz-form-label>
                                <div class="itemControll" style="width: 100%;">
                                    <nz-form-control [nzSpan]="24">
                                        <textarea rows="4" nz-input formControlName="Remark" placeholder="輸入文字" class="textArea"></textarea>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                    </div>
                    <div class="FormDataitem">
                        <nz-form-item>
                            <nz-form-label [nzSpan]="24">附件檔案<em style="color: #C0C8D1;
                                    margin-left: 10px;" class="bi bi-info-circle-fill" nz-tooltip nzTooltipTitle="最多可放5個附檔，一個檔案最大限制為100M，而副檔名不限制"></em></nz-form-label>
                            <div class="itemControll">
                                <nz-form-control [nzSpan]="24">
                                    <nz-upload [nzDisabled]="fileList?.length >= 5" [nzShowUploadList]="false" [nzBeforeUpload]="beforeUpload" [nzFileList]="fileList" [nzSize]="102400" [nzLimit]="5 - fileList?.length" [nzMultiple]="true">
                                        <div class="uploadClass">
                                            選擇檔案
                                            <em class="bi bi-upload"></em>
                                        </div>
                                    </nz-upload>
                                    <div class="downloadClass" style="margin-top: 10px;">
                                        <div class="downloadDiv" *ngFor="let item of fileNameList; let key = index" (mouseover)="mouseEvent(key, 0);" (mouseout)="mouseEvent(key, 1)" [ngClass]="mouseSet.has(key) ? 'downloadBG':''">
                                            <em class="bi bi-paperclip" style="width: 10%;"></em>
                                            <div class="downloadSon" style="width: 90%;">
                                                <span style="display: inline-block;
                                                        width: 90%;">{{item}}</span>
                                                <em [ngClass]="mouseSet.has(key) ? 'downloademShow' : 'downloadem'" (click)="removeFile(key)" style="width: 10%;color: #E64C4C; cursor: pointer;" class="bi bi-dash-circle"></em>
                                            </div>
                                        </div>
                                    </div>
                                </nz-form-control>
                            </div>
                        </nz-form-item>
                    </div>

                </div>
            </div>
        </ng-template>

        <ng-template #modalFooter>
            <button nz-button nzType="default" class="SecurityCancel" (click)="showDeleteConfirm($event)">取消</button>
            <button nz-button nzType="primary" class="SecurityOK" (click)="submitForm()">{{btnTxt}}</button>
        </ng-template>
    </form>
</nz-modal>