<nz-back-top [nzTemplate]="tpl" [nzVisibilityHeight]="200" (nzOnClick)="notify()" [nzDuration]="50">
    <ng-template #tpl>
        <img src="../../../../assets/images/icon/Vector_BackTop.svg" style=" font-size: 22px;">
    </ng-template>
</nz-back-top>