<div class="headerRight" *ngIf="userDetails != null">
    <span class="avatar">{{ userDetails.firstName.charAt(0) }}</span>
    <a nz-dropdown [nzDropdownMenu]="user" (nzVisibleChange)="visibleChange($event)">
        {{ userDetails.firstName }}
        <img src="../../../../../assets/images/icon/Vector_down_black.svg" alt="" *ngIf="!isShowList" />
        <img src="../../../../../assets/images/icon/Vector_up_black.svg" alt="" *ngIf="isShowList" />
    </a>
    <nz-dropdown-menu #user="nzDropdownMenu">
        <ul nz-menu nzSelectable>
            <li nz-menu-item (click)="showHelpDesk()">Help Desk</li>
            <li nz-menu-item (click)="doLogout()">Logout</li>
        </ul>
    </nz-dropdown-menu>
</div>