<div class="dueDiligence">
  <div class="header">
    <div class="headerLeft">
      <span style="font-size: 36px;">昨日平均</span>
    </div>
    <nz-select
      style="font-size: 20px; margin-left: 15px; border-color: blue;"
      [(ngModel)]="machineNum"
      (ngModelChange)="changeMachineNum()"
    >
      <nz-option
        style="text-align: center;"
        nzValue="1"
        nzLabel="1號機"
      ></nz-option>
      <nz-option
        style="text-align: center;"
        nzValue="2"
        nzLabel="2號機"
      ></nz-option>
      <nz-option
        style="text-align: center;"
        nzValue="3"
        nzLabel="3號機"
      ></nz-option>
    </nz-select>
  </div>

  <div class="detail"></div>

  <div style="text-align: center;">
    <table style="width: 100%;">
      <tr>
        <td style="width: 50%;">
          <div class="displayContent">
            <label style="padding-right: 90px;">
              冰水出水
            </label>
            <label style="color: LightCoral;">
              {{ cold_output | number: '.0-1' }}
            </label>
            <label style="padding-left: 20px;">°C</label>
          </div>
        </td>
        <td style="width: 50%;">
          <div class="displayContent">
            <label style="padding-right: 90px;">
              冰水入水
            </label>
            <label style="color: LightCoral;">
              {{ cold_input | number: '.0-1' }}
            </label>
            <label style="padding-left: 20px;">°C</label>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 50%;">
          <div class="displayContent">
            <label style="padding-right: 90px;">
              冰水溫差
            </label>
            <label style="color: LightCoral;">
              {{ cold_input - cold_output }}
            </label>
            <label style="padding-left: 20px;">°C</label>
          </div>
        </td>
        <td style="width: 50%;">
          <div class="displayContent">
            <label style="padding-right: 90px;">
              冰水設定
            </label>
            <label *ngIf="machineNum == '1'" style="color: LightCoral;">
              {{ error_temp1 | number: '.0-1' }}
            </label>
            <label *ngIf="machineNum == '2'" style="color: LightCoral;">
              {{ error_temp2 | number: '.0-1' }}
            </label>
            <label *ngIf="machineNum == '3'" style="color: LightCoral;">
              {{ error_temp3 | number: '.0-1' }}
            </label>
            <label style="padding-left: 20px;">°C</label>
          </div>
        </td>
      </tr>
    </table>
    <HR style="height: 5px; color: red;" />
    <table style="width: 100%;">
      <tr>
        <td style="width: 50%;">
          <div class="displayContent">
            <label style="padding-right: 90px;">
              冷卻水出水
            </label>
            <label style="color: LightCoral;">
              {{ cool_down_output | number: '.0-1' }}
            </label>
            <label style="padding-left: 20px;">°C</label>
          </div>
        </td>
        <td style="width: 50%;">
          <div class="displayContent">
            <label style="padding-right: 90px;">
              冷卻水入水
            </label>
            <label style="color: LightCoral;">
              {{ cool_down_input | number: '.0-1' }}
            </label>
            <label style="padding-left: 20px;">°C</label>
          </div>
        </td>
      </tr>
      <tr>
        <td style="width: 50%;">
          <div class="displayContent">
            <label style="padding-right: 90px;">
              冷卻水溫差
            </label>
            <label style="color: LightCoral;">
              {{ cool_down_input - cool_down_output | number: '.0-1' }}
            </label>
            <label style="padding-left: 20px;">°C</label>
          </div>
        </td>
        <td style="width: 50%;">
          <div class="displayContent">
            <label style="padding-right: 90px;">
              冷卻水設定
            </label>
            <label *ngIf="machineNum == '1'" style="color: LightCoral;">
              {{ error_down1 | number: '.0-1' }}
            </label>
            <label *ngIf="machineNum == '2'" style="color: LightCoral;">
              {{ error_down2 | number: '.0-1' }}
            </label>
            <label *ngIf="machineNum == '3'" style="color: LightCoral;">
              {{ error_down3 | number: '.0-1' }}
            </label>
            <label style="padding-left: 20px;">°C</label>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
