<div class="body_scroll">
    <!-- header -->
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span>
                {{ detail.company_Full_Name }}
            </span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <!-- 面包屑 -->
    <div class="nav shadow-sm">
        <div class="navLeft">
            <img src="../../../../../assets/images/icon/Vector_Home.svg" alt="" />
            <span><a routerLink="/">Home</a> /</span>
            <span><a routerLink="/companyMaintain/list"> 公司維護列表</a> /</span>
            <span><a href="javascript:(0);;" (click)="goBack()">{{ detail.company_Full_Name }}- 參考股價</a> /</span>
            <span class="companyName">{{ detail.company_Full_Name }}- 參考股價檢視頁</span>
        </div>
        <div class="navRight" *ngIf="canEditPrice">
            <div class="clear" (click)="showDeleteConfirm($event)">
                <em class="bi bi-clipboard-x" style="margin-right: 5px;"></em><span class="clear">清除紀錄</span>
            </div>

            <button class="rightBtn" (click)="editCompany(detail.stock_Price_No)">
                <i class="bi-pencil-fill"></i>編輯
            </button>
        </div>
    </div>

    <div>
        <div class="detail">
            <div class="detailHeader">
                <a href="javascript:(0);;" style="color: #101010" (click)="goBack()"><em class="bi-arrow-left-short"
                        style="font-size: 30px;"></em></a>
            </div>
            <div class="collapsePanel">
                <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                    <nz-collapse-panel nzHeader="基本資料" [nzActive]="companyPanel_1.active" (click)="updateActive()">
                        <div class="basicContent">
                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>公司全稱</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.company_Full_Name}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>投資部PIC</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label>{{detail.pic}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>日期</nz-form-label>
                                        <nz-form-control>
                                            <label>{{detail.transaction_Date | isNullDate | datePip }}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <!-- 一般股价 -->
                            <div class="detailTitle">一般股價</div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>建議幣別</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.public_Suggest_Currency | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>建議股價</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.public_Suggest_Price | number: '.0-6' | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>實際幣別
                                        </nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.public_Actual_Currency | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>實際股價
                                        </nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.public_Actual_Price | number: '.0-6' | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                            <!-- 私募股價 -->
                            <div class="detailTitle">私募股價</div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>建議幣別</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.private_Suggest_Currency | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>建議股價</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.private_Suggest_Price | number: '.0-6' | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>實際幣別
                                        </nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.private_Actual_Currency | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>實際股價
                                        </nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.private_Actual_Price | number: '.0-6' | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="detailTitle"></div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>私/上市(%)</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.discount == null?
                                                '-':detail.discount4display+"%"}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem"></div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>淨值幣別</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label>{{detail.net_Worth_Currency | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>淨值</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.net_Worth_Price | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>歷史幣別</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.history_Currency | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>歷史股價</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.history_Price | number: '.0-6' | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>指定股價幣別
                                        </nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.limit_Currency | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>指定股價
                                        </nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{detail.limit_Price | number: '.0-6' | isNullDate}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                        </div>
                    </nz-collapse-panel>
                </nz-collapse>
            </div>
        </div>

    </div>

</div>
<!-- <div class="offcanvas offcanvas-end view-company-status-history" tabindex="-1" id="statusHistory"
    aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title title" id="offcanvasExampleLabel">Status 歷史紀錄</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr class="separator close">
    <div class="offcanvas-body">
        <div class="sub-title">建議Status :</div>
        <div><span></span></div>
        <hr class="separator short">
        <div class="sub-title">Status :</div>
        <br>
        <div class="list" *ngFor="let data of statusList">
            <div class="period">{{data.period}}</div>
            <div>{{data.status}}</div>
        </div>
    </div>
</div> -->
<app-back-top></app-back-top>
<app-invest-main-rename (updateSuccessName)="updateCompanyName($event)" #InvestMainRename modeName="公司">
</app-invest-main-rename>