.headerLeft span {
    font-weight: 700 !important;
}

.nav {
    position: relative;
    height: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    padding-left: 5px;
}

.nav img {
    margin-left: 60px;
    vertical-align: middle;
    margin-right: 5px;
}

.nav span {
    color: #959EA9;
}

.nav .companyName {
    margin-left: 5px;
    color: #3F4852;
}


/* .navLeft {
  margin-left: 60px;
} */

.navLeft>span {
    font-weight: 400;
    font-size: 14px;
    line-height: 47px;
    color: #959EA9;
}

.navRight {
    position: absolute;
    right: 30px;
}

.navRight .rightBtn {
    margin: 10px 0 0 20px;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: #3074b8;
    color: #ffff;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}

.navRight .rightBtn i {
    margin-right: 15px;
}


.detail {
    margin: 16px 30px 0px 64px;
    position: relative;
}

.detailHeader {
    position: absolute;
    left: -43px;
    /* top: 12px; */
}

::ng-deep .ant-tabs-tab {
    padding-top: 6px !important;
    padding-bottom: 8px !important;
    width: 146px;
    justify-content: center;
    border-bottom: 1px #3F485233 solid;
    margin-left: 0 !important;
    font-weight: 400;
}


/* ::ng-deep .ant-tabs-tab-active {
  font-weight: 600 !important;
} */

.companyStyle {
    display: flex;
    /* padding: 10px 20px 0 20px; */
    margin-right: 20px;
    flex-wrap: wrap;
    padding: 2px 4px;
}

.companyStyle div {
    width: 25%;
    min-height: 70px;
    padding: 0 0 35px 0;
}

.companyStyle p {
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #101010;
    margin-bottom: 5px;
}

.companyStyle span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F4852;
    white-space: pre-wrap;
}

.collapsePanel {
    margin: 0 20px 16px 0;
}

.collapse-panel-subtitle {
    font-size: 20px;
    line-height: 30px;
    color: #959EA9;
    /* margin: 10px 0 0 15px; */
    border-bottom: 1px #3F485233 solid;
    padding-bottom: 4px;
    margin-bottom: 12px;
}

.collapse-panel-list {
    border: 1px solid rgba(63, 72, 82, 0.2);
    border-radius: 4px;
    margin-top: 8px;
}

::ng-deep .ant-collapse-item {
    border-bottom-left-radius: 4px !important;
    border-bottom-right-radius: 4px !important;
}

.view-company-status-history .title {
    font-weight: 700;
    font-size: 24px;
}

.view-company-status-history .sub-title {
    font-weight: 700;
    font-size: 20px;
}

.view-company-status-history span {
    font-size: 20px;
    font-weight: 600;
    color: #3074B8;
}

.view-company-status-history .Separator {
    height: 1px;
    left: 0px;
    background: #DCE0E5;
    opacity: 1;
}

.view-company-status-history .close {
    width: 400px;
    margin: 0px;
}

.view-company-status-history .short {
    width: 350px;
}

.view-company-status-history .list {
    height: 60px;
}

.view-company-status-history .list .period {
    font-weight: 600;
}

.body_scroll /deep/ .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #3074B8 !important;
    text-shadow: none;
}

.body_scroll /deep/ .ant-tabs-tab.ant-tabs-tab-active {
    border-bottom: 4px #3074B8 solid;
    font-weight: 600;
    /* background-color: transparent; */
    z-index: 100;
}

.securityStyle {
    /* display: flex;
  justify-content: space-between; */
    margin-bottom: 16px;
    margin-top: 0;
}

#securityDivider {
    border: 1px #3F485233 solid;
    margin: 16px 20px 16px 0;
}

.detailTitle {
    width: 100%;
    border-bottom: 2px solid rgba(63, 72, 82, 0.2);
    padding-bottom: 2px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 20px;
    color: #959EA9;
}

.basicContent {
    display: flex;
    flex-wrap: wrap;
}

.basicItem {
    width: 25%;
}

.itemContent {
    width: 100%;
    padding: 0 10px 0 2px;
}

.clear {
    color:#E54C4C !important;
    display:inline-block;
    cursor: pointer;
}