<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
            <span>{{checkData?.Nick_Name}}</span>
        </div>
        <app-header-right></app-header-right>
    </div>

    <form nz-form [nzAutoTips]="autoTips" onkeydown="if(event.keyCode==13){return false;}" [formGroup]="validateForm">
        <div class="nav shadow-sm">
            <nz-form-item>
                <nz-form-control>
                    <button class="btnLeft" (click)="popup.openModel()">捨棄</button>
                    <button class="btnRight" (click)="submitForm()">儲存</button>
                </nz-form-control>
            </nz-form-item>
        </div>

        <div class="detail">
            <a href="javascript:(0);;" class="backStyle" (click)="popup.openModel()"><em class="bi-arrow-left-short"
          style="font-size: 30px;"></em></a>
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="basicContent">

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>基金簡稱</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{checkData?.Nick_Name}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem" style="width: 75%;">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>基金全稱</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{checkData?.Full_Name}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label [nzRequired]="operateType == OperateType.Add">財年</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-date-picker *ngIf="operateType == OperateType.Add" nzMode="year" nzPlaceHolder="輸入時間 YYYY" formControlName="Financial_Year">
                                        </nz-date-picker>
                                        <label *ngIf="operateType == OperateType.Update">{{dataSource?.Financial_Year}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label [nzRequired]="operateType == OperateType.Add">Quarter</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-select *ngIf="operateType == OperateType.Add" [nzAllowClear]="true" nzPlaceHolder="選擇Quarter" formControlName="Quarter" style="width: 100%;">
                                            <nz-option *ngFor="let data of quarterList" [nzValue]="data.value" [nzLabel]="data.label">
                                            </nz-option>
                                        </nz-select>
                                        <label *ngIf="operateType == OperateType.Update">{{dataSource.Quarter_Name}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>報表期初 <em style="color: #c0c8d1;margin-left: 10px; " nz-tooltip nzTooltipTitle='報表期初只會設定在該月份的第一天' [nzTooltipOverlayClassName]="'titleTool'" class="bi-info-circle-fill"></em></nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label for="">{{Report_Start_Date  | datePip | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label>報表期末 <em style="color: #c0c8d1;margin-left: 10px;" nz-tooltip nzTooltipTitle='報表期末只會設定在該月份的最後一天' [nzTooltipOverlayClassName]="'titleTool'" class="bi-info-circle-fill"></em></nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <label>{{Report_End_Date  | datePip | isNullDate}}</label>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label nzRequired>Currency</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-select [nzAllowClear]="true" nzPlaceHolder="選擇Currency" formControlName="Currency" style="width: 100%;">
                                            <nz-option *ngFor="let data of currencyList" [nzValue]="data" [nzLabel]="data"></nz-option>
                                        </nz-select>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                        <div class="basicItem">
                            <nz-form-item>
                                <div class="itemContent">
                                    <nz-form-label nzRequired>基金淨值</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <nz-input-number formControlName="Amount" [nzPrecision]="6" [nzMin]="-999999999999.999999" [nzMax]="999999999999.999999" [nzPlaceHolder]="'輸入基金淨值'">
                                        </nz-input-number>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>

                    </div>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>

            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p1 [nzHeader]="'備註'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="basicContent">
                        <div class="basicItem" style="width: 100%;">
                            <nz-form-item>
                                <div class="itemContent" style="width: 100%;">
                                    <nz-form-label>關注事項</nz-form-label>
                                    <nz-form-control nzValidatingTip="Validating...">
                                        <textarea style="border-radius: 4px;" formControlName="Concerns" nz-input rows="4" placeholder="輸入文字"></textarea>
                                    </nz-form-control>
                                </div>
                            </nz-form-item>
                        </div>
                    </div>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p1.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>

            <!-- 財報資料時程 -->
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="'財報資料時程'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="companyStyle" *ngIf="!!param.invest_no">
                        <app-gantt-chart-control [param]="param" [isFundFinancials]="true"></app-gantt-chart-control>
                    </div>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>

            <!-- 財報資料時程 -->
            <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="'基金淨值 歷史資料'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                    <div class="companyStyle">
                        <nz-table class="financialsclass" #companyTable [nzScroll]="{ x: '1300px' }" [nzData]="
          fundFinancialsService == null
            ? null
            : (fundFinancialsService.TableList$ | async)
        " [nzShowSizeChanger]="false" [nzShowQuickJumper]="false" [nzShowPagination]="false">
                            <thead>
                                <tr>
                                    <th scope="col" *ngFor="let column of listOfColumn; let key = index" [nzShowSort]="column.compare != null" [nzSortFn]="column.compare">
                                        {{ column.title }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let data of companyTable.data; let key2 = index">
                                    <td>{{ data.nick_Name }}</td>
                                    <td>{{ data.financial_Year }}</td>
                                    <td>{{ data.quarter_Name }}</td>
                                    <td>{{ data.report_Start_Date | datePip }}</td>
                                    <td>{{ data.report_End_Date | date: "YYYY-MM-dd" }}</td>
                                    <td>{{ data.currency }}</td>
                                    <td>{{ data.amount | number: ".0-6" }}</td>
                                    <td>{{ data.concerns }}</td>
                                </tr>
                            </tbody>
                        </nz-table>
                    </div>
                    <ng-template #expandedIcon let-active>
                        {{ active }}
                        <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                    </ng-template>
                </nz-collapse-panel>
            </nz-collapse>
        </div>
    </form>
</div>




<!-- 舍弃显示Model -->
<app-popup #popup>
    <div headerTitle style="font-weight: 700;
    font-size: 28px;">是否捨棄變更？</div>
    <div ContentBody style="font-weight: 400;
    font-size: 16px;">
        <p>您尚未存儲變更，若選擇捨棄，將清除所有變更</p>
    </div>
    <div FooterDetail class="modelFotter">
        <button nz-button nzType="default" class="cancel" (click)="popup.closeModel()">取消</button>
        <button nz-button nzType="primary" class="ok" (click)="goback()">捨棄</button>
    </div>
</app-popup>

<!-- 校验显示Model -->
<app-popup #popup1>
    <div headerTitle style="font-weight: 700;
    font-size: 28px;">已存在此筆資料，無法儲存 </div>
    <div ContentBody style="font-weight: 400;
    font-size: 16px;">
        <p>以下重複資料已存在：</p>
        <p>{{checkContent}}</p>
    </div>
    <div FooterDetail class="modelFotter">
        <button nz-button nzType="default" class="cancel" (click)="popup1.closeModel()">返回編輯</button>
    </div>
</app-popup>




<!-- 编辑时显示Model -->
<app-popup #popup2>
    <div headerTitle style="font-weight: 700;
    font-size: 28px;">
        <p>因公司財年制度不同，系統將自動更新</p>
        <p>報表期初、報表期末</p>
    </div>
    <div FooterDetail class="modelFotter">
        <button nz-button nzType="default" class="popup2Ok" (click)="popup2.closeModel()">OK</button>
    </div>
</app-popup>