<nz-modal [(nzVisible)]="renameVisible" nzTitle="重新命名" nzWrapClassName="omponent-header" nzWidth='644px'
  (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="完成" (nzOnOk)="handleOk()"
  [nzContent]="selectVendorCodeAreaContent">
  <ng-template #selectVendorCodeAreaContent>
    <div class="itemContent">
      <label>{{inputRenameLabel}}</label>
      <nz-input-group [nzSuffix]="inputClearTpl">
        <input type="text" nz-input [(ngModel)]="newName" placeholder="{{inputRenameLabel}}" />
      </nz-input-group>
      <ng-template #inputClearTpl>
        <i
          nz-icon
          class="ant-input-clear-icon"
          nzTheme="fill"
          nzType="close-circle"
          *ngIf="newName"
          (click)="newName = null"
        ></i>
      </ng-template>
    </div>
  </ng-template>
</nz-modal>
