@import 'simple-keyboard/build/css/index.css';
@import "~ng-zorro-antd/ng-zorro-antd.min.css";
@import url('assets/fonts/google-font/google-font.css');

/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Noto Sans', 'Noto Sans TC', sans-serif;
}

span[sortable] {
  cursor: pointer;
}

span[sortable]:before {
  content: "";
  display: block;
  width: 18px;
  height: 20px;
  float: left;
  background: url("/assets/icons/arrow-down-up.svg") no-repeat;
}

span[sortable].asc:before {
  background: url("/assets/icons/arrow-up.svg") no-repeat;
}

span[sortable].desc:before {
  background: url("/assets/icons/arrow-down.svg") no-repeat;
}

.dateImage {
  cursor: pointer;
  margin-left: 3px;
}

.body_scroll {
  width: 100%;
  /* padding: 0 10px; */
  min-width: 800px;
  overflow-x: auto;
}


/* Header style begin */

.header {
  position: relative;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  height: 55px;
  /* margin: 10px 0; */
  /* margin-bottom: 12px; */
  /* padding-left: 10px; */
  padding: 0 25px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 8%) !important;
}

.headerLeft span {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  margin-right: 16px;
  font-style: normal;
}

.header a {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #3F4852;
}

.headerLeft {
  /* display: inline-block; */
  display: flex;
  align-items: center;
}

#toggleMenu {
  color: #3074B8;
  font-size: 25px;
  margin-right: 18px;
  cursor: pointer;
}

.headerRight {
  position: absolute;
  right: 30px;
  top: 10px;
}

.headerRight .avatar {
  font-size: 16px;
  line-height: 21px;
  font-weight: 600;
  color: #EFC223;
  display: inline-block;
  width: 28px;
  height: 28px;
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(255, 240, 187, 0.2);
  border: 1px solid #FBF3D8;
  border-radius: 14px;
}


/* Header style end */

.cdk-overlay-container,
.cdk-overlay-pane {
  z-index: 9999 !important;
}

.form-group {
  margin-bottom: 1rem;
}

.form-inline .form-control {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}


/* label {
    margin-bottom: 0.5rem;
} */

.table-responsive {
  overflow-y: auto;
  max-height: 420px;
}

.table-resize {
  min-width: 100%;
  resize: horizontal;
  overflow-y: auto;
  max-height: 400px;
}

table.table-striped {
  border-collapse: collapse;
  width: 100%;
}

table.table-striped td,
table.table-striped thead th {
  padding: 5px;
  text-align: left;
}

table.table-striped thead,
textarea {
  /* background-color: #333; */
  color: #FDFDFD;
}

table.table-striped thead tr {
  position: relative;
}

table.table-striped tbody tr:nth-child(even) {
  background-color: #DDD;
}

table.table-striped thead th {
  position: sticky;
  top: 0;
  background-color: #5CC5CD;
  resize: horizontal;
  overflow: auto;
  min-width: 70px;
}


/* Table hover effect */

tr:hover td {
  background-color: #f1f7ff !important;
}

.ant-collapse>.ant-collapse-item>.ant-collapse-header {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #23609D;
  border-bottom: 2px solid #f1f2f3;
  border-top: 1px solid #ffffff !important;
  border-top-left-radius: 4px !important;
  border-top-right-radius: 4px !important;
}

.ant-collapse-header,
.ant-collapse-content,
.ant-collapse-content-box {
  background-color: #fff;
}

.ant-collapse-content-box {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 27px 36px 12px 36px !important;
}


/* 歷史紀錄 */

.ant-collapse-content-box .ant-collapse .ant-collapse-item .ant-collapse-header {
  font-weight: 500;
  font-size: 20px;
  color: #3F4852;
  border-bottom: 0;
  padding-bottom: 8px;
  width: 145px;
}

.ant-collapse-content-box .ant-collapse .ant-collapse-item .ant-collapse-content {
  border: 0;
}

.ant-collapse-content-box .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
  padding-top: 0;
}


/* .ant-collapse-content-box .ant-collapse .ant-collapse-item .ant-collapse-header i {
  right: 790px;
} */


/* 箭頭樣式 */

.ant-collapse>.ant-collapse-item>.ant-collapse-header .ant-collapse-arrow svg {
  transform: rotate(90deg) !important;
  color: #212529;
  font-size: 18px;
}

.ant-collapse>.ant-collapse-item-active>.ant-collapse-header .ant-collapse-arrow svg {
  transform: rotate(-90deg) !important;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  border-radius: 4px;
}

.amountsearchItem .ant-select .ant-select-selector,
.companySearchItem .ant-select .ant-select-selector {
  border: none;
  background: #f6f6f6;
}

.amountsearchItem .ant-select .ant-select-clear {
  background: #f6f6f6;
}


/* 篩選箭頭 */

.ant-select-arrow,
.ant-select-clear {
  color: #959EA9;
  font-size: 10px;
  margin-top: -4px;
}

.amountsearchItem .ant-select .ant-select-selector .ant-select-selection-placeholder,
.companySearchItem .ant-select .ant-select-selector .ant-select-selection-placeholder {
  color: #3F4852;
}

.amountsearchItem .ant-select .ant-select-arrow svg {
  color: #3074b8;
}

.checkAmountSearchItem .ant-select .ant-select-selector {
  background: #f1f7ff !important;
}

.checkAmountSearchItem .ant-select .ant-select-clear {
  background: #f1f7ff !important;
}

.selectCheck {
  color: #b8d5ff;
}

.titleToolStyle .ant-tooltip-inner {
  width: 325px;
}

.titleTool .ant-tooltip-inner {
  width: 252px;
}

.ant-tooltip-inner {
  white-space: nowrap;
  border-radius: 4px;
}

.ant-table-wrapper {
  font-style: normal;
}

.ant-table-wrapper .ant-table-thead .ant-table-column-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  /* color: #212529; */
  color: #101010;
}

.ant-table-wrapper .ant-table-thead .ant-table-cell {
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #212529;
}


/* Amount 刪除框樣式 */


/* 刪除框樣式 */

.SecurityItem .ant-modal-title,
.AmountModal .ant-modal-title {
  color: #101010;
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 42px;
  text-align: center;
  border: none;
}

.SecurityItem .ant-modal-header,
.AmountModal .ant-modal-header {
  border: none;
}

.SecurityItem .ant-modal-body,
.AmountModal .ant-modal-body {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #212529;
}

.SecurityItem .ant-modal-footer,
.AmountModal .ant-modal-footer {
  text-align: center;
  border: none;
}

.SecurityItem .ant-modal-footer button,
.AmountModal .ant-modal-footer button {
  border-radius: 4px;
}


/* 成功提示框 */

.ant-message-notice-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  border-radius: 4px;
  padding: 0px;
}

.ant-message-notice-content .ant-message-error {
  background: #fbf2f2;
  border: 10px solid #fbf2f2;
  border-radius: 4px;
}

.ant-message-notice-content .ant-message-success {
  background: #d3f4dc;
  border: 10px solid #d3f4dc;
  border-radius: 4px;
}

.ant-message-notice-content .ant-message-warning {
  background: #fbf8ed;
  border: 10px solid #fbf8ed;
  border-radius: 4px;
}

.ant-message-notice-content>.ant-message-custom-content>.anticon {
  top: -3px;
}


/* 下拉箭头大小 */

.reportSVG>.anticon>svg {
  color: #4a85c1;
  font-size: 12px;
}


/* green light style */

.greenLight {
  font-size: 12px;
  color: #4EDE89;
}


/* 輸入框label樣式 */

.itemContent .ant-form-item-label label {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}


/* Label字型大小 */

.ant-form-item-label>label {
  font-weight: 600;
  font-size: 16px !important;
}


/* 移除Label冒號 */

.ant-form-item-label>label::after {
  content: '' !important;
}


/* 移除表格Header分隔線 */

.ant-table-row>.ant-table-cell::before {
  background-color: #ffffff !important;
}


/* Financails Style */

.currency .ant-select .ant-select-arrow {
  color: #3074b8;
}

.selectDate .ant-picker .ant-picker-input {
  width: 70px;
}

.FinancialsModal .ant-modal-content {
  text-align: center;
  border-radius: 4px;
}

.FinancialsModal .ant-modal-content .ant-modal-header {
  border: none;
}

.FinancialsModal .ant-modal-content .ant-modal-title {
  font-weight: 700;
  font-size: 23px;
  font-family: 'Noto Sans TC';
  font-style: normal;
  color: #101010;
}

.FinancialsModal .ant-modal-content .ant-modal-body {
  font-weight: 400;
  font-size: 16px;
  color: #3F4852;
}

.FinancialsModal .ant-modal-content .ant-modal-footer {
  text-align: center;
}

.FinancialsModal .ant-modal-content .ant-btn {
  border: 1px solid #4090e0;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #3074B8;
}

.FinancialsModal .ant-modal-content .cancle3Class {
  border: 1px solid #959ea9;
  font-weight: 400;
  font-size: 16px;
  color: #3F4852;
}

.FinancialsModal .ant-modal-content .delete3Class {
  background: #E64C4C;
  border: none;
  color: #FFFFFF;
}


/* Pagination */

li.ant-pagination-item-active {
  background-color: #3074B8 !important;
  border-color: #3074B8;
}

li.ant-pagination-item a {
  color: #3074B8;
}

li.ant-pagination-item-active a {
  color: #ffffff;
}

li.ant-pagination-item {
  margin-right: 0px !important;
  font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
  font-weight: 600;
  border-radius: 0px;
}

li.ant-pagination-item {
  margin-right: 0px !important;
  font-family: 'Noto Sans TC', 'Noto Sans', sans-serif;
  font-weight: 600;
  border-radius: 0px;
}

li.ant-pagination-prev .ant-pagination-item-link,
li.ant-pagination-next .ant-pagination-item-link {
  border-top-left-radius: 3.2px;
  border-bottom-left-radius: 3.2px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #3074B8;
}

li.ant-pagination-prev .ant-pagination-item-link {
  border-top-left-radius: 3.2px;
  border-bottom-left-radius: 3.2px;
}

li.ant-pagination-next .ant-pagination-item-link {
  border-top-right-radius: 3.2px;
  border-bottom-right-radius: 3.2px;
}

li.ant-pagination-prev,
li.ant-pagination-jump-next,
li.ant-pagination-jump-prev {
  margin-right: 0px;
}


/* Breadcrumb */

.navLeft span a {
  color: #959EA9;
}

.navLeft span a:hover {
  color: #3F4852;
  transition: all 0.5s ease;
}

.ant-form-item-label {
  text-align: left;
}


/* Fixed Pagination 分頁固定 */


/* ::ng-deep .ant-table-pagination.ant-pagination {
  position: fixed;
  bottom: 0px !important;
  right: 135px !important;
  z-index: 100;
  /* background-color: rgba(255, 255, 255, 0.7);
  /* padding-top: 5px;
  padding-bottom: 5px;
} */


/* DD 彈窗樣式 */

.ant-modal-body {
  border: none;
}

.ant-modal-content {
  border-radius: 4px;
  width: 600px;
}

.DDModal .ant-modal-body {
  text-align: center;
}

.DDModal .ant-modal-close {
  display: none;
}

.DDModal .ant-modal-body .ant-modal-confirm-body {
  text-align: center;
}

.DDModal .ant-modal-body .ant-modal-confirm-body .anticon {
  display: none;
}

.DDModal .ant-modal-body .ant-modal-confirm-body .ant-modal-confirm-title {
  font-weight: 700;
  font-size: 28px;
}

.DDModal .ant-modal-body .ant-modal-confirm-body .ant-modal-confirm-content {
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-left: 0px;
}

.DDModal .ant-modal-body .ant-modal-confirm-body .ant-modal-confirm-content h6 {
  color: red;
}

.DDModal .ant-modal-body .ant-modal-confirm-btns {
  float: none;
}

.DDModal .ant-modal-body .ant-modal-confirm-btns .ant-btn-primary {
  border: 1px solid #4090E0;
  border-radius: 4px;
  background: #FFFFFF;
  color: #3074B8;
}

.DDModal .ant-modal-body .ant-modal-confirm-btns .ant-btn-dangerous {
  background: #E64C4C;
  color: #FFFFFF;
  border: none;
}

.ant-input::placeholder,
.ant-select-selection-placeholder,
.ant-input-number-input::placeholder,
.ant-picker-input input::placeholder {
  color: #959EA9;
}

.DDWarning .ant-modal-content {
  width: 600px;
  height: 316px;
  text-align: center;
}

.DDWarning .ant-modal-content .ant-modal-close {
  display: none;
}

.DDWarning .ant-modal-header {
  border-bottom: none;
}

.DDWarning .ant-modal-body {
  font-weight: 700;
  font-size: 28px;
  border: none;
}

.DDWarning .ant-modal-footer {
  display: flex;
  justify-content: center;
  border-top: none;
}

.DDWarning .ant-modal-footer button {
  background: #3074B8;
  border-radius: 4px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  width: 63px;
  height: 37px;
}

.DDCheck .ant-modal-content {
  padding: 32px 16px;
  text-align: center;
}

.DDCheck .ant-modal-content .ant-modal-close {
  display: none;
}

.DDCheck .ant-modal-content .ant-modal-header {
  border-bottom: none;
}

.DDCheck .ant-modal-content .ant-modal-title {
  color: #101010;
  font-weight: 700;
  font-size: 28px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
}

.DDCheck .ant-modal-content .ant-modal-title svg {
  color: #FFEAA0;
  margin-bottom: 10px;
}

.DDCheck .ant-modal-content .ant-modal-body {
  font-weight: 400;
  font-size: 16px;
  color: #3F4852;
}

.DDCheck .ant-modal-content .ant-modal-footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  border-top: none;
}

.DDCheck .ant-modal-content .ant-modal-footer .cancel {
  border: 1px solid #4090E0;
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  color: #3074B8;
  width: 72px;
  height: 37px;
}

.DDCheck .ant-modal-content .ant-modal-footer .ok {
  background: #3074B8;
  border-radius: 4px;
  width: 104px;
  height: 37px;
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF;
}

.ant-tooltip {
  max-width: 420px;
}

.ant-back-top {
  width: 42px;
  height: 42px;
  background: #3074B8;
  border-radius: 300px;
  text-align: center;
  line-height: 42px;
  color: #fff;
}

.tabsetStyle .ant-tabs-nav {
  width: calc(100% - 190px);
}


/* SecurityModel */

.securityModel .ant-modal-content {
  width: 643px;
}

.securityModel .ant-modal-title {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.unitPic.ant-modal-header .ant-modal-title {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
}

.unitPic .ant-modal-footer {
  display: flex;
  flex-wrap: nowrap;
}

.unitPic button:first-child {
  margin-right: 10px;
  margin-left: auto;
  border: none;
  color: #3074B8;
  font-weight: 400;
  font-size: 16px;
  height: 24px;
}

.unitPic button:last-child {
  background: #3074B8;
  border-radius: 4px;
  width: 88px;
  font-weight: 400;
  font-size: 16px;
  padding: 8px 20px;
  height: 37px;
  color: #FFFFFF;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

.companyCheckModel .ant-modal-close {
  display: none;
}

.companyCheckModel .ant-modal-header {
  border: none;
  padding-top: 32px;
}

.companyCheckModel .ant-modal-header .ant-modal-title {
  font-weight: 700;
  font-size: 28px;
  color: #101010;
  text-align: center;
}

.companyCheckModel .ant-modal-body {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #3F4852;
  border: none;
}

.companyCheckModel .ant-modal-footer {
  text-align: center;
}

.companyCheckModel .ant-btn-primary {
  border-color: #3074B8;
  background-color: #3074B8;
}

.companyCheckModel .ant-modal-footer .buttonbackStyle {
  border: 1px solid #4090E0;
  border-radius: 4px;
  background: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  color: #3074B8;
  font-family: 'Noto Sans';
  font-style: normal;
  width: 104px;
  height: 37px;
}

.ant-modal {
  width: 600px;
}

.PICTransfer .ant-modal-content {
  width: 852px
}

.popupModel .ant-modal-content {
  text-align: center;
  font-family: 'Noto Sans TC';
  font-style: normal;
  border-radius: 4px;
  width: 600px;
  padding: 32px 16px;
  height: max-content;
}

.popupModel .ant-modal-header {
  border-bottom: none;
}

.PICTransfer .ant-modal-body {
  border: none;
}

.popupModel .nz-modal-title {
  border-bottom: none;
}

.popupModel .ant-modal-body {
  border: none;
  padding: 0px;
}

.popupModel .ant-modal-footer {
  border-top: none;
}
