.item {
    width: 100%;
    background: #f6f6f6;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
}

h4 {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}

h5 {
    font-weight: 600;
    font-size: 16px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

p {
    font-weight: 700;
    font-size: 14px;
    color: #3F4852;
}

span {
    font-weight: 400;
    font-size: 14px;
    color: #3F4852;
}

h5 em {
    display: inline-block;
    width: 6px;
    height: 15px;
    background: #c0c8d1;
    margin-right: 8px;
    border-radius: 1px;
}

ul {
    color: #c0c8d1;
}

.item_header {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.header_right {
    margin-left: auto;
    margin-right: 20px;
    display: flex;
}

.security {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
}

.security div {
    width: 30%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.security div p {
    margin-right: 8px;
}