<div class="item">
    <div class="item_header">
        <h4>{{Data?.TypeName}}</h4>
        <div class="header_right" *ngIf="type != CompanyType.View">
            <em style="color:#E64C4C; margin-right: 20px;cursor: pointer;" (click)="DeleteData()" class="bi bi-trash"></em>
            <div style="color: #3074B8;cursor: pointer;" (click)="modifyData()"><em style="margin-right: 10px;" class="bi bi-pencil-fill"></em>編輯</div>
        </div>
    </div>
    <div style="margin-bottom: 10px;">
        <h5><em></em> 證券資料</h5>
        <div class="security">
            <div *ngIf="!!Data?.DD_Close_Date">
                <p>盡職調查完成日</p>
                <span>{{Data?.DD_Close_Date | datePip:'transition'}}</span>
            </div>
            <div *ngIf="!!Data?.First_Trans_Date">
                <p>初次投資日</p>
                <span>{{Data?.First_Trans_Date | datePip }}</span>
            </div>
            <div *ngIf="!!Data?.Stock_Type">
                <p>股票形式</p>
                <span>{{Data?.Stock_Type_Name}}</span>
            </div>
            <div *ngIf="!!Data?.Quit_Date">
                <p>退出日期</p>
                <span>{{Data?.Quit_Date | datePip }}</span>
            </div>
            <div *ngIf="!!Data?.Quit_Reason" style="width: 70%;">
                <p>退出原因</p>
                <span>{{Data?.Quit_Reason}}</span>
            </div>
            <div style="width: 100%;" *ngIf="!!Data?.Remark">
                <p style="min-width: 30px;">備註</p>
                <span>{{Data?.Remark}}</span>
            </div>
        </div>
    </div>
    <div *ngIf="Data?.SecurityStrikeList?.length > 0">
        <h5><em></em>履約資料</h5>
        <ul>
            <li *ngFor="let item of Data?.SecurityStrikeList">
                <div class="security" style="padding-left: 0px;">
                    <div>
                        <p>到期日</p>
                        <span>{{item.Due_Date | datePip }}</span>
                    </div>
                    <div>
                        <p>履約價</p>
                        <span>{{item.Strike_Price | number:'.0-6' }}</span>
                    </div>
                    <div>
                        <p>履約股數</p>
                        <span>{{item.Strike_Stock_Share}}</span>
                    </div>
                </div>

            </li>
        </ul>
    </div>
</div>

<nz-modal [nzClosable]="false" [nzClassName]="'SecurityItem'" [(nzVisible)]="isVisible" nzTitle="是否刪除此卡片？" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="刪除" (nzOnOk)="handleOk()" [nzOkDanger]="true">
    <ng-container *nzModalContent>
        <p>如果要刪除，系統將不儲存此筆Security資料</p>
    </ng-container>
</nz-modal>