/* 内容樣式 */


/* .detail {
    background-color: #fff;
    border-radius: 10px;
    margin: 16px 32px 0 32px;
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
} */

.detail {
    background-color: #fff;
    /* margin: 16px 32px 32px 32px; */
    padding: 15px 30px 70px 30px;
    height: 70vh;
    border-radius: 4px;
}


/* search樣式 */

.search-box {
    width: 180px;
}

.kindStyle {
    font-style: normal;
    font-weight: 400;
    background: #f6f6f6;
    border-radius: 4px;
    width: 150px;
    height: 32px;
    line-height: 32px;
    padding: 0 12px;
}

.amountsearchItem {
    margin-left: 16px;
}

.searchRight {
    display: flex;
    flex-wrap: nowrap;
}


/* .titlestyle {
    font-weight: 400;
    line-height: 32px;
    margin-right: 12px;
    font-size: 12px;
} */

.titlestyle {
    display: flex;
    font-weight: 400;
    line-height: 32px;
    margin-right: 12px;
    font-size: 12px;
    margin-left: auto;
}

.titleColor {
    font-weight: 700;
    font-size: 12px;
    color: #3B85ED;
}

.ben {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
}

.btnSelect {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    border: 1px solid #959ea9;
    border-radius: 4px;
    width: 60px;
    display: block;
    background: #fff;
    height: 30px;
    margin-right: 12px;
}

.btntCreate {
    border: none;
    background: #3074b8;
    border-radius: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #fff;
    width: 86px;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.selectBGC {
    background-color: #B8D5FF !important;
}

.reportSVG {
    position: relative;
}

.reportSVG em {
    position: absolute;
    top: 4px;
    right: -20px;
}

.selectitem .ant-select-selector {
    background-color: #b5d2fb;
}

.amountsearchItem .selectitem .ant-select-arrow {
    color: #3F4852;
}


/* TableList樣式 */

.tableDetail {
    width: 100%;
    margin-top: 15px;
}

.ShowSelect {
    display: none;
}

.thStyle th {
    background: #fff;
}

.kindItem {
    display: inline-block;
}

.bubbleCount {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: #3074b8;
    border-radius: 4px;
    text-align: center;
    color: #fff;
    line-height: 16px;
    font-weight: 700;
    font-size: 12px;
    font-style: normal;
}

.selectOptionItem {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.CloseBtn {
    font-weight: 400;
    font-size: 14px;
    line-height: 32px;
    margin-left: 12px;
}

.CloseBtn a {
    color: #959EA9;
}


/* Striped table */

th:not(.ant-table-selection-column),
td:not(.ant-table-selection-column) {
    min-width: 225px;
    max-width: 225px;
}

td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 4.5px 8px !important;
}

th {
    padding: 4px 8px !important;
}

::ng-deep .ant-table {
    overflow: auto;
}

.blueBackColor {
    background-color: #f1f7ff !important;
}

.grayBackColor {
    background-color: #f6f6f6;
}