<div class="detail">
    <div class="d-flex flex-column w-100">
        <div class="d-flex">
            <div class="search-box" *ngIf="isShowView">
                <input type="text" nz-input placeholder="搜索公司全稱" [(ngModel)]="searchValue" style="width: 130px; border-radius: 4px 0 0 4px" />
                <button nz-button nzSize="small" nzType="primary" (click)="search()" class="search-button" style="height: 32px; width: 32px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z">
                        </path>
                    </svg>
                </button>
            </div>
            <div class="kindStyle" [ngStyle]="{
          background: SecurityValueId.length > 0 ? '#f1f7ff' : '#f6f6f6'
        }">
                <div class="kindItem" nz-dropdown [nzDropdownMenu]="menu1" [nzPlacement]="'bottomCenter'" [nzClickHide]="false">
                    證券/基金種類
                    <div class="bubbleCount" *ngIf="SecurityValueId.length > 0">
                        {{ SecurityValueId.length }}
                    </div>
                </div>
                <a href="javascript:void(0);" (click)="closeSelectValue()" class="reportSVG">
                    <em nz-icon nzType="down" nzTheme="outline" *ngIf="SecurityValueId.length == 0" style="width: 12px; height: 12px"></em>
                    <em *ngIf="SecurityValueId.length > 0" nz-icon nzType="close" nzTheme="outline" style="width: 12px; height: 12px"></em>
                </a>
                <nz-dropdown-menu #menu1="nzDropdownMenu">
                    <ul nz-menu>
                        <li nz-menu-item *ngFor="let data of kindList">
                            <label nz-checkbox [(ngModel)]="data.checked" (ngModelChange)="CompanyTransaction(data)">{{
                                data.label }}</label>
                        </li>
                    </ul>
                </nz-dropdown-menu>
            </div>
            <div class="amountsearchItem" [ngClass]="
          !!currencyValue
            ? 'amountsearchItem checkAmountSearchItem'
            : 'amountsearchItem'
        ">
                <nz-select [nzAllowClear]="false" [nzShowArrow]="true" [nzPlaceHolder]="botypeSelect" style="width: 120px" [nzCustomTemplate]="botypeSelect">
                    <nz-option [nzCustomContent]="true" *ngFor="let data of boTypeList" [nzValue]="data.value" [nzLabel]="data.label">
                        <label nz-checkbox style="width: 100%;" [(ngModel)]="data.checked" (ngModelChange)="boTypeCheckBox()" (click)="boTypeCheckBox()">{{data.label}}</label>
                    </nz-option>
                </nz-select>
                <ng-template #botypeSelect>
                    <div class="selectOptionItem">BO TYPE
                        <div class="bubbleCount" *ngIf="boTypeValue.length > 0">
                            {{ boTypeValue.length }}</div>
                    </div>
                </ng-template>
            </div>

            <div class="amountsearchItem" [ngClass]="
          !!currencyValue
            ? 'amountsearchItem checkAmountSearchItem'
            : 'amountsearchItem'
        ">
                <nz-select [nzAllowClear]="false" [nzPlaceHolder]="typeSelect" style="width: 120px" [nzCustomTemplate]="typeSelect">
                    <nz-option [nzCustomContent]="true" *ngFor="let data of typeList" [nzValue]="data.value" [nzLabel]="data.label">
                        <label nz-checkbox style="width: 100%;" [(ngModel)]="data.checked" (ngModelChange)="typeCheckBox()" (click)="typeCheckBox()">{{data.label}}</label>
                    </nz-option>
                </nz-select>
                <ng-template #typeSelect>
                    <div class="selectOptionItem">類型
                        <div class="bubbleCount" *ngIf=" typeValue.length > 0">
                            {{ typeValue.length }}</div>
                    </div>
                </ng-template>
            </div>


            <div class="amountsearchItem" [ngClass]="
          !!currencyValue
            ? 'amountsearchItem checkAmountSearchItem'
            : 'amountsearchItem'
        ">
                <nz-select [nzAllowClear]="true" [(ngModel)]="currencyValueData" nzPlaceHolder="幣別" style="width: 120px">
                    <nz-option *ngFor="let data of currencyList" [nzValue]="data" [nzLabel]="data"></nz-option>
                </nz-select>
            </div>
            <div class="CloseBtn" *ngIf="
          typeValue.length > 0 ||
          boTypeValue.length > 0 ||
          !!currencyValue ||
          SecurityValueId.length > 0
        ">
                <a href=" javascript:void(0);" (click)="closeSelectValue()">清除</a>
            </div>
        </div>

        <div class="d-flex my-3">
            <div class="titlestyle" [ngClass]="isShowSelect ? 'titleColor' : ''">
                {{ isShowSelect ? "已勾選" + setOfCheckedId.size : "總共 " + tableListData.length }} 個項目
            </div>
            <button class="btnSelect" (click)="isShowSelect = !isShowSelect" *ngIf="isShowSelectBtn && isShowInsert">
                {{ isShowSelect ? "取消" : "選取" }}
            </button>
            <button class="btntCreate" *ngIf="!isShowSelect && isShowInsert" (click)="routingOperate()">
                <img src="../../../../../assets//images/icon/Vector_Add.svg" alt="" style="margin-right: 16px" />
                新增
            </button>
            <button class="btntCreate" *ngIf="isShowSelect" (click)="DeleteAmount(); this.isVisible = true" style="background: #e54c4c">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                    viewBox="0 0 16 16" style="color: #fff; margin-right: 15px">
                    <path
                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                    <path fill-rule="evenodd"
                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                </svg>刪除
            </button>

            <nz-modal [nzClosable]="false" [nzClassName]="'AmountModal'" [(nzVisible)]="isVisible" nzTitle="是否刪除所選項目？" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="刪除" (nzOnOk)="handleOk()" [nzOkDanger]="true">
                <ng-container *nzModalContent>
                    <p>以下項目將被刪除：</p>
                    <div *ngIf="deleteStr != null && deleteStr.length <= 2">
                        <p *ngFor="let item of deleteStr">{{ item }}</p>
                    </div>
                    <div *ngIf="deleteStr != null && deleteStr.length > 2">
                        <p>{{ deleteStr[0] }}</p>
                        <p>{{ deleteStr[1] }}</p>
                        <p>... +{{ deleteStr.length - 2 }}</p>
                    </div>
                </ng-container>
            </nz-modal>
        </div>
        <div class="tableDetail">
            <nz-table #fixedTable [nzData]="tableListData" [nzScroll]="{ x: '4000px' }" [nzShowPagination]="true" [nzShowQuickJumper]="true" [nzShowSizeChanger]="true">
                <thead>
                    <tr class="thStyle">
                        <th nzLeft [nzChecked]="checked" [nzIndeterminate]="indeterminate" (nzCheckedChange)="onAllChecked($event)" scope [nzWidth]="'40px'" *ngIf="isShowSelect"></th>
                        <th scope *ngFor="let data of listOfColumn; let key = index" [nzLeft]="key <= 1" [nzShowSort]="key <= 5 ? true : false" [nzSortFn]="key <= 5 ? data.compare : ''" [nzShowFilter]="data.title == '投資主體'" [nzFilterMultiple]="data.title == '投資主體'" [nzFilters]="
                data.title == '投資主體' ? listFilter.listOfFilter : null
              " [nzFilterFn]="
                data.title == '投資主體' ? listFilter.filterFn : null
              ">
                            {{ data.title }}
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let data of fixedTable.data; let key = index" (click)="routingSkip(data.amount_No)" [ngClass]="
              setOfCheckedId.has(data.id)
                ? 'blueBackColor'
                : key % 2 == 1
                ? 'grayBackColor'
                : ''
            ">
                        <td nzLeft [ngClass]="
                setOfCheckedId.has(data.id)
                  ? 'blueBackColor'
                  : key % 2 == 1
                  ? 'grayBackColor'
                  : ''
              " *ngIf="isShowSelect" [nzChecked]="setOfCheckedId.has(data.id)" [nzDisabled]="
                data.create_User != userId || data.data_Source != '001'
              " (nzCheckedChange)="onItemChecked(data.id, $event)"></td>

                        <td nzLeft [ngClass]="
                setOfCheckedId.has(data.id)
                  ? 'blueBackColor'
                  : key % 2 == 1
                  ? 'grayBackColor'
                  : ''
              ">
                            {{ data.use_Name }}
                        </td>
                        <td nzLeft [ngClass]="
                setOfCheckedId.has(data.id)
                  ? 'blueBackColor'
                  : key % 2 == 1
                  ? 'grayBackColor'
                  : ''
              ">
                            {{ data.use_Type_Name }}
                        </td>
                        <td>{{ data.effective_Date | datePip }}</td>
                        <td>{{ data.dD_Close_Date | datePip:'transition' }}</td>
                        <td>{{ data.investment_Subject_Name }}</td>
                        <td>{{ data.bo_Name }}</td>
                        <td>{{ data.record_Type_Name }}</td>
                        <td>{{ data.investment_Date | datePip }}</td>
                        <td>{{ data.ori_Currency }}</td>
                        <td>{{ data.ori_Amount | number: ".0-6" }}</td>
                        <td>{{ data.ori_Cost | number: ".0-6" }}</td>
                        <td>{{ data.ori_Stock_Share | number: ".0-6" }}</td>
                        <td>{{ data.ori_Stock_Price | number: ".0-6" }}</td>
                        <td>{{ (data.ori_Stock_Ratio * 1000000) / 10000 }}</td>
                        <td>{{ data.vendor_Code }}</td>
                        <td>{{ data.vendor_Name }}</td>
                        <td>{{ data.payment_Name }}</td>
                        <td>{{ data.board_Meeting_Date | datePip }}</td>
                        <td>{{ data.outstanding_Shares | number }}</td>
                        <td>{{ data.remark }}</td>
                        <td>
                            <a *ngIf="data.data_Source =='003' || data.data_Source =='004'" [href]="data.external_Pid" target="_blank"><em class="bi bi-link-45deg"></em> 前往查看</a>
                        </td>
                        <td>{{ data.trans_Currency }}</td>
                        <td>{{ data.trans_Amount | number: ".0-6" }}</td>
                        <td>{{ data.trans_Cost | number: ".0-6" }}</td>
                        <td>{{ data.trans_Stock_Price | number: ".0-6" }}</td>
                    </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>