<nz-modal [(nzVisible)]="isVisible" nzClassName="securityModel" [nzMaskClosable]="false" [nzStyle]="{top : '20px'}"
  (nzAfterClose)="nzAfterClose()" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter"
  (nzOnCancel)="handleCancel($event)">
  <form nz-form [nzAutoTips]="autoTips" [formGroup]="validateForm" (ngSubmit)="handleOk()">
    <ng-template #modalTitle>{{title}}</ng-template>

    <ng-template #modalContent>
      <div class="ContentStyle">
        <div class="security">
          <div *ngIf="visibleType != FundTypeList.Custom" style="width: 100%; background-color: #fffcf1; height: 37px;">
            <i nz-icon style="position: relative; top: -3px; padding-left: 16px;">
              <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_6226_28932)">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C7.34784 20 4.8043 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10C0 7.34784 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34784 0 10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34784 20 10ZM10 5C9.84201 5.00009 9.68579 5.03327 9.5414 5.09741C9.39701 5.16155 9.26766 5.25522 9.16168 5.37239C9.0557 5.48956 8.97543 5.62763 8.92606 5.77771C8.87668 5.92779 8.85929 6.08654 8.875 6.24375L9.3125 10.6275C9.3272 10.7997 9.406 10.9601 9.53331 11.077C9.66061 11.1939 9.82716 11.2588 10 11.2588C10.1728 11.2588 10.3394 11.1939 10.4667 11.077C10.594 10.9601 10.6728 10.7997 10.6875 10.6275L11.125 6.24375C11.1407 6.08654 11.1233 5.92779 11.0739 5.77771C11.0246 5.62763 10.9443 5.48956 10.8383 5.37239C10.7323 5.25522 10.603 5.16155 10.4586 5.09741C10.3142 5.03327 10.158 5.00009 10 5ZM10.0025 12.5C9.67098 12.5 9.35304 12.6317 9.11862 12.8661C8.8842 13.1005 8.7525 13.4185 8.7525 13.75C8.7525 14.0815 8.8842 14.3995 9.11862 14.6339C9.35304 14.8683 9.67098 15 10.0025 15C10.334 15 10.652 14.8683 10.8864 14.6339C11.1208 14.3995 11.2525 14.0815 11.2525 13.75C11.2525 13.4185 11.1208 13.1005 10.8864 12.8661C10.652 12.6317 10.334 12.5 10.0025 12.5Z"
                    fill="#FDD443" />
                </g>
                <defs>
                  <clipPath id="clip0_6226_28932">
                    <rect width="20" height="20" fill="white" />
                  </clipPath>
                </defs>
              </svg>
            </i>
            <label style="font-size: 14px; padding: 8px 8px 8px 15px; font-weight:bold;"> 注意！基金資料建立後，認購卡片將不可刪除</label>
          </div>

          <div class="basicItem">
            <nz-form-item>
              <div class="itemContent">
                <nz-form-label [nzRequired]="visibleType != FundTypeList.Custom">認購幣別</nz-form-label>
                <nz-form-control nzValidatingTip="Validating...">
                  <label *ngIf="visibleType == FundTypeList.Custom">{{SecurityList.Commited_Currency}}</label>
                  <nz-select *ngIf="visibleType != FundTypeList.Custom" formControlName="commited_Currency" nzAllowClear
                    nzPlaceHolder="選擇認購幣別">
                    <nz-option *ngFor="let data of currencyList" [nzLabel]="data" [nzValue]="data"></nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>

          <div class="basicItem">
            <nz-form-item>
              <div class="itemContent">
                <nz-form-label [nzRequired]="visibleType != FundTypeList.Custom">認購金額</nz-form-label>
                <nz-form-control nzValidatingTip="Validating...">
                  <label *ngIf="visibleType == FundTypeList.Custom">{{SecurityList.Commited_Amount}}</label>
                  <nz-input-number style="width: 100%;" *ngIf="visibleType != FundTypeList.Custom" [nzPrecision]="6"
                    formControlName="commited_Amount" [nzMin]="0.000000" [nzMax]="999999999998.999999"
                    [nzPlaceHolder]="'輸入認購金額'"></nz-input-number>

                </nz-form-control>
              </div>
            </nz-form-item>
          </div>

          <div class="basicItem">
            <nz-form-item>
              <div class="itemContent">
                <nz-form-label nzRequired>合約生效日</nz-form-label>
                <nz-form-control nzValidatingTip="Validating... ">
                  <nz-date-picker formControlName="effective_Date" [nzPlaceHolder]=" '輸入日期 ' + dateFormat ">
                  </nz-date-picker>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>

          <div class="basicItem">
            <nz-form-item>
              <div class="itemContent">
                <nz-form-label [nzRequired]="visibleType != FundTypeList.Custom">盡職調查完成日</nz-form-label>
                <nz-form-control nzValidatingTip="Validating...">
                  <label *ngIf="visibleType == FundTypeList.Custom">{{SecurityList.DD_Close_Date}}</label>
                  <nz-select *ngIf="visibleType != FundTypeList.Custom" formControlName="dd_Close_Date" nzAllowClear
                    nzPlaceHolder="選擇盡職調查完成日">
                    <nz-option *ngFor="let data of closeDateList" [nzLabel]="data | datePip" [nzValue]="data | datePip">
                    </nz-option>
                  </nz-select>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>

          <div class="basicItem" style="width: 100%;">
            <nz-form-item>
              <div class="itemControll" style="width: 100%; ">
                <nz-form-label [nzSpan]="24">備註</nz-form-label>
                <nz-form-control [nzSpan]="24" nzValidatingTip="Validating... ">
                  <label *ngIf="visibleType == FundTypeList.Custom">{{SecurityList.Remark}}</label>
                  <textarea *ngIf="visibleType != FundTypeList.Custom" rows="4 " nz-input formControlName="remark"
                    placeholder="輸入文字"></textarea>
                </nz-form-control>
              </div>
            </nz-form-item>
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template #modalFooter>
      <button nz-button nzType="default" class="SecurityCancel" (click)="handleCancel($event)">取消</button>
      <button nz-button nzType="primary" class="SecurityOK" (click)="handleOk()">{{handOkTxt}}</button>
    </ng-template>
  </form>
</nz-modal>
