<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span>{{dataName}}</span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <form nz-form [nzAutoTips]="autoTips" onkeydown="if(event.keyCode==13){return false;}" [formGroup]="validateForm">
        <div class="nav shadow-sm">
            <nz-form-item>
                <nz-form-control>
                    <button class="btnLeft" (click)="giveUp($event)">捨棄</button>
                    <button class="btnRight" (click)="submitForm()">儲存</button>
                </nz-form-control>
            </nz-form-item>

        </div>
        <div class="detail">
            <a href="javascript:(0);;" class="backStyle" (click)="giveUp($event)"><em class="bi-arrow-left-short"
                    style="font-size: 30px;"></em></a>
            <div>
                <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                    <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                        <div class="basicContent">

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>公司全稱</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="" *ngIf="operateType == CompanyType.Update">{{name}}</label>
                                            <nz-select class="inputcontext" [hidden]="!(operateType == CompanyType.Add&& (userRole?.isIMDMember || userRole?.isIT))" formControlName="name" nzAllowClear nzPlaceHolder="選擇公司">
                                                <nz-option *ngFor="let data of nameList" [nzLabel]="data.name" [nzValue]="data.name">
                                                </nz-option>
                                            </nz-select>
                                            <input class="inputcontext" [hidden]="!(operateType == CompanyType.Add && userRole?.isBoardSecretariatMember)" nz-input placeholder="輸入名稱" formControlName="name" (blur)="nameChange()" />
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>公司簡稱</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="" [hidden]="!(operateType == CompanyType.Update)">{{nick_Name}}</label>
                                            <input class="inputcontext" [hidden]="!(operateType == CompanyType.Add)" nz-input placeholder="輸入名稱" formControlName="nickName" />
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>交易主體</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <input type="text" nz-input placeholder="輸入交易主體" formControlName="subject" />
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>建議Status<em style="color: #c0c8d1;margin-left: 10px;" nz-tooltip nzTooltipTitle='系統推薦值' [nzTooltipOverlayClassName]="'companyToolStyle'" class="bi-info-circle-fill"></em></nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label for="">{{!!suggest_status ? suggest_status : '無資料'}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label [nzRequired]="isStatusReq">Status</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select class="inputcontext" formControlName="status" nzAllowClear nzPlaceHolder="輸入代碼">
                                                <nz-option *ngFor="let data of statusList" [nzLabel]="data.label" [nzValue]="data.value">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>事業單位窗口</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-input-group [nzSuffix]="suffixIconSearch1">
                                                <input readonly class="inputcontext" type="text" nz-input placeholder="選擇事業單位窗口" formControlName="unit_Pic" />
                                            </nz-input-group>
                                            <ng-template #suffixIconSearch1>
                                                <a href="javascript:(0);;" style="color:#959ea9;"><em
                                                        class="bi bi-search" (click)="BOPICSearch.initBOPIC(unitPicList)"></em></a>
                                            </ng-template>

                                            <ul>
                                                <li *ngFor="let item of unitPicList let key = index" class="emailStyle">
                                                    <div class="emailTxtStyle">{{item.name_A}} <a href="javascript:(0);;"><em
                                                                class="bi bi-x-lg"
                                                                (click)="deleteUnit(key)"></em></a></div>
                                                </li>
                                            </ul>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>被投資窗口Email</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-input-group [nzSuffix]="suffixIconSearch2">
                                                <input type="email" name="primaryEmail" class="inputcontext" type="text" (keyup.enter)="addEmail()" nz-input placeholder="輸入Email" formControlName="email" />
                                            </nz-input-group>
                                            <ng-template #suffixIconSearch2>
                                                <a id="inputPlusIcon" href="javascript:(0);;" style="color:#959ea9; font-size: 25px; position: absolute; right: 5px;"><em
                                                        class="bi bi-plus" (click)="addEmail()"></em></a>
                                            </ng-template>
                                            <ul>
                                                <li *ngFor="let item of emailList; let key = index" class="emailStyle">
                                                    <div class="emailTxtStyle">{{item}} <a href="javascript:(0);;"><em
                                                                class="bi bi-x-lg"
                                                                (click)="deleteEmail(key)"></em></a></div>
                                                </li>
                                            </ul>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>投資部PIC</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <label>{{name_a}}</label>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                        </div>
                        <ng-template #expandedIcon let-active>
                            {{ active }}
                            <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                        </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>

                <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                    <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="'掛牌資訊'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                        <div class="basicContent">

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label [nzRequired]="isMarketReq">股票市場種類</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select class="inputcontext" formControlName="stock_Market" nzAllowClear nzPlaceHolder="選擇股票市場種類">
                                                <nz-option *ngFor="let data of stockMarketList" [nzLabel]="data.label" [nzValue]="data.value">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>上市掛牌代碼</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <input type="text" nz-input placeholder="輸入代碼" onkeyup="this.value=this.value.toUpperCase()" formControlName="stock_Symbol" />
                                            <div class="exampleDiv">例：上市3231.TW，上櫃3325.TWO，與櫃8119</div>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>公司財年制度</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select class="inputcontext" formControlName="fin_Year_Rule" nzAllowClear nzPlaceHolder="選擇公司財年制度">
                                                <nz-option *ngFor="let data of finYearList" [nzLabel]="data.label" [nzValue]="data.value">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                        </div>
                        <ng-template #expandedIcon let-active>
                            {{ active }}
                            <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                        </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>

                <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                    <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="'公司類型'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                        <div class="basicContent">
                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label nzRequired>行業別 - 大類</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select class="inputcontext" formControlName="industry_Catagory" nzAllowClear nzPlaceHolder="選擇類別">
                                                <nz-option *ngFor="let data of catagoryList" [nzLabel]="data.label" [nzValue]="data.value">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>行業別 - 細類</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <input class="inputcontext" nz-input placeholder="輸入文字" formControlName="industry_Detail" />
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>投資時公司所處階段</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select class="inputcontext" formControlName="company_Stage" nzAllowClear nzPlaceHolder="選擇階段">
                                                <nz-option *ngFor="let data of stageList" [nzLabel]="data.label" [nzValue]="data.value">
                                                </nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>總部</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <nz-select class="inputcontext" formControlName="headquarter" nzAllowClear nzPlaceHolder="選擇國家">
                                                <nz-option *ngFor="let data of headquarterList" [nzLabel]="data" [nzValue]="data"></nz-option>
                                            </nz-select>
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>

                            <div class="basicItem">
                                <nz-form-item>
                                    <div class="itemContent">
                                        <nz-form-label>主營業務</nz-form-label>
                                        <nz-form-control nzValidatingTip="Validating...">
                                            <input class="inputcontext" nz-input placeholder="輸入文字" formControlName="main_Business" />
                                        </nz-form-control>
                                    </div>
                                </nz-form-item>
                            </div>
                        </div>
                        <ng-template #expandedIcon let-active>
                            {{ active }}
                            <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                        </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>

                <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                    <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="'Security'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                        <div class="basicContent">
                            <div class="AddSecurity">
                                <div class="AddTxt"><em class="bi bi-plus-lg"></em><span>選擇要新增的證券種類</span></div>
                                <div class="AddDetail">
                                    <div *ngFor="let item of securityList" class="AdddetailItem" (click)="companySecurity.editVisible(true, item.value, CompanyType.Add, userRole, name)">{{item.label}}</div>
                                </div>
                            </div>
                            <app-security-item style="width: 100%;" *ngFor="let data of securityDataList; let key = index" [index]="key" [Data]="data" [type]="CompanyType.Update" (modifySecurity)="modifySecurity($event)"></app-security-item>
                        </div>
                        <ng-template #expandedIcon let-active>
                            {{ active }}
                            <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                        </ng-template>
                    </nz-collapse-panel>
                </nz-collapse>
            </div>
            <app-company-security #companySecurity (goBackData)="goBackData($event)"></app-company-security>
        </div>
    </form>
    <app-bo-pic-search (chosenUnitPICItem)="chosenUnitPIC($event)" #BOPICSearch></app-bo-pic-search>
</div>

<!-- 投資部PIC維護提醒彈窗 -->
<nz-modal nzClassName="DDWarning" [(nzVisible)]="isCheckVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter">
    <ng-template #modalTitle><svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
        <path style="color: #FFEAA0;" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
        <path style="color: #FDD443;" d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
      </svg></ng-template>

    <ng-template #modalContent>
        <p>此公司已有其他投資部PIC，不可維護</p>
    </ng-template>

    <ng-template #modalFooter>
        <button nz-button (click)="handleCheckOk()">OK</button>
    </ng-template>
</nz-modal>

<!-- 捨棄彈窗 -->
<nz-modal [nzClosable]="false" [nzClassName]="'AmountModal'" [(nzVisible)]="isVisible" nzTitle="是否捨棄變更？" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="捨棄" (nzOnOk)="handleOk()">
    <ng-container *nzModalContent>
        <p>您尚未存儲變更，若選擇捨棄，將清除所有變更</p>
    </ng-container>
</nz-modal>

<!-- 校驗彈窗 -->
<nz-modal [nzClassName]="'companyCheckModel'" [(nzVisible)]="CheckDataVisible" [nzTitle]="modalTitle1" [nzContent]="modalContent1" [nzFooter]="modalFooter1">
    <ng-template #modalTitle1>{{checkDataTitle}}</ng-template>

    <ng-template #modalContent1>
        <p *ngIf="checkDataContentList.length <= 0">{{checkDataContent}}</p>
        <div *ngIf="checkDataContentList.length > 0" class="check2Content">
            <p>{{checkDataContent}}</p>
            <p *ngFor="let item of checkDataContentList">{{item}}</p>
        </div>
    </ng-template>

    <ng-template #modalFooter1>
        <button nz-button class="buttonbackStyle" *ngIf="!checkDataType.has(3)" (click)="handCheckCancel()">返回編輯</button>
        <button nz-button *ngIf="checkDataType.has(3)" (click)="handCheckCancel()">取消</button> &nbsp;
        <button nz-button *ngIf="checkDataType.has(3)" nzType="primary" (click)="handCheckOk()">儲存</button>
    </ng-template>
</nz-modal>

<app-back-top></app-back-top>