<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
          <i class="bi bi-list"></i>
        </span>
            <span>{{tableListData?.Nick_Name}}</span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <div class="nav shadow-sm">
        <div class="navLeft">
            <img src="../../../../../assets/images/icon/Vector_Home.svg" alt="" />
            <span><a routerLink="/">Home</a> /</span>
            <span><a (click)="breadRouting()" routerLink="/../fundFinancials" > 基金淨值列表</a> / </span>
            <span><a href="javascript:(0);;" (click)="goBack()">{{ tableListData?.Nick_Name}}</a> /</span>
            <span class="companyName">{{ tableListData.Nick_Name }} - 基金淨值檢視頁</span>
        </div>

        <div class="navRight" *ngIf="isShowBtn">
            <a href="javascript:(0);;" (click)="popup.openModel()"><em class="bi-trash" style="color:#E54C4C;"></em></a>
            <button class="rightBtn" (click)="routingOperate()"><em class="bi-pencil-fill"
            style="padding-right: 10px;"></em>編輯</button>
        </div>

    </div>
    <div class="detail">
        <div class="detailHeader">
            <a href="javascript:(0);;" style="color: #101010" (click)="goBack()"><em
                    class="bi-arrow-left-short" style="font-size: 30px;"></em></a>
        </div>
        <!-- 基本资料 -->
        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
            <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                <div class="companyStyle">
                    <div class="ViewItem">
                        <p>基金簡稱</p>
                        <span>{{tableListData.Nick_Name}}</span>
                    </div>
                    <div class="ViewItem" style="width: 75%;">
                        <p>基金全稱</p>
                        <span>{{tableListData.Full_Name}}</span>
                    </div>
                    <div class="ViewItem">
                        <p>財年</p>
                        <span>{{tableListData.Financial_Year}}</span>
                    </div>
                    <div class="ViewItem">
                        <p>Quarter</p>
                        <span>{{tableListData.Quarter_Name}}</span>
                    </div>
                    <div class="ViewItem">
                        <p>報表期初<em style="color: #c0c8d1;margin-left: 10px; " nz-tooltip nzTooltipTitle='報表期初只會設定在該月份的第一天' [nzTooltipOverlayClassName]="'titleTool'" class="bi-info-circle-fill"></em></p>
                        <span>{{tableListData.Report_Start_Date | datePip}}</span>
                    </div>
                    <div class="ViewItem">
                        <p>報表期末<em style="color: #c0c8d1;margin-left: 10px;" nz-tooltip nzTooltipTitle='報表期末只會設定在該月份的最後一天' [nzTooltipOverlayClassName]="'titleTool'" class="bi-info-circle-fill"></em></p>
                        <span>{{tableListData.Report_End_Date| date: "YYYY-MM-dd" }}</span>
                    </div>
                    <div class="ViewItem">
                        <p>Currency</p>
                        <span>{{tableListData.Currency}}</span>
                    </div>
                    <div class="ViewItem" style="width: 75%;">
                        <p>基金淨值</p>
                        <span>{{tableListData.Amount | number:".0-6"}}</span>
                    </div>
                </div>

                <ng-template #expandedIcon let-active>
                    {{ active }}
                    <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                </ng-template>
            </nz-collapse-panel>
        </nz-collapse>

        <!-- 備註 -->
        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
            <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="'備註'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                <div class="companyStyle">
                    <div class="ViewItem" style="width: 100%;">
                        <p>關注事項</p>
                        <span>{{tableListData.Concerns}}</span>
                    </div>
                </div>
                <ng-template #expandedIcon let-active>
                    {{ active }}
                    <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                </ng-template>
            </nz-collapse-panel>
        </nz-collapse>

        <!-- 財報資料時程 -->
        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
            <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="'財報資料時程'" [nzActive]="panel.active" [ngStyle]="panel.customStyle">
                <div class="companyStyle">
                    <app-gantt-chart-control [param]="param" [isFundFinancials]="true"></app-gantt-chart-control>
                </div>
                <ng-template #expandedIcon let-active>
                    {{ active }}
                    <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
                </ng-template>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
</div>

<!-- 删除显示Model -->
<app-popup #popup>
    <div headerTitle style="font-weight: 700;color: #101010;
    font-size: 28px;">是否刪除所選項目？</div>
    <div ContentBody style="font-weight: 400;
    font-size: 16px;color: #3F4852;">
        <p>如要刪除, 系統將不儲存此筆單次認購資料</p>
    </div>
    <div FooterDetail class="modelFotter">
        <button nz-button nzType="default" class="cancel" (click)="popup.closeModel()">取消</button>
        <button nz-button nzType="primary" class="ok" (click)="handleOk()">刪除</button>
    </div>
</app-popup>