.nav {
    /* margin-top: 5px; */
    /* margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff; */
    position: relative;
    height: 47px;
    line-height: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
}


/* .navLeft {
    margin-left: 60px;
  } */

.navLeft>span {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #959EA9;
}

.navLeft .historyName {
    color: #3F4852;
}

.navRight {
    position: absolute;
    right: 30px;
    /* top: 81px; */
    z-index: 100;
    display: flex;
    align-items: center;
}

.navRight .rightBtn {
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border-radius: 4px;
    border: none;
    background: #3074b8;
    color: #ffff;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav .companyName {
    margin-left: 5px;
    color: #3F4852;
}

.nav img {
    margin-left: 60px;
    vertical-align: middle;
    margin-right: 5px;
}


/* 内容樣式 */

.detailHeader {
    position: absolute;
    left: -43px;
    /* top: 12px; */
}

.detail {
    margin: 16px 30px 0px 64px;
    position: relative;
}

.companyStyle {
    display: flex;
    flex-wrap: wrap;
}

.ViewItem {
    width: 25%;
    margin-bottom: 30px;
    height: 50px;
}

.ViewItem p {
    font-weight: 600;
    font-size: 16px;
    color: #101010;
}

.ViewItem span {
    font-weight: 400;
    font-size: 14px;
    color: #3F4852;
}

.modelFotter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.cancel {
    border: 1px solid #959EA9;
    border-radius: 4px;
    background: #FFFFFF;
    width: 72px;
    height: 37px;
    font-weight: 400;
    font-size: 16px;
    color: #3F4852;
}

.ok {
    border: none;
    background: #E64C4C;
    border-radius: 4px;
    width: 72px;
    height: 37px;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 16px;
}