.selectFileContent {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
  background-color: #F6F6F6;
  height: 73px;
}

.ErrorContent {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
  background-color: #FEEBEB;
  height: 72px;
}

.fileErrorTitle tr:hover td {
  background-color: #FEEBEB !important;
}

.SuccessContent {
  display: flex;
  padding: 0 20px;
  flex-wrap: wrap;
  background-color: #f3fef5;
  height: 103px;
}

.fileTitle tr:hover td {
  background-color: #F6F6F6 !important;
}

.bottomFileTitle tr:hover td {
  background-color: #ffffff !important;
}

.fileSuccessTitle tr:hover td {
  background-color: #f3fef5 !important;
}

.selectFile {
  border-radius: 4px;
  font-size: 14px;
  background: #FFFFFF;
  border: 1px solid #4090E0;
  color: #3074B8;
  width: 80px;
  height: 26px;
  padding: 0px 0px 0px 0px;
}

.selectFileContent p {
  margin-bottom: 0;
}

.bottomdivDashed {
  border-style: dashed;
  border-width: 2px;
  border-color: #e4e2e2;
  min-height: 201px;
  border-radius: 5px;
}

.tableDetail {
  width: 100%;
}

.thStyle th {
  background: #fff;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-transform: capitalize;
}

::ng-deep .ant-modal-title {
  font-weight: bolder;
  margin: 9px 0px 0px -9px;
  font-size: 20px;
}

::ng-deep .ant-modal-body {
  border-style: solid;
  border-width: 1px;
  border-color: rgba(63, 72, 82, 0.2);
  border-left-color: #fff;
  border-right-color: #fff;
  background-color: #ffffff;
}

::ng-deep .ant-modal-footer {
  background: #ffffff;
}

::ng-deep .ant-upload-list {
  display: none;
}

/* Pagination */
::ng-deep .ant-pagination.mini .ant-pagination-item:not(.ant-pagination-item-active) {
  background: 0 0;
  border-color: #DCE0E5;
}

::ng-deep .ant-pagination.mini .ant-pagination-next .ant-pagination-item-link {
  background: 0 0;
  border-color: #DCE0E5;
}

::ng-deep .ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link {
  background: 0 0;
  border-color: #DCE0E5;
}

.duplicateContent {
  font-family: 'Noto Sans TC';
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  text-transform: capitalize;
  color: #101010;
  width: 100%;
  padding-bottom: 16px;
}

.duplicateDetail {
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: capitalize;
  color: #3F4852;
  width: 100%;
}
