<nz-modal [(nzVisible)]="uploadVisible" nzTitle="{{titleName}}" nzWrapClassName="omponent-header" nzWidth='644px'
  [nzFooter]="null" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="確認" (nzOnOk)="handleOk()"
  [nzContent]="selectAreaContent">
  <ng-template #selectAreaContent>
    <nz-spin [nzSpinning]="isSpinning">
      <div style="margin-top: 5px;">
        <div class="selectFileContent">
          <table class="fileTitle" style="width: 100%;">
            <tr>
              <td rowspan="2" style="width:15%; padding: 0px 0px 0px 21px;">
                <i nz-icon style="position: relative; top: -3px;">
                  <svg width="30" height="40" viewBox="0 0 30 40" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M18.2325 0H5C3.67392 0 2.40215 0.526784 1.46447 1.46447C0.526784 2.40215 0 3.67392 0 5V35C0 36.3261 0.526784 37.5979 1.46447 38.5355C2.40215 39.4732 3.67392 40 5 40H25C26.3261 40 27.5979 39.4732 28.5355 38.5355C29.4732 37.5979 30 36.3261 30 35V11.7675C29.9999 11.1045 29.7364 10.4687 29.2675 10L20 0.7325C19.5313 0.263627 18.8955 0.000141594 18.2325 0V0ZM18.75 8.75V3.75L26.25 11.25H21.25C20.587 11.25 19.9511 10.9866 19.4822 10.5178C19.0134 10.0489 18.75 9.41304 18.75 8.75ZM2.5 22.5H27.5V25H20V30H27.5V32.5H20V37.5H17.5V32.5H10V37.5H7.5V32.5H2.5V30H7.5V25H2.5V22.5Z"
                      fill="#959EA9" />
                  </svg>
                </i>
              </td>
              <td style="width:65%; padding-top: 10px; font-weight: bold;">
                {{fileName}}
              </td>
              <td rowspan="2" style="padding-left: 31px;">
                <a href="javascript:(0);" (click)="downloadExcel()">
                  <em class="bi-download" style="font-size: 15px; color: #3074B8; font-style: normal;"><a
                      style="font-size: 12px; color: #3074B8;">&nbsp;&nbsp;點擊下載</a></em>
                </a>
              </td>
            </tr>
            <tr>
              <td style="width:65%; padding-bottom: 15px;">
                {{fileDescription}}
              </td>
            </tr>
          </table>
        </div>
      </div>
      <hr style="background-color: #9c9b9b;">
      <div class="bottomdivDashed">
        <table class="bottomFileTitle" style="width: 100%; height: 100%; margin: 42px 0px 0px 0px;">
          <tr>
            <td style="text-align: center;">
              <i nz-icon style="position: relative; top: -3px;">
                <svg width="42" height="30" viewBox="0 0 42 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M21 0.25C17.5356 0.260864 14.1894 1.51035 11.5658 3.77275C9.555 5.50525 8.09812 7.76275 7.72275 10.0281C3.32325 10.9994 0 14.8319 0 19.4597C0 24.8358 4.4835 29.125 9.92513 29.125H33.3034C38.0677 29.125 42 25.3713 42 20.6541C42 16.3596 38.7397 12.8605 34.5608 12.2699C33.9229 5.49738 28.0613 0.25 21 0.25ZM27.1793 13.7582C27.3013 13.8803 27.3981 14.0252 27.4641 14.1846C27.5302 14.344 27.5642 14.5149 27.5642 14.6875C27.5642 14.8601 27.5302 15.031 27.4641 15.1904C27.3981 15.3498 27.3013 15.4947 27.1793 15.6168C27.0572 15.7388 26.9123 15.8356 26.7529 15.9016C26.5935 15.9677 26.4226 16.0017 26.25 16.0017C26.0774 16.0017 25.9065 15.9677 25.7471 15.9016C25.5877 15.8356 25.4428 15.7388 25.3207 15.6168L22.3125 12.6059V22.5625C22.3125 22.9106 22.1742 23.2444 21.9281 23.4906C21.6819 23.7367 21.3481 23.875 21 23.875C20.6519 23.875 20.3181 23.7367 20.0719 23.4906C19.8258 23.2444 19.6875 22.9106 19.6875 22.5625V12.6059L16.6793 15.6168C16.4328 15.8632 16.0985 16.0017 15.75 16.0017C15.4015 16.0017 15.0672 15.8632 14.8207 15.6168C14.5743 15.3703 14.4358 15.036 14.4358 14.6875C14.4358 14.339 14.5743 14.0047 14.8207 13.7582L20.0707 8.50825C20.1927 8.38602 20.3375 8.28905 20.497 8.22288C20.6564 8.15671 20.8274 8.12265 21 8.12265C21.1726 8.12265 21.3436 8.15671 21.503 8.22288C21.6625 8.28905 21.8073 8.38602 21.9293 8.50825L27.1793 13.7582Z"
                    fill="#3B85ED" />
                </svg>
              </i>
            </td>
          </tr>
          <tr>
            <td style="text-align: center; padding-top: 10px; font-weight: bold;">
              選擇檔案進行匯入
            </td>
          </tr>
          <tr>
            <td style="text-align: center; font-size: 12px;">
              檔案類型限制：xlsx
            </td>
          </tr>
          <tr>
            <td style="text-align: center; padding-top: 13px;">
              <nz-upload class="uploadFile" [nzAccept]="fileType" [nzBeforeUpload]="beforeUpload"
                [nzShowUploadList]="showUploadList">
                <button nz-button class="selectFile">
                  選擇檔案
                </button>
              </nz-upload>
            </td>
          </tr>
        </table>
      </div>
    </nz-spin>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="uploadSuccessVisible || uploadErrorVisible" nzTitle="{{titleName}}"
  nzWrapClassName="omponent-header" nzWidth='644px' (nzOnCancel)="handleSuccessCancel()" nzOkText="OK"
  (nzOnOk)="handleOk()" [nzContent]="selectAreaContent2" [nzFooter]="onlyOkFooter">
  <ng-template #selectAreaContent2>
    <div style="margin-top: 5px; ">
      <div *ngIf="uploadSuccessVisible" class="SuccessContent">
        <table class="fileSuccessTitle" style="width: 100%; height: 103px;">
          <tr>
            <td rowspan="3" style="width:5%; padding-bottom: 56px;">
              <i nz-icon style="position: relative; top: -3px;">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C7.34784 20 4.8043 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10C0 7.34784 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34784 0 10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34784 20 10ZM15.0375 6.2125C14.9482 6.12352 14.8419 6.05347 14.7249 6.00652C14.6079 5.95957 14.4827 5.9367 14.3567 5.93926C14.2306 5.94183 14.1064 5.96979 13.9914 6.02146C13.8765 6.07313 13.7731 6.14746 13.6875 6.24L9.34625 11.7712L6.73 9.15375C6.55228 8.98815 6.31722 8.898 6.07435 8.90228C5.83147 8.90657 5.59974 9.00496 5.42797 9.17672C5.25621 9.34849 5.15782 9.58022 5.15353 9.8231C5.14925 10.066 5.2394 10.301 5.405 10.4788L8.7125 13.7875C8.8016 13.8764 8.90771 13.9465 9.02448 13.9936C9.14125 14.0406 9.26631 14.0637 9.39218 14.0613C9.51806 14.059 9.64217 14.0313 9.75712 13.98C9.87207 13.9286 9.9755 13.8547 10.0612 13.7625L15.0513 7.525C15.2214 7.34812 15.3153 7.11159 15.313 6.8662C15.3107 6.6208 15.2122 6.3861 15.0387 6.2125H15.0375Z"
                    fill="#2CAE74" />
                </svg>
              </i>
            </td>
            <td style="width:65%; padding-top: 10px; font-weight: bold;">
              檔案匯入成功
            </td>
          </tr>
          <tr>
            <td style="width:65%;">
              <i nz-icon style="position: relative; top: -3px;">
                <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.625 3.75C0.625 2.9212 0.95424 2.12634 1.54029 1.54029C2.12634 0.95424 2.9212 0.625 3.75 0.625C4.5788 0.625 5.37366 0.95424 5.95971 1.54029C6.54576 2.12634 6.875 2.9212 6.875 3.75V15C6.875 15.4973 6.67746 15.9742 6.32583 16.3258C5.97419 16.6775 5.49728 16.875 5 16.875C4.50272 16.875 4.02581 16.6775 3.67417 16.3258C3.32254 15.9742 3.125 15.4973 3.125 15V6.25C3.125 6.08424 3.19085 5.92527 3.30806 5.80806C3.42527 5.69085 3.58424 5.625 3.75 5.625C3.91576 5.625 4.07473 5.69085 4.19194 5.80806C4.30915 5.92527 4.375 6.08424 4.375 6.25V15C4.375 15.1658 4.44085 15.3247 4.55806 15.4419C4.67527 15.5592 4.83424 15.625 5 15.625C5.16576 15.625 5.32473 15.5592 5.44194 15.4419C5.55915 15.3247 5.625 15.1658 5.625 15V3.75C5.625 3.50377 5.5765 3.25995 5.48227 3.03247C5.38805 2.80498 5.24994 2.59828 5.07583 2.42417C4.90172 2.25006 4.69502 2.11195 4.46753 2.01773C4.24005 1.9235 3.99623 1.875 3.75 1.875C3.50377 1.875 3.25995 1.9235 3.03247 2.01773C2.80498 2.11195 2.59828 2.25006 2.42417 2.42417C2.25006 2.59828 2.11195 2.80498 2.01773 3.03247C1.9235 3.25995 1.875 3.50377 1.875 3.75V15C1.875 15.8288 2.20424 16.6237 2.79029 17.2097C3.37634 17.7958 4.1712 18.125 5 18.125C5.8288 18.125 6.62366 17.7958 7.20971 17.2097C7.79576 16.6237 8.125 15.8288 8.125 15V6.25C8.125 6.08424 8.19085 5.92527 8.30806 5.80806C8.42527 5.69085 8.58424 5.625 8.75 5.625C8.91576 5.625 9.07473 5.69085 9.19194 5.80806C9.30915 5.92527 9.375 6.08424 9.375 6.25V15C9.375 16.1603 8.91406 17.2731 8.09359 18.0936C7.27312 18.9141 6.16032 19.375 5 19.375C3.83968 19.375 2.72688 18.9141 1.90641 18.0936C1.08594 17.2731 0.625 16.1603 0.625 15V3.75Z"
                    fill="#3F4852" />
                </svg>
              </i>
              <label style="padding-left: 18px;">
                {{filename}}
              </label>
            </td>
          </tr>
          <tr>
            <td style="padding-bottom: 11px;">
              <i nz-icon style="position: relative; top: -3px;">
                <svg width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M16.7563 5.03487C16.4967 3.72633 15.8253 2.53514 14.8403 1.63547C13.8552 0.735808 12.6082 0.174856 11.2816 0.0346349C9.95492 -0.105587 8.6182 0.182277 7.46685 0.856136C6.31551 1.53 5.40993 2.55451 4.88253 3.77987C4.29107 3.71174 3.69194 3.76504 3.1218 3.93651C2.55166 4.10798 2.02252 4.39401 1.56677 4.77709C1.11102 5.16018 0.73826 5.63225 0.471302 6.16441C0.204345 6.69657 0.0488113 7.27761 0.0142248 7.87197C-0.0203617 8.46633 0.0667265 9.0615 0.270157 9.62103C0.473588 10.1806 0.789081 10.6927 1.19732 11.126C1.60556 11.5594 2.09795 11.9049 2.64435 12.1413C3.19075 12.3778 3.77966 12.5002 4.37503 12.5011H16.25C17.2014 12.5022 18.1176 12.1416 18.8131 11.4925C19.5086 10.8433 19.9314 9.95402 19.9957 9.00481C20.0601 8.05561 19.7613 7.11742 19.1598 6.38029C18.5583 5.64317 17.6991 5.16222 16.7563 5.03487ZM10.625 1.25112C11.855 1.25087 13.0419 1.70396 13.9587 2.52377C14.8756 3.34357 15.4582 4.47256 15.595 5.69487C15.612 5.84845 15.6853 5.99028 15.8007 6.09301C15.9161 6.19573 16.0655 6.25206 16.22 6.25112H16.25C16.9131 6.25129 17.5489 6.51484 18.0176 6.9838C18.4863 7.45276 18.7496 8.08871 18.7494 8.75175C18.7492 9.41479 18.4857 10.0506 18.0167 10.5193C17.5478 10.9881 16.9118 11.2513 16.2488 11.2511H4.37503C3.93262 11.2509 3.4953 11.1567 3.092 10.9749C2.6887 10.793 2.3286 10.5276 2.03554 10.1962C1.74248 9.86477 1.52313 9.4749 1.392 9.05237C1.26087 8.62985 1.22095 8.18429 1.27489 7.74518C1.32882 7.30607 1.47537 6.88342 1.70484 6.50518C1.93432 6.12694 2.2415 5.80174 2.60605 5.55108C2.9706 5.30043 3.38421 5.13003 3.81953 5.05117C4.25486 4.97231 4.70196 4.98678 5.13128 5.09362C5.28444 5.13183 5.44638 5.11066 5.58458 5.03437C5.72277 4.95809 5.82698 4.83233 5.87628 4.68237C6.20663 3.68384 6.84329 2.81483 7.6958 2.19885C8.5483 1.58286 9.57327 1.25125 10.625 1.25112Z"
                    fill="#3F4852" />
                </svg>
              </i>
              <label style="padding-left: 8px;">
                成功匯入{{uploadFileList.successCount}}筆資料
              </label>
              <label
                *ngIf="uploadFileList.success && (uploadFileList.infoCount > 0 || uploadFileList.warningCount > 0)">
                ，其中包含需注意資料
              </label>
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="uploadErrorVisible" class="ErrorContent">
        <table class="fileErrorTitle" style="width: 100%; height: 73px;">
          <tr>
            <td rowspan="3" style="width:5%; padding-bottom: 45px;">
              <i nz-icon style="position: relative; top: 5px;">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M20 10C20 12.6522 18.9464 15.1957 17.0711 17.0711C15.1957 18.9464 12.6522 20 10 20C7.34784 20 4.8043 18.9464 2.92893 17.0711C1.05357 15.1957 0 12.6522 0 10C0 7.34784 1.05357 4.8043 2.92893 2.92893C4.8043 1.05357 7.34784 0 10 0C12.6522 0 15.1957 1.05357 17.0711 2.92893C18.9464 4.8043 20 7.34784 20 10ZM6.6925 5.8075C6.57514 5.69014 6.41597 5.62421 6.25 5.62421C6.08403 5.62421 5.92486 5.69014 5.8075 5.8075C5.69014 5.92486 5.62421 6.08403 5.62421 6.25C5.62421 6.41597 5.69014 6.57514 5.8075 6.6925L9.11625 10L5.8075 13.3075C5.74939 13.3656 5.70329 13.4346 5.67185 13.5105C5.6404 13.5864 5.62421 13.6678 5.62421 13.75C5.62421 13.8322 5.6404 13.9136 5.67185 13.9895C5.70329 14.0654 5.74939 14.1344 5.8075 14.1925C5.92486 14.3099 6.08403 14.3758 6.25 14.3758C6.33218 14.3758 6.41356 14.3596 6.48948 14.3282C6.5654 14.2967 6.63439 14.2506 6.6925 14.1925L10 10.8837L13.3075 14.1925C13.3656 14.2506 13.4346 14.2967 13.5105 14.3282C13.5864 14.3596 13.6678 14.3758 13.75 14.3758C13.8322 14.3758 13.9136 14.3596 13.9895 14.3282C14.0654 14.2967 14.1344 14.2506 14.1925 14.1925C14.2506 14.1344 14.2967 14.0654 14.3282 13.9895C14.3596 13.9136 14.3758 13.8322 14.3758 13.75C14.3758 13.6678 14.3596 13.5864 14.3282 13.5105C14.2967 13.4346 14.2506 13.3656 14.1925 13.3075L10.8837 10L14.1925 6.6925C14.2506 6.63439 14.2967 6.5654 14.3282 6.48948C14.3596 6.41356 14.3758 6.33218 14.3758 6.25C14.3758 6.16782 14.3596 6.08644 14.3282 6.01052C14.2967 5.9346 14.2506 5.86561 14.1925 5.8075C14.1344 5.74939 14.0654 5.70329 13.9895 5.67185C13.9136 5.6404 13.8322 5.62421 13.75 5.62421C13.6678 5.62421 13.5864 5.6404 13.5105 5.67185C13.4346 5.70329 13.3656 5.74939 13.3075 5.8075L10 9.11625L6.6925 5.8075Z"
                    fill="#CD4141" />
                </svg>
              </i>
            </td>
            <td style="width:65%; font-weight: bold; padding-top: 10px;">
              檔案匯入失敗
            </td>
          </tr>
          <tr>
            <td style="width:65%;">
              <i nz-icon style="position: relative; top: -3px;">
                <svg width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.625 3.75C0.625 2.9212 0.95424 2.12634 1.54029 1.54029C2.12634 0.95424 2.9212 0.625 3.75 0.625C4.5788 0.625 5.37366 0.95424 5.95971 1.54029C6.54576 2.12634 6.875 2.9212 6.875 3.75V15C6.875 15.4973 6.67746 15.9742 6.32583 16.3258C5.97419 16.6775 5.49728 16.875 5 16.875C4.50272 16.875 4.02581 16.6775 3.67417 16.3258C3.32254 15.9742 3.125 15.4973 3.125 15V6.25C3.125 6.08424 3.19085 5.92527 3.30806 5.80806C3.42527 5.69085 3.58424 5.625 3.75 5.625C3.91576 5.625 4.07473 5.69085 4.19194 5.80806C4.30915 5.92527 4.375 6.08424 4.375 6.25V15C4.375 15.1658 4.44085 15.3247 4.55806 15.4419C4.67527 15.5592 4.83424 15.625 5 15.625C5.16576 15.625 5.32473 15.5592 5.44194 15.4419C5.55915 15.3247 5.625 15.1658 5.625 15V3.75C5.625 3.50377 5.5765 3.25995 5.48227 3.03247C5.38805 2.80498 5.24994 2.59828 5.07583 2.42417C4.90172 2.25006 4.69502 2.11195 4.46753 2.01773C4.24005 1.9235 3.99623 1.875 3.75 1.875C3.50377 1.875 3.25995 1.9235 3.03247 2.01773C2.80498 2.11195 2.59828 2.25006 2.42417 2.42417C2.25006 2.59828 2.11195 2.80498 2.01773 3.03247C1.9235 3.25995 1.875 3.50377 1.875 3.75V15C1.875 15.8288 2.20424 16.6237 2.79029 17.2097C3.37634 17.7958 4.1712 18.125 5 18.125C5.8288 18.125 6.62366 17.7958 7.20971 17.2097C7.79576 16.6237 8.125 15.8288 8.125 15V6.25C8.125 6.08424 8.19085 5.92527 8.30806 5.80806C8.42527 5.69085 8.58424 5.625 8.75 5.625C8.91576 5.625 9.07473 5.69085 9.19194 5.80806C9.30915 5.92527 9.375 6.08424 9.375 6.25V15C9.375 16.1603 8.91406 17.2731 8.09359 18.0936C7.27312 18.9141 6.16032 19.375 5 19.375C3.83968 19.375 2.72688 18.9141 1.90641 18.0936C1.08594 17.2731 0.625 16.1603 0.625 15V3.75Z"
                    fill="#3F4852" />
                </svg>
              </i>
              <label style="padding-left: 14px; padding-bottom: 12px; color: #CD4141;">
                {{filename}}
              </label>
            </td>
          </tr>
        </table>
      </div>

      <div *ngIf="uploadFileList.success && (uploadFileList.infoCount > 0 || uploadFileList.warningCount > 0)">
        <span><label style="font-size: 20px; font-weight: bold; padding-top: 24px;
          padding-bottom: 4px;">驗證詳情</label></span>
        <span style="padding: 0px 12px 0px 12px;">
          <i nz-icon style="position: relative; top: -3px;" *ngIf="uploadFileList.warningCount > 0">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_4549_52055)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8 15.5C9.85652 15.5 11.637 14.7625 12.9497 13.4497C14.2625 12.137 15 10.3565 15 8.5C15 6.64348 14.2625 4.86301 12.9497 3.55025C11.637 2.2375 9.85652 1.5 8 1.5C6.14348 1.5 4.36301 2.2375 3.05025 3.55025C1.7375 4.86301 1 6.64348 1 8.5C1 10.3565 1.7375 12.137 3.05025 13.4497C4.36301 14.7625 6.14348 15.5 8 15.5V15.5ZM8 16.5C10.1217 16.5 12.1566 15.6571 13.6569 14.1569C15.1571 12.6566 16 10.6217 16 8.5C16 6.37827 15.1571 4.34344 13.6569 2.84315C12.1566 1.34285 10.1217 0.5 8 0.5C5.87827 0.5 3.84344 1.34285 2.34315 2.84315C0.842855 4.34344 0 6.37827 0 8.5C0 10.6217 0.842855 12.6566 2.34315 14.1569C3.84344 15.6571 5.87827 16.5 8 16.5V16.5Z"
                  fill="#EFC223" />
                <path
                  d="M7.00195 11.5001C7.00195 11.3688 7.02782 11.2388 7.07807 11.1174C7.12833 10.9961 7.20199 10.8859 7.29485 10.793C7.38771 10.7001 7.49794 10.6265 7.61927 10.5762C7.7406 10.526 7.87063 10.5001 8.00195 10.5001C8.13328 10.5001 8.26331 10.526 8.38464 10.5762C8.50596 10.6265 8.6162 10.7001 8.70906 10.793C8.80192 10.8859 8.87558 10.9961 8.92583 11.1174C8.97609 11.2388 9.00195 11.3688 9.00195 11.5001C9.00195 11.7653 8.8966 12.0197 8.70906 12.2072C8.52152 12.3948 8.26717 12.5001 8.00195 12.5001C7.73674 12.5001 7.48238 12.3948 7.29485 12.2072C7.10731 12.0197 7.00195 11.7653 7.00195 11.5001V11.5001ZM7.09995 5.49511C7.08664 5.36895 7.09999 5.2414 7.13915 5.12074C7.17831 5.00007 7.24241 4.88899 7.32727 4.7947C7.41214 4.7004 7.51588 4.625 7.63176 4.57339C7.74765 4.52178 7.87309 4.49511 7.99995 4.49511C8.12681 4.49511 8.25226 4.52178 8.36814 4.57339C8.48403 4.625 8.58777 4.7004 8.67263 4.7947C8.7575 4.88899 8.82159 5.00007 8.86075 5.12074C8.89991 5.2414 8.91327 5.36895 8.89995 5.49511L8.54995 9.00211C8.53819 9.13988 8.47516 9.26822 8.37331 9.36175C8.27146 9.45527 8.13823 9.50716 7.99995 9.50716C7.86168 9.50716 7.72844 9.45527 7.6266 9.36175C7.52475 9.26822 7.46171 9.13988 7.44995 9.00211L7.09995 5.49511Z"
                  fill="#EFC223" />
              </g>
              <defs>
                <clipPath id="clip0_4549_52055">
                  <rect width="16" height="16" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </i>
          Warning:{{uploadFileList.warningCount}}
        </span>
        <span style="padding: 0px 12px 0px 12px;">
          <i nz-icon style="position: relative; top: -3px;" *ngIf="uploadFileList.infoCount > 0">
            <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_4549_52059)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8 15.5C9.85652 15.5 11.637 14.7625 12.9497 13.4497C14.2625 12.137 15 10.3565 15 8.5C15 6.64348 14.2625 4.86301 12.9497 3.55025C11.637 2.2375 9.85652 1.5 8 1.5C6.14348 1.5 4.36301 2.2375 3.05025 3.55025C1.7375 4.86301 1 6.64348 1 8.5C1 10.3565 1.7375 12.137 3.05025 13.4497C4.36301 14.7625 6.14348 15.5 8 15.5ZM8 16.5C10.1217 16.5 12.1566 15.6571 13.6569 14.1569C15.1571 12.6566 16 10.6217 16 8.5C16 6.37827 15.1571 4.34344 13.6569 2.84315C12.1566 1.34285 10.1217 0.5 8 0.5C5.87827 0.5 3.84344 1.34285 2.34315 2.84315C0.842855 4.34344 0 6.37827 0 8.5C0 10.6217 0.842855 12.6566 2.34315 14.1569C3.84344 15.6571 5.87827 16.5 8 16.5Z"
                  fill="#3B85ED" />
                <path
                  d="M8.92995 7.0879L6.63995 7.3749L6.55795 7.7549L7.00795 7.8379C7.30195 7.9079 7.35995 8.0139 7.29595 8.3069L6.55795 11.7749C6.36395 12.6719 6.66295 13.0939 7.36595 13.0939C7.91095 13.0939 8.54395 12.8419 8.83095 12.4959L8.91895 12.0799C8.71895 12.2559 8.42695 12.3259 8.23295 12.3259C7.95795 12.3259 7.85795 12.1329 7.92895 11.7929L8.92995 7.0879Z"
                  fill="#3B85ED" />
                <path
                  d="M8 6C8.55228 6 9 5.55228 9 5C9 4.44772 8.55228 4 8 4C7.44772 4 7 4.44772 7 5C7 5.55228 7.44772 6 8 6Z"
                  fill="#3B85ED" />
              </g>
              <defs>
                <clipPath id="clip0_4549_52059">
                  <rect width="16" height="16" fill="white" transform="translate(0 0.5)" />
                </clipPath>
              </defs>
            </svg>
          </i>
          Info:{{uploadFileList.infoCount}}
        </span>
      </div>

      <div *ngIf="!uploadFileList.success && uploadFileList.errorCount > 0 ">
        <span><label style="font-size: 20px; font-weight: bold; padding-top: 24px;
          padding-bottom: 4px;">驗證詳情</label></span>
        <span style="padding: 0px 12px 0px 12px;">
          <i nz-icon style="position: relative; top: -3px;" *ngIf="uploadFileList.errorCount > 0">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_4549_52239)">
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M8 15C9.85652 15 11.637 14.2625 12.9497 12.9497C14.2625 11.637 15 9.85652 15 8C15 6.14348 14.2625 4.36301 12.9497 3.05025C11.637 1.7375 9.85652 1 8 1C6.14348 1 4.36301 1.7375 3.05025 3.05025C1.7375 4.36301 1 6.14348 1 8C1 9.85652 1.7375 11.637 3.05025 12.9497C4.36301 14.2625 6.14348 15 8 15ZM8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16Z"
                  fill="#E64C4C" />
                <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M4.64689 4.64592C4.69334 4.59935 4.74851 4.56241 4.80926 4.5372C4.87001 4.512 4.93513 4.49902 5.00089 4.49902C5.06666 4.49902 5.13178 4.512 5.19253 4.5372C5.25327 4.56241 5.30845 4.59935 5.35489 4.64592L8.00089 7.29292L10.6469 4.64592C10.6934 4.59943 10.7486 4.56255 10.8093 4.53739C10.87 4.51223 10.9351 4.49929 11.0009 4.49929C11.0666 4.49929 11.1317 4.51223 11.1925 4.53739C11.2532 4.56255 11.3084 4.59943 11.3549 4.64592C11.4014 4.6924 11.4383 4.74759 11.4634 4.80833C11.4886 4.86907 11.5015 4.93417 11.5015 4.99992C11.5015 5.06566 11.4886 5.13076 11.4634 5.1915C11.4383 5.25224 11.4014 5.30743 11.3549 5.35392L8.70789 7.99992L11.3549 10.6459C11.4014 10.6924 11.4383 10.7476 11.4634 10.8083C11.4886 10.8691 11.5015 10.9342 11.5015 10.9999C11.5015 11.0657 11.4886 11.1308 11.4634 11.1915C11.4383 11.2522 11.4014 11.3074 11.3549 11.3539C11.3084 11.4004 11.2532 11.4373 11.1925 11.4624C11.1317 11.4876 11.0666 11.5005 11.0009 11.5005C10.9351 11.5005 10.87 11.4876 10.8093 11.4624C10.7486 11.4373 10.6934 11.4004 10.6469 11.3539L8.00089 8.70692L5.35489 11.3539C5.30841 11.4004 5.25322 11.4373 5.19248 11.4624C5.13174 11.4876 5.06664 11.5005 5.00089 11.5005C4.93515 11.5005 4.87005 11.4876 4.80931 11.4624C4.74857 11.4373 4.69338 11.4004 4.64689 11.3539C4.60041 11.3074 4.56353 11.2522 4.53837 11.1915C4.51321 11.1308 4.50026 11.0657 4.50026 10.9999C4.50026 10.9342 4.51321 10.8691 4.53837 10.8083C4.56353 10.7476 4.60041 10.6924 4.64689 10.6459L7.29389 7.99992L4.64689 5.35392C4.60033 5.30747 4.56339 5.2523 4.53818 5.19155C4.51297 5.13081 4.5 5.06568 4.5 4.99992C4.5 4.93415 4.51297 4.86903 4.53818 4.80828C4.56339 4.74754 4.60033 4.69236 4.64689 4.64592Z"
                  fill="#E64C4C" />
              </g>
              <defs>
                <clipPath id="clip0_4549_52239">
                  <rect width="16" height="16" fill="white" />
                </clipPath>
              </defs>
            </svg>
          </i>
          Error:{{uploadFileList.errorCount}}
        </span>
      </div>

      <nz-table *ngIf="uploadFileList.success && (uploadFileList.infoCount > 0 || uploadFileList.warningCount > 0)"
        #nzTableList #sortTable [nzData]="infoWarningMsgList" nzTableLayout="fixed" [nzSize]="'small'"
        style=" table-layout: fixed; word-break: break-all;" [nzNoResult]="'暫無數據'" [nzShowQuickJumper]="false"
        [nzShowSizeChanger]="false">
        <thead>
          <tr>
            <th scope *ngFor="let data of listOfColumn; let key = index;" [nzShowSort]="true" [nzSortFn]="data.compare"
              [nzWidth]="data.width">
              {{data.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTableList.data">
            <td style="padding-left: 16px;"><label>
                <i nz-icon style="position: relative; top: -3px;" *ngIf="data.msgType == 'info'">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_4549_52059)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8 15.5C9.85652 15.5 11.637 14.7625 12.9497 13.4497C14.2625 12.137 15 10.3565 15 8.5C15 6.64348 14.2625 4.86301 12.9497 3.55025C11.637 2.2375 9.85652 1.5 8 1.5C6.14348 1.5 4.36301 2.2375 3.05025 3.55025C1.7375 4.86301 1 6.64348 1 8.5C1 10.3565 1.7375 12.137 3.05025 13.4497C4.36301 14.7625 6.14348 15.5 8 15.5ZM8 16.5C10.1217 16.5 12.1566 15.6571 13.6569 14.1569C15.1571 12.6566 16 10.6217 16 8.5C16 6.37827 15.1571 4.34344 13.6569 2.84315C12.1566 1.34285 10.1217 0.5 8 0.5C5.87827 0.5 3.84344 1.34285 2.34315 2.84315C0.842855 4.34344 0 6.37827 0 8.5C0 10.6217 0.842855 12.6566 2.34315 14.1569C3.84344 15.6571 5.87827 16.5 8 16.5Z"
                        fill="#3B85ED" />
                      <path
                        d="M8.92995 7.0879L6.63995 7.3749L6.55795 7.7549L7.00795 7.8379C7.30195 7.9079 7.35995 8.0139 7.29595 8.3069L6.55795 11.7749C6.36395 12.6719 6.66295 13.0939 7.36595 13.0939C7.91095 13.0939 8.54395 12.8419 8.83095 12.4959L8.91895 12.0799C8.71895 12.2559 8.42695 12.3259 8.23295 12.3259C7.95795 12.3259 7.85795 12.1329 7.92895 11.7929L8.92995 7.0879Z"
                        fill="#3B85ED" />
                      <path
                        d="M8 6C8.55228 6 9 5.55228 9 5C9 4.44772 8.55228 4 8 4C7.44772 4 7 4.44772 7 5C7 5.55228 7.44772 6 8 6Z"
                        fill="#3B85ED" />
                    </g>
                    <defs>
                      <clipPath id="clip0_4549_52059">
                        <rect width="16" height="16" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </i>
                <i nz-icon style="position: relative; top: -3px;" *ngIf="data.msgType == 'warn'">
                  <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_4549_52055)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8 15.5C9.85652 15.5 11.637 14.7625 12.9497 13.4497C14.2625 12.137 15 10.3565 15 8.5C15 6.64348 14.2625 4.86301 12.9497 3.55025C11.637 2.2375 9.85652 1.5 8 1.5C6.14348 1.5 4.36301 2.2375 3.05025 3.55025C1.7375 4.86301 1 6.64348 1 8.5C1 10.3565 1.7375 12.137 3.05025 13.4497C4.36301 14.7625 6.14348 15.5 8 15.5V15.5ZM8 16.5C10.1217 16.5 12.1566 15.6571 13.6569 14.1569C15.1571 12.6566 16 10.6217 16 8.5C16 6.37827 15.1571 4.34344 13.6569 2.84315C12.1566 1.34285 10.1217 0.5 8 0.5C5.87827 0.5 3.84344 1.34285 2.34315 2.84315C0.842855 4.34344 0 6.37827 0 8.5C0 10.6217 0.842855 12.6566 2.34315 14.1569C3.84344 15.6571 5.87827 16.5 8 16.5V16.5Z"
                        fill="#EFC223" />
                      <path
                        d="M7.00195 11.5001C7.00195 11.3688 7.02782 11.2388 7.07807 11.1174C7.12833 10.9961 7.20199 10.8859 7.29485 10.793C7.38771 10.7001 7.49794 10.6265 7.61927 10.5762C7.7406 10.526 7.87063 10.5001 8.00195 10.5001C8.13328 10.5001 8.26331 10.526 8.38464 10.5762C8.50596 10.6265 8.6162 10.7001 8.70906 10.793C8.80192 10.8859 8.87558 10.9961 8.92583 11.1174C8.97609 11.2388 9.00195 11.3688 9.00195 11.5001C9.00195 11.7653 8.8966 12.0197 8.70906 12.2072C8.52152 12.3948 8.26717 12.5001 8.00195 12.5001C7.73674 12.5001 7.48238 12.3948 7.29485 12.2072C7.10731 12.0197 7.00195 11.7653 7.00195 11.5001V11.5001ZM7.09995 5.49511C7.08664 5.36895 7.09999 5.2414 7.13915 5.12074C7.17831 5.00007 7.24241 4.88899 7.32727 4.7947C7.41214 4.7004 7.51588 4.625 7.63176 4.57339C7.74765 4.52178 7.87309 4.49511 7.99995 4.49511C8.12681 4.49511 8.25226 4.52178 8.36814 4.57339C8.48403 4.625 8.58777 4.7004 8.67263 4.7947C8.7575 4.88899 8.82159 5.00007 8.86075 5.12074C8.89991 5.2414 8.91327 5.36895 8.89995 5.49511L8.54995 9.00211C8.53819 9.13988 8.47516 9.26822 8.37331 9.36175C8.27146 9.45527 8.13823 9.50716 7.99995 9.50716C7.86168 9.50716 7.72844 9.45527 7.6266 9.36175C7.52475 9.26822 7.46171 9.13988 7.44995 9.00211L7.09995 5.49511Z"
                        fill="#EFC223" />
                    </g>
                    <defs>
                      <clipPath id="clip0_4549_52055">
                        <rect width="16" height="16" fill="white" transform="translate(0 0.5)" />
                      </clipPath>
                    </defs>
                  </svg>
                </i>
              </label></td>
            <td><label>{{ data.cell }}</label></td>
            <td><label>{{ data.verifyMsg }}</label></td>
          </tr>
        </tbody>
      </nz-table>

      <nz-table *ngIf="!uploadFileList.success && uploadFileList.errorCount > 0 " #nzTableList #sortTable
        [nzData]="errorMsgList" nzTableLayout="fixed" [nzSize]="'small'"
        style=" table-layout: fixed; word-break: break-all;" [nzNoResult]="'暫無數據'" [nzShowQuickJumper]="false"
        [nzShowSizeChanger]="false">
        <thead>
          <tr>
            <th scope *ngFor="let data of listOfColumn; let key = index;" [nzShowSort]="true" [nzSortFn]="data.compare"
              [nzWidth]="data.width">
              {{data.title }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of nzTableList.data">
            <td style="padding-left: 16px;"><label>
                <i nz-icon style="position: relative; top: -3px;" *ngIf="data.msgType == 'error'">
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_4549_52239)">
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M8 15C9.85652 15 11.637 14.2625 12.9497 12.9497C14.2625 11.637 15 9.85652 15 8C15 6.14348 14.2625 4.36301 12.9497 3.05025C11.637 1.7375 9.85652 1 8 1C6.14348 1 4.36301 1.7375 3.05025 3.05025C1.7375 4.36301 1 6.14348 1 8C1 9.85652 1.7375 11.637 3.05025 12.9497C4.36301 14.2625 6.14348 15 8 15ZM8 16C10.1217 16 12.1566 15.1571 13.6569 13.6569C15.1571 12.1566 16 10.1217 16 8C16 5.87827 15.1571 3.84344 13.6569 2.34315C12.1566 0.842855 10.1217 0 8 0C5.87827 0 3.84344 0.842855 2.34315 2.34315C0.842855 3.84344 0 5.87827 0 8C0 10.1217 0.842855 12.1566 2.34315 13.6569C3.84344 15.1571 5.87827 16 8 16Z"
                        fill="#E64C4C" />
                      <path fill-rule="evenodd" clip-rule="evenodd"
                        d="M4.64689 4.64592C4.69334 4.59935 4.74851 4.56241 4.80926 4.5372C4.87001 4.512 4.93513 4.49902 5.00089 4.49902C5.06666 4.49902 5.13178 4.512 5.19253 4.5372C5.25327 4.56241 5.30845 4.59935 5.35489 4.64592L8.00089 7.29292L10.6469 4.64592C10.6934 4.59943 10.7486 4.56255 10.8093 4.53739C10.87 4.51223 10.9351 4.49929 11.0009 4.49929C11.0666 4.49929 11.1317 4.51223 11.1925 4.53739C11.2532 4.56255 11.3084 4.59943 11.3549 4.64592C11.4014 4.6924 11.4383 4.74759 11.4634 4.80833C11.4886 4.86907 11.5015 4.93417 11.5015 4.99992C11.5015 5.06566 11.4886 5.13076 11.4634 5.1915C11.4383 5.25224 11.4014 5.30743 11.3549 5.35392L8.70789 7.99992L11.3549 10.6459C11.4014 10.6924 11.4383 10.7476 11.4634 10.8083C11.4886 10.8691 11.5015 10.9342 11.5015 10.9999C11.5015 11.0657 11.4886 11.1308 11.4634 11.1915C11.4383 11.2522 11.4014 11.3074 11.3549 11.3539C11.3084 11.4004 11.2532 11.4373 11.1925 11.4624C11.1317 11.4876 11.0666 11.5005 11.0009 11.5005C10.9351 11.5005 10.87 11.4876 10.8093 11.4624C10.7486 11.4373 10.6934 11.4004 10.6469 11.3539L8.00089 8.70692L5.35489 11.3539C5.30841 11.4004 5.25322 11.4373 5.19248 11.4624C5.13174 11.4876 5.06664 11.5005 5.00089 11.5005C4.93515 11.5005 4.87005 11.4876 4.80931 11.4624C4.74857 11.4373 4.69338 11.4004 4.64689 11.3539C4.60041 11.3074 4.56353 11.2522 4.53837 11.1915C4.51321 11.1308 4.50026 11.0657 4.50026 10.9999C4.50026 10.9342 4.51321 10.8691 4.53837 10.8083C4.56353 10.7476 4.60041 10.6924 4.64689 10.6459L7.29389 7.99992L4.64689 5.35392C4.60033 5.30747 4.56339 5.2523 4.53818 5.19155C4.51297 5.13081 4.5 5.06568 4.5 4.99992C4.5 4.93415 4.51297 4.86903 4.53818 4.80828C4.56339 4.74754 4.60033 4.69236 4.64689 4.64592Z"
                        fill="#E64C4C" />
                    </g>
                    <defs>
                      <clipPath id="clip0_4549_52239">
                        <rect width="16" height="16" fill="white" />
                      </clipPath>
                    </defs>
                  </svg>
                </i>
              </label></td>
            <td><label>{{ data.cell }}</label></td>
            <td><label>{{ data.verifyMsg }}</label></td>
          </tr>
        </tbody>
      </nz-table>
    </div>
  </ng-template>
  <ng-template #onlyOkFooter>
    <button nz-button style="background: #3074B8;
      border-radius: 4px; color: #FFFFFF; border-color: #3074B8; width: 88px; height: 37px;" (click)="handleOk()">
      OK
    </button>
  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="preVerifyVisible" [nzTitle]="null" nzWrapClassName="omponent-header" nzWidth='600px'
  [nzFooter]="null" [nzContent]="selectAreaContent3" [nzClosable]="null">
  <ng-template #selectAreaContent3>
    <label class="duplicateContent">此次上傳內容有重複，是否確定要上傳</label>
    <label class="duplicateDetail">以下重複資料已存在：</label>
    <label class="duplicateDetail" *ngFor="let data of preVerifyItem.duplicateData">
      <div>公司：{{data.company}}， 財年：{{ + data.financialsYear }}， Quarter：{{ data.quarter}}</div>
    </label>
    <div style="width: 100%; text-align:center; padding-top:32px;">
      <button nz-button style="background: #FFFFFF;
      border-radius: 4px; color: #3074B8; border-color: #3074B8; width: 88px; height: 37px; margin-right: 8px;"
        (click)="handleDuplicateCancel()">
        取消
      </button>
      <button nz-button style="background: #3074B8;
      border-radius: 4px; color: #FFFFFF; border-color: #3074B8; width: 88px; height: 37px; margin-left: 8px;"
        (click)="handleDuplicateKeepUpload()">
        上傳
      </button>
    </div>

  </ng-template>
</nz-modal>

<nz-modal [(nzVisible)]="containsCompanyFinancialsYearVisible" [nzTitle]="null" nzWrapClassName="omponent-header"
  nzWidth='600px' [nzFooter]="null" [nzContent]="selectAreaContent4" [nzClosable]="null">
  <ng-template #selectAreaContent4>
    <label class="duplicateContent" style="padding-bottom: 0px;">此次上傳涵蓋公司財年制度變更內容，</label>
    <label class="duplicateContent" style="padding-bottom: 0px;">系統將自動更新報表期初、報表期末，</label>
    <label class="duplicateContent">是否確定要上傳</label>
    <label class="duplicateDetail" *ngFor="let data of preVerifyItem.containsCompanyFinancialsYearChange">
      <div>公司：{{data.company}}， 財年：{{ + data.financialsYear }}， Quarter：{{ data.quarter}}</div>
    </label>
    <div style="width: 100%; text-align:center; padding-top:32px;">
      <button nz-button style="background: #FFFFFF;
      border-radius: 4px; color: #3074B8; border-color: #3074B8; width: 88px; height: 37px; margin-right: 8px;"
        (click)="handleContainsCompanyFinancialsYearCancel()">
        取消
      </button>
      <button nz-button style="background: #3074B8;
      border-radius: 4px; color: #FFFFFF; border-color: #3074B8; width: 88px; height: 37px; margin-left: 8px;"
        (click)="handleContainsCompanyFinancialsYearKeepUpload()">
        上傳
      </button>
    </div>
  </ng-template>
</nz-modal>
