<div class="body_scroll">
  <div class="header">
    <div class="headerLeft">
      <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
      <span>{{dataName}}</span>
    </div>
    <app-header-right></app-header-right>
  </div>
  <form nz-form [nzAutoTips]="autoTips" onkeydown="if(event.keyCode==13){return false;}" [formGroup]="validateForm">
    <div class="nav shadow-sm">
      <nz-form-item>
        <nz-form-control>
          <button class="btnLeft" (click)="giveUp($event)">捨棄</button>
          <button class="btnRight" (click)="submitForm()">儲存</button>
        </nz-form-control>
      </nz-form-item>

    </div>
    <div class="detail">
      <a href="javascript:(0);;" class="backStyle" (click)="giveUp($event)"><em class="bi-arrow-left-short"
          style="font-size: 30px;"></em></a>
      <div>
        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
          <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="panel.name" [nzActive]="panel.active"
            [ngStyle]="panel.customStyle">
            <div class="basicContent">
              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label nzRequired>基金簡稱</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <label for="" *ngIf="operateType == FundType.Update">{{name}}</label>
                      <nz-select class="inputcontext"
                        [hidden]="!(operateType == FundType.Add&& (userRole?.isIMDMember || userRole?.isIT))"
                        formControlName="name" nzAllowClear nzPlaceHolder="選擇基金">
                        <nz-option *ngFor="let data of fundNameList" [nzLabel]="data.name" [nzValue]="data.name">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label nzRequired>基金全稱</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <!-- <label for="" [hidden]="!(operateType == FundType.Update)">{{full_Name}}</label> -->
                      <input class="inputcontext" nz-input placeholder="輸入名稱" formControlName="full_Name" />
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">

                    <nz-form-label>初始持有％</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating..." nzDisableAutoTips
                      [nzErrorTip]="initialRatioErrorTpl">
                      <div class="numberItem">
                        <nz-input-number [nzPrecision]="2" formControlName="initial_Holding_Ratio" [nzMin]="0.00"
                          [nzMax]="100.00" [nzPlaceHolder]="'輸入初始持有％'"></nz-input-number>
                      </div>
                      <ng-template #initialRatioErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">請輸入持有％</ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">持有％格式不正確</ng-container>
                      </ng-template>
                    </nz-form-control>

                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>國家</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-select class="inputcontext" formControlName="headquarter" nzShowSearch nzAllowClear
                        nzPlaceHolder="選擇國家">
                        <nz-option *ngFor="let data of headquarterList" [nzLabel]="data" [nzValue]="data"></nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>設立形式</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-select class="inputcontext" formControlName="liabilityType" nzShowSearch nzAllowClear
                        nzPlaceHolder="選擇設立形式">
                        <nz-option *ngFor="let data of liabilityTypeList" [nzLabel]="data.label" [nzValue]="data.value">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>公司財年制度</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-select class="inputcontext" formControlName="fin_Year_Rule" nzAllowClear
                        nzPlaceHolder="選擇公司財年制度">
                        <nz-option *ngFor="let data of finYearList" [nzLabel]="data.label" [nzValue]="data.value">
                        </nz-option>
                      </nz-select>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>事業單位窗口</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-input-group [nzSuffix]="suffixIconSearch1">
                        <input readonly class="inputcontext" type="text" nz-input placeholder="選擇事業單位窗口"
                          formControlName="unit_Pic" />
                      </nz-input-group>
                      <ng-template #suffixIconSearch1>
                        <a href="javascript:(0);;" style="color:#959ea9;"><em class="bi bi-search"
                            (click)="BOPICSearch.initBOPIC(unitPicList)"></em></a>
                      </ng-template>

                      <ul>
                        <li *ngFor="let item of unitPicList let key = index" class="emailStyle">
                          <div class="emailTxtStyle">{{item.name_A}} <a href="javascript:(0);;"><em class="bi bi-x-lg"
                                (click)="deleteUnit(key)"></em></a></div>
                        </li>
                      </ul>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>基金種類</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <label>{{securityList_View.label}}</label>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>


              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label nzRequired *ngIf="operateType == FundType.Add">基金年限</nz-form-label>
                    <nz-form-label *ngIf="operateType == FundType.Update">基金年限</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating..." nzDisableAutoTips
                      [nzErrorTip]="fundPeriodErrorTpl">
                      <label *ngIf="operateType == FundType.Update">{{fund_Period}}</label>
                      <div class="numberItem">
                        <nz-input-number [hidden]="!(operateType == FundType.Add)" [nzPrecision]="0"
                          formControlName="fund_Period" [nzMin]="0" [nzMax]="99" [nzPlaceHolder]="'輸入基金年限'">
                        </nz-input-number>
                      </div>
                      <ng-template #fundPeriodErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">請輸入基金年限</ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">持有％格式不正確</ng-container>
                      </ng-template>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label nzRequired>投資期年限</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating..." nzDisableAutoTips
                      [nzErrorTip]="investmentPeriodErrorTpl">
                      <div class="numberItem">
                        <nz-input-number [nzPrecision]="0" formControlName="investment_Period" [nzMin]="0" [nzMax]="99"
                          [nzPlaceHolder]="'輸入投資期年限'"></nz-input-number>
                      </div>
                      <ng-template #investmentPeriodErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">請輸入投資期年限</ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">持有％格式不正確</ng-container>
                      </ng-template>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label nzRequired>回收期年限</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating..." nzDisableAutoTips
                      [nzErrorTip]="harvestPeriodErrorTpl">
                      <div class="numberItem">
                        <nz-input-number [nzPrecision]="0" formControlName="harvest_Period" [nzMin]="0" [nzMax]="99"
                          [nzPlaceHolder]="'輸入回收期年限'"></nz-input-number>
                      </div>
                      <ng-template #harvestPeriodErrorTpl let-control>
                        <ng-container *ngIf="control.hasError('required')">請輸入回收期年限</ng-container>
                        <ng-container *ngIf="control.hasError('confirm')">持有％格式不正確</ng-container>
                      </ng-template>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>投資部PIC</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <label>{{name_a}}</label>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label [nzRequired]="isChecked">退出日期</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <nz-date-picker style="width: 100%;" formControlName="quit_Date"
                        [nzPlaceHolder]="'輸入日期' + dateFormat">
                      </nz-date-picker>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <span></span>
              </div>
              <div class="basicItem">
                <span></span>
              </div>
              <div class="basicItem">
                <span></span>
              </div>

              <div style="width: 95%;margin-right: 16px;">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label [nzSpan]="24" [nzRequired]="isChecked">退出原因</nz-form-label>
                    <nz-form-control [nzSpan]="24">
                      <textarea rows="4" nz-input placeholder="輸入文字" formControlName="quit_Reason"></textarea>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <span></span>
              </div>
              <div class="basicItem">
                <span></span>
              </div>
              <div class="basicItem">
                <span></span>
              </div>

              <div *ngIf="isShowCloseCheckBox" style="width: 47%;margin-right: 16px; background-color: #f1f7ff;">
                <nz-form-item>
                  <div class="itemContent">
                    <label nz-checkbox formControlName="close_Check"
                      style="font-weight: bold; padding-left: 20px; padding-top: 11px;">Close 投資階段</label>
                    <br>
                    <label style="padding-left: 44px;">投資資料將凍結，請填寫退出內容、退出原因欄位</label>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <span></span>
              </div>
              <div class="basicItem">
                <span></span>
              </div>
              <div class="basicItem">
                <span></span>
              </div>

            </div>
            <ng-template #expandedIcon let-active>
              {{ active }}
              <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
          <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="'認購資訊'" [nzActive]="panel.active"
            [ngStyle]="panel.customStyle">
            <div class="basicContent">
              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>認購幣別</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <label>{{((commited_Currency_Add == "-" && isClickCard == false) ? (total_Commited_Amount<0 ? "" :
                          commited_Currency) : commited_Currency_Add)}}</label>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>認購金額</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <label>{{((commited_Amount_Add == 0 && isClickCard == false) ? (total_Commited_Amount<0 ? 0 :
                          total_Commited_Amount) : commited_Amount_Add) | number:'.0-6'}}</label>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>

              <div class="basicItem">
                <nz-form-item>
                  <div class="itemContent">
                    <nz-form-label>初次投資日</nz-form-label>
                    <nz-form-control nzValidatingTip="Validating...">
                      <label *ngIf="operateType == FundType.Add">-</label>
                      <label *ngIf="operateType == FundType.Update">{{first_Trans_Date | date:'YYYY-MM-dd'}}</label>
                    </nz-form-control>
                  </div>
                </nz-form-item>
              </div>
            </div>
            <ng-template #expandedIcon let-active>
              {{ active }}
              <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
          <nz-collapse-panel (click)="updateActive()" #p [nzHeader]="'單次認購'" [nzActive]="panel.active"
            [ngStyle]="panel.customStyle">
            <div class="basicContent">
              <div class="AddSecurity">
                <div class="AddTxt" (click)="fundSecurity.editVisible(true, FundType.Add, userRole, name)">
                  <em></em><span>
                    <i nz-icon style="position: relative; top: -3px;">
                      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g clip-path="url(#clip0_6247_61842)">
                          <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M3.5 0C2.57174 0 1.6815 0.368749 1.02513 1.02513C0.368749 1.6815 0 2.57174 0 3.5L0 24.5C0 25.4283 0.368749 26.3185 1.02513 26.9749C1.6815 27.6313 2.57174 28 3.5 28H24.5C25.4283 28 26.3185 27.6313 26.9749 26.9749C27.6313 26.3185 28 25.4283 28 24.5V3.5C28 2.57174 27.6313 1.6815 26.9749 1.02513C26.3185 0.368749 25.4283 0 24.5 0L3.5 0ZM14.875 7.875C14.875 7.64294 14.7828 7.42038 14.6187 7.25628C14.4546 7.09219 14.2321 7 14 7C13.7679 7 13.5454 7.09219 13.3813 7.25628C13.2172 7.42038 13.125 7.64294 13.125 7.875V13.125H7.875C7.64294 13.125 7.42038 13.2172 7.25628 13.3813C7.09219 13.5454 7 13.7679 7 14C7 14.2321 7.09219 14.4546 7.25628 14.6187C7.42038 14.7828 7.64294 14.875 7.875 14.875H13.125V20.125C13.125 20.3571 13.2172 20.5796 13.3813 20.7437C13.5454 20.9078 13.7679 21 14 21C14.2321 21 14.4546 20.9078 14.6187 20.7437C14.7828 20.5796 14.875 20.3571 14.875 20.125V14.875H20.125C20.3571 14.875 20.5796 14.7828 20.7437 14.6187C20.9078 14.4546 21 14.2321 21 14C21 13.7679 20.9078 13.5454 20.7437 13.3813C20.5796 13.2172 20.3571 13.125 20.125 13.125H14.875V7.875Z"
                            fill="#3B85ED" />
                        </g>
                        <defs>
                          <clipPath id="clip0_6247_61842">
                            <rect width="28" height="28" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                    </i>
                    <label style="padding-left: 16px;">
                      新增認購資料
                    </label>

                  </span>
                </div>
              </div>
              <app-fund-security-item style="width: 100%;" *ngFor="let data of securityDataList; let key = index"
                [index]="key" [Data]="data" [type]="FundType.Update" (modifySecurity)="modifySecurity($event)">
              </app-fund-security-item>
            </div>
            <ng-template #expandedIcon let-active>
              {{ active }}
              <em nz-icon nzType="caret-right" class="ant-collapse-arrow" [nzRotate]="p.nzActive ? 90 : -90"></em>
            </ng-template>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
      <app-fund-security #fundSecurity (goBackData)="goBackData($event)"></app-fund-security>
    </div>
  </form>
  <app-bo-pic-search (chosenUnitPICItem)="chosenUnitPIC($event)" #BOPICSearch></app-bo-pic-search>
</div>

<!-- 投資部PIC維護提醒彈窗 -->
<nz-modal nzClassName="DDWarning" [(nzVisible)]="isCheckVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
  [nzFooter]="modalFooter">
  <ng-template #modalTitle><svg xmlns="http://www.w3.org/2000/svg" width="88" height="88" fill="currentColor"
      class="bi bi-exclamation-circle" viewBox="0 0 16 16">
      <path style="color: #FFEAA0;" d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path style="color: #FDD443;"
        d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
    </svg></ng-template>

  <ng-template #modalContent>
    <p>此公司已有其他投資部PIC，不可維護</p>
  </ng-template>

  <ng-template #modalFooter>
    <button nz-button (click)="handleCheckOk()">OK</button>
  </ng-template>
</nz-modal>

<!-- 捨棄彈窗 -->
<nz-modal [nzClosable]="false" [nzClassName]="'AmountModal'" [(nzVisible)]="isVisible" nzTitle="是否捨棄變更？"
  (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="捨棄" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <p>您尚未存儲變更，若選擇捨棄，將清除所有變更</p>
  </ng-container>
</nz-modal>

<!-- 校驗彈窗 -->
<nz-modal [nzClassName]="'companyCheckModel'" [(nzVisible)]="CheckDataVisible" [nzTitle]="modalTitle1"
  [nzContent]="modalContent1" [nzFooter]="modalFooter1">
  <ng-template #modalTitle1>
    <i *ngIf="checkDataType.has(2)" nz-icon style="position: relative; top: -3px;">
      <svg width="88" height="88" viewBox="0 0 88 88" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g clip-path="url(#clip0_5447_148908)">
          <path fill-rule="evenodd" clip-rule="evenodd"
            d="M44 82.5C54.2108 82.5 64.0035 78.4438 71.2236 71.2236C78.4438 64.0035 82.5 54.2108 82.5 44C82.5 33.7892 78.4438 23.9965 71.2236 16.7764C64.0035 9.55624 54.2108 5.5 44 5.5C33.7892 5.5 23.9965 9.55624 16.7764 16.7764C9.55624 23.9965 5.5 33.7892 5.5 44C5.5 54.2108 9.55624 64.0035 16.7764 71.2236C23.9965 78.4438 33.7892 82.5 44 82.5ZM44 88C55.6695 88 66.8611 83.3643 75.1127 75.1127C83.3643 66.8611 88 55.6695 88 44C88 32.3305 83.3643 21.1389 75.1127 12.8873C66.8611 4.6357 55.6695 0 44 0C32.3305 0 21.1389 4.6357 12.8873 12.8873C4.6357 21.1389 0 32.3305 0 44C0 55.6695 4.6357 66.8611 12.8873 75.1127C21.1389 83.3643 32.3305 88 44 88Z"
            fill="#FFEAA0" />
          <path
            d="M38.5107 60.5006C38.5107 59.7784 38.653 59.0632 38.9294 58.3959C39.2058 57.7286 39.6109 57.1223 40.1217 56.6116C40.6324 56.1008 41.2387 55.6957 41.906 55.4193C42.5733 55.1429 43.2885 55.0006 44.0107 55.0006C44.733 55.0006 45.4482 55.1429 46.1155 55.4193C46.7828 55.6957 47.3891 56.1008 47.8998 56.6116C48.4106 57.1223 48.8157 57.7286 49.0921 58.3959C49.3685 59.0632 49.5107 59.7784 49.5107 60.5006C49.5107 61.9593 48.9313 63.3583 47.8998 64.3897C46.8684 65.4212 45.4694 66.0006 44.0107 66.0006C42.5521 66.0006 41.1531 65.4212 40.1217 64.3897C39.0902 63.3583 38.5107 61.9593 38.5107 60.5006ZM39.0497 27.4731C38.9765 26.7793 39.05 26.0778 39.2653 25.4141C39.4807 24.7504 39.8332 24.1395 40.3 23.6209C40.7668 23.1023 41.3373 22.6876 41.9747 22.4037C42.6121 22.1198 43.302 21.9731 43.9997 21.9731C44.6975 21.9731 45.3874 22.1198 46.0248 22.4037C46.6622 22.6876 47.2327 23.1023 47.6995 23.6209C48.1662 24.1395 48.5188 24.7504 48.7341 25.4141C48.9495 26.0778 49.023 26.7793 48.9497 27.4731L47.0247 46.7616C46.9601 47.5194 46.6134 48.2253 46.0532 48.7396C45.493 49.254 44.7602 49.5394 43.9997 49.5394C43.2392 49.5394 42.5064 49.254 41.9463 48.7396C41.3861 48.2253 41.0394 47.5194 40.9747 46.7616L39.0497 27.4731Z"
            fill="#FDD443" />
        </g>
        <defs>
          <clipPath id="clip0_5447_148908">
            <rect width="88" height="88" fill="white" />
          </clipPath>
        </defs>
      </svg>
    </i>
    <div style="margin-top: 20px;">
      {{checkDataTitle}}
    </div>
  </ng-template>

  <ng-template #modalContent1>

    <p *ngIf="checkDataContentList.length <= 0">{{checkDataContent}}</p>
    <div *ngIf="checkDataContentList.length > 0" class="check2Content">
      <p>{{checkDataContent}}</p>
      <p *ngFor="let item of checkDataContentList">{{item}}</p>
    </div>
  </ng-template>

  <ng-template #modalFooter1>
    <button nz-button style="top: -12px;" class="buttonbackStyle" *ngIf="checkDataType.has(1)"
      (click)="handCheckCancel()">返回編輯</button>
    <button nz-button style="top: -12px;" *ngIf="checkDataType.has(2) || checkDataType.has(3)"
      (click)="handCheckCancel()">取消</button>
    &nbsp;
    <button nz-button style="top: -12px;" *ngIf="checkDataType.has(2)" nzType="primary"
      (click)="handCheckCloseOk()">確認儲存</button>
    <button nz-button style="top: -12px;" *ngIf="checkDataType.has(3)" nzType="primary"
      (click)="handCheckOk()">確認凍結</button>
  </ng-template>
</nz-modal>

<app-popup #popup1>
  <div headerTitle style="font-weight: 700;
  font-size: 28px;">若更改基金簡稱，將移除所有已加入的 </div>
  <div ContentBody style="font-weight: 700;
  font-size: 28px;">單次認購卡片
  </div>
  <div FooterDetail style="text-align: center; margin-top: 10px;" class="modelFotter">
    <button nz-button style="background: #3074B8; color: #FFFFFF;" (click)="popup1.closeModel()">OK</button>
  </div>
</app-popup>

<app-popup #popup2>
  <div headerTitle style="font-weight: 700;
  font-size: 28px; padding: 5px">
    <div headerTitle style="font-weight: 700;
  font-size: 28px; padding: 5px">單次認購卡片無法將認購金額轉換為</div>
    <div headerTitle style="font-weight: 700;
    font-size: 28px; padding: 5px">最小合約生效日的幣別匯率</div>
    <div ContentBody style="font-weight: 700;
    font-size: 28px; padding: 5px">清單如下：
    </div>
    <!-- <p>報表期初、報表期末</p> -->
    <div style="font-size: 14px; padding: 5px;" *ngFor="let item of checkContent">{{item}}</div>
  </div>
  <div FooterDetail style="text-align: center; margin-top: 10px;" class="modelFotter">
    <button nz-button style="background: #3074B8; color: #FFFFFF;" (click)="popup2.closeModel()">OK</button>
  </div>
</app-popup>

<app-back-top></app-back-top>
