/* 头部显示 */

.body_scroll {
  font-family: 'Noto Sans TC';
  font-style: normal;
}

.header {
  position: relative;
  width: 100%;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  height: 55px;
  padding: 17px 25px;
}

.headerLeft img {
  margin-right: 20px;
}

.headerLeft span {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #101010;
}


/* 舍弃 保存按钮 */

.nav {
  position: relative;
  display: flex;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  align-content: center;
  justify-content: flex-start;
  margin-bottom: 16px;
  background: #fff;
  height: 47px;
  padding: 10px 0px;
  /* margin-top: 5px; */
}

.nav button {
  width: 68px;
  height: 30px;
  line-height: 22px;
  border-radius: 4px;
  border: none;
  font-weight: 400;
  font-size: 14px;
}

.nav .btnLeft {
  border: 1px solid #3074b8;
  background: #fff;
  color: #3074B8;
}

.nav .ant-row {
  margin: 0;
}

.btnRight {
  background: #3074B8;
  color: #FFFFFF;
  margin: 0 32px 0 12px;
}


/* detail样式 */


/* .detail {
  padding: 0 30px;
  position: relative;
} */

.detail {
  margin: 16px 30px 0px 64px;
  position: relative;
}

.backStyle {
  position: absolute;
  left: -43px;
  /* top: 15px; */
  color: #101010;
}

.basicContent {
  display: flex;
  flex-wrap: wrap;
}

.basicItem {
  width: 23%;
  /* width: 264px; */
  margin-right: 16px;
}

::ng-deep .ant-form-item {
  margin-bottom: 20px;
}

.inputcontext {
  /* width: 200px; */
  border-radius: 4px;
}

.itemContent .ant-input-affix-wrapper {
  /* width: 264px; */
  width: 100%;
  border-radius: 4px;
  max-height: 32px;
}

.itemContent {
  width: 100%;
  /* width: 264px; */
}

.content /deep/ .ant-select-selector {
  width: 25%;
  /* width: 264px; */
}

.textArea {
  height: 100px;
  resize: none;
  overflow-y: auto;
}


/* .securityStyle {
  width: 100%;
  background: #ffffff;
  border-radius: 4px;
  height: 70px;
  line-height: 70px;
  padding-left: 20px;
} */

.securityStyle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
  margin-top: 0;
}

#securityDivider {
  border: 1px #3F485233 solid;
  margin-right: 20px;
  margin: 0 0 16px 0;
}

#newSecurity {
  width: 100%;
  height: 70px;
  border-radius: 4px;
  background-color: #FFFFFF;
  margin-bottom: 16px;
  align-items: center;
  display: flex;
}

.ant-collapse-item {
  margin-bottom: 16px !important;
}


/* Security */

.dropSecurity {
  background-color: #FFFFFF;
  width: 144px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px #FFFFFF solid;
  border-radius: 4px;
  color: #3F4852;
  margin-left: 20px;
  cursor: pointer;
}

.dropSecurity:hover {
  border: 1px #40a9ff solid;
  transition: all 0.5s ease;
}

.dropSecurity em {
  margin-left: 13px;
}

.shadowStyle {
  box-shadow: 3px 3px 10px #f1f1f3;
}

.emailStyle {
  list-style: none;
  margin-left: -30px;
  margin-top: 4px;
}

.emailTxtStyle {
  width: fit-content;
  background: #f1f2f3;
  height: 24px;
  font-weight: 400;
  font-size: 12px;
  color: #596471;
  line-height: 24px;
  padding: 0px 12px 0px 8px;
  border-radius: 4px;
  border: 1px solid #c0c8d1;
}

.emailTxtStyle em {
  margin-left: 12px;
  color: #000000;
}

.securityContent {
  padding: 0 32px;
}

.securityHeader {
  width: 100%;
  border-bottom: 2px solid #d9dadc;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #959EA9;
  margin: 19px 0 12px;
}

.securityItem {
  width: 264px;
  margin-right: 16px;
}


/* 履約資料樣式 */

.agreementStyle {
  display: flex;
  flex-direction: row;
}

.agreementAdd {
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  align-content: space-around;
  margin-left: 15px;
}

.agreementAdd a {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}

.detailItem {
  display: flex;
  border: 1px solid #c0c8d1;
  border-radius: 4px;
  padding: 20px 16px;
  height: 120px;
  line-height: 70px;
}

.detailclose {
  font-weight: 400;
  font-size: 14px;
  color: #3F4852;
  margin-right: 20px;
  margin-left: auto;
}

.detailclose em {
  margin-right: 10px;
}

.detailclose a {
  color: #3F4852;
}

.detailclose span {
  font-weight: 400;
  font-size: 14px;
}

.agreementDetail {
  margin-bottom: 10px;
}


/* 删除此卡片样式 */

.closeHeader {
  margin-left: auto;
  margin-right: 0px;
  margin-top: 20px;
}

.closeHeader a {
  text-decoration: none;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  color: #E64C4C;
}

.exampleDiv {
  font-weight: 400;
  font-size: 12px;
  color: #3F4852;
  margin-top: 5px;
}

.AddSecurity {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  width: 100%;
  align-items: center;
  font-size: 14px;
  padding: 10px;
  border: 1px dashed #C0C8D1;
  border-radius: 4px;
  margin-bottom: 16px;
  height: 60px;
  padding-top: 17px;
}

.AddSecurity em {
  color: #3B85ED;
  margin-right: 15px;
}

.AddTxt {
  cursor: pointer;
}

.AddTxt span {
  font-weight: 700;
  color: #3F4852;
}

.AddDetail {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: 16px;
}

.AdddetailItem {
  cursor: pointer;
  padding: 8px;
  background: #F7F7F7;
  border-radius: 4px;
  color: #3074B8;
  font-weight: 400;
  margin-right: 8px;
}

.numberItem>.ant-input-number {
  width: 100%;
  border-radius: 4px;
  font-weight: 400;
  font-size: 14px;
  color: #959EA9;
}
