/* 舍弃 保存按钮 */

.nav {
    position: relative;
    display: flex;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 16px;
    background: #fff;
    height: 47px;
    padding: 10px 0px;
    /* margin-top: 5px; */
}

.nav button {
    width: 68px;
    height: 30px;
    line-height: 22px;
    border-radius: 4px;
    border: none;
    font-weight: 400;
    font-size: 14px;
}

.nav .btnLeft {
    border: 1px solid #3074b8;
    background: #fff;
    color: #3074B8;
}

.nav .ant-row {
    margin: 0;
}

.btnRight {
    background: #3074B8;
    color: #FFFFFF;
    margin: 0 32px 0 12px;
}

.backStyle {
    position: absolute;
    left: -43px;
    /* top: 15px; */
    color: #101010;
}


/* 内容样式 */

.detail {
    margin: 16px 30px 0px 64px;
    position: relative;
}

.basicContent {
    display: flex;
    flex-wrap: wrap;
}

.basicItem {
    width: 25%;
    padding-right: 15px;
}

.basicItem nz-date-picker,
.basicItem nz-input-number {
    width: 100%;
    border: 1px solid #C0C8D1;
    border-radius: 4px;
}

.itemContent {
    width: 100%;
}


/* Model样式 */

.modelFotter {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.modelFotter .cancel {
    border: 1px solid #4090E0;
    border-radius: 4px;
    height: 37px;
    font-weight: 400;
    font-size: 16px;
    color: #3074B8;
}

.modelFotter .ok {
    margin-left: 16px;
    height: 37px;
    background: #3074B8;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
}

.popup2Ok {
    background: #3074B8;
    border-radius: 4px;
    font-weight: 400;
    font-size: 16px;
    color: #FFFFFF;
    width: 63px;
    height: 37px;
}