<div *ngIf="!isBoardSecretariatMember">
    <div class="detail">
        <div style="padding-left: 40px; margin-top: 5px" class="nav">
            <nz-range-picker id="dateValue" [nzAllowClear]="false" [(ngModel)]="date" [nzDisabledDate]="disabledDate" (nzOnCalendarChange)="onChange($event)" [nzFormat]="'YYYY-MM-dd'" [nzRenderExtraFooter]="footerRender" [nzPlaceHolder]="['開始日期 ' + dateFormat, '結束日期 ' + dateFormat]"
                class="datepicker">
            </nz-range-picker>

            <div class="CloseBtn" *ngIf="!!date ">
                <a href=" javascript:void(0);" (click)="closeSelectValue()">清除</a>
            </div>
            <div class="titlestyle">
                <span *ngIf="!!stockPriceList">
                    總共
                    {{stockPriceList.length}}
                    個項目
                </span>
                <div *ngIf="canAddNewPrice">
                    <button class="btntCreate" (click)="routingOperate()">
                        <img src="../../../../../assets//images/icon/Vector_Add.svg" alt="" />
                        新增
                    </button>
                </div>
            </div>
        </div>


        <div class="detail_Table">
            <nz-table class="stockPriceList" #stockPriceTable [nzScroll]="{ x: '1300px' }" [nzData]="stockPriceList"
                [nzShowSizeChanger]="true" [nzShowQuickJumper]="true">
                <thead>
                    <tr>
                        <th scope="col" *ngFor="let column of listOfColumn; let isFirst = first;"
                            [nzShowSort]="column.compare != null" [nzLeft]="isFirst"
                            [nzSortFn]="column.compare" [colspan]="column.col">
                            {{ column.title }}

                        </th>
                    </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of stockPriceTable.data; let key2 = index" (click)="viewStockPrice(data)">
                    <td nzLeft>{{ data.transaction_Date | date: "YYYY-MM-dd"}}</td>
                    <td>
                        <span>建議幣別</span>
                        {{ data.public_Suggest_Currency }}
                    </td>
                    <td>
                        <span>建議股價</span>
                        {{ data.public_Suggest_Price }}
                    </td>
                    <td>
                        <span>實際幣別</span>
                        {{ data.public_Actual_Currency}}
                    </td>
                    <td>
                        <span>實際股價</span>
                        {{ data.public_Actual_Price }}
                    </td>
                    <td>
                        <span>建議幣別</span>
                        {{ data.private_Suggest_Currency }}
                    </td>
                    <td>
                        <span>建議股價</span>
                        {{ data.private_Suggest_Price | number: ".0-6" }}
                    </td>
                    <td>
                        <span>實際幣別</span>
                        {{ data.private_Actual_Currency }}
                    </td>
                    <td>
                        <span>實際股價</span>
                        {{ data.private_Actual_Price }}
                    </td>
                    <td>{{ (data.discount *100)==0? null:data.discount *100+"%"}}</td>
                    <td>
                        <span>幣別</span>
                        {{data.net_Worth_Currency}}
                    </td>
                    <td>
                        <span>股價</span>
                        {{ data.net_Worth_Price }}
                    </td>
                </tr>
                </tbody>
            </nz-table>
        </div>
    </div>
</div>