<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
        <i class="bi bi-list"></i>
      </span>
            <span>
        {{ companyInfo?.name }}
        <i class="bi-pencil-fill" style="color: #4090E0; margin-left: 20px; font-size: 16px; cursor: pointer;"
          (click)="InvestMainRename.initRename(investNo?.toString(), companyInfo?.name)" *ngIf="canRenameCompany">
        </i>
      </span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <div class="nav shadow-sm">
        <div class="navLeft">
            <img src="../../../../../assets/images/icon/Vector_Home.svg" alt="" />
            <span><a routerLink="/">Home</a> /</span>
            <span><a routerLink="/companyMaintain/list"> 公司維護列表</a> /</span>
            <span class="companyName">{{ companyInfo?.name }}</span>
        </div>
        <div class="navRight">
            <button class="customButton1" (click)="getCompanyStatusList()" data-bs-toggle="offcanvas" data-bs-target="#statusHistory" aria-controls="statusHistory">
                參考Status: <span>{{ companyInfo?.status_Nm || companyInfo?.suggest_Status_Nm}}</span></button>
            <button class="rightBtn" (click)="editCompany()" *ngIf="canEditCompany && selectedCompany">
        <i class="bi-pencil-fill"></i>編輯
      </button>
        </div>
    </div>
    <div>
        <div class="detail">
            <div class="detailHeader">
                <a href="javascript:(0);;" style="color: #101010" (click)="goBack()"><em class="bi-arrow-left-short"
            style="font-size: 30px;"></em></a>
            </div>

            <nz-tabset class="tabsetStyle" nzSize="large" [nzSelectedIndex]="selectedTabIndex" (nzSelectedIndexChange)="selectedIndexChange($event)">
                <!-- 公司維護 -->
                <nz-tab [nzTitle]="tabTitle_company">

                    <div class="collapsePanel">
                        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                            <nz-collapse-panel nzHeader="基本資料" [nzActive]="companyPanel_1.active" (click)="updateActive()">
                                <div class="companyStyle">
                                    <div>
                                        <p>公司全稱</p>
                                        <span>{{ companyInfo?.name }}</span>
                                    </div>
                                    <div>
                                        <p>公司簡稱</p>
                                        <span>{{ companyInfo?.nickname }}</span>
                                    </div>
                                    <div>
                                        <p>交易主體</p>
                                        <span>{{ companyInfo?.subject }}</span>
                                    </div>
                                    <div>
                                        <p>
                                            建議Status
                                            <i class="bi-info-circle-fill" nz-tooltip nzTooltipTitle='系統推薦值' style="color: #c0c8d1;margin-left: 10px;"></i>
                                        </p>
                                        <span>{{ companyInfo?.suggest_Status_Nm }}</span>
                                    </div>
                                    <div>
                                        <p>Status</p>
                                        <span>{{ companyInfo?.status_Nm }}</span>
                                    </div>
                                    <div>
                                        <p>事業單位窗口</p>
                                        <span>{{ this.unitPic | spanData }}</span>
                                    </div>
                                    <div>
                                        <p>被投資窗口Email</p>
                                        <span>{{ companyInfo?.email_Value | spanData}}</span>
                                    </div>
                                    <div>
                                        <p>投資部PIC</p>
                                        <span>{{ companyInfo?.contact_Ao_Nm }}</span>
                                    </div>
                                </div>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </div>

                    <div class="collapsePanel">
                        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                            <nz-collapse-panel nzHeader="掛牌資訊" [nzActive]="companyPanel_2.active" (click)="updateActive()">
                                <div class="companyStyle">
                                    <div>
                                        <p>股票市場種類</p>
                                        <span>{{ companyInfo?.stock_Market_Nm }}</span>
                                    </div>
                                    <div>
                                        <p>上市/掛牌代碼</p>
                                        <span>{{ companyInfo?.stock_Symbol | uppercase}}</span>
                                    </div>
                                    <div>
                                        <p>公司財年制度</p>
                                        <span>{{ companyInfo?.fin_Year_Rule_Nm }}</span>
                                    </div>
                                </div>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </div>

                    <div class="collapsePanel">
                        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                            <nz-collapse-panel nzHeader="公司類型" [nzActive]="companyPanel_3.active" (click)="updateActive()">
                                <div class="companyStyle">
                                    <div>
                                        <p>行業別 - 大類</p>
                                        <span>{{ companyInfo?.industry_Catagory_Nm }}</span>
                                    </div>
                                    <div>
                                        <p>行業別 - 細項</p>
                                        <span>{{ companyInfo?.industry_Detail }}</span>
                                    </div>
                                    <div>
                                        <p>投資時公司所處階段</p>
                                        <span>{{ companyInfo?.company_Stage_Nm }}</span>
                                    </div>
                                    <div>
                                        <p>總部</p>
                                        <span>{{ companyInfo?.headQuarter }}</span>
                                    </div>
                                    <div>
                                        <p>總部主營業務</p>
                                        <span>{{ companyInfo?.main_Business }}</span>
                                    </div>
                                </div>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </div>

                    <div class="collapsePanel">
                        <nz-collapse [nzBordered]="false" [nzExpandIconPosition]="'right'">
                            <nz-collapse-panel [nzHeader]="'Security'" [nzActive]="companyPanel_4.active" (click)="updateActive()">
                                <app-security-item *ngFor="let data of securityList" [Data]="data" [type]="companyType.View"></app-security-item>
                            </nz-collapse-panel>
                        </nz-collapse>
                    </div>
                </nz-tab>
                <!-- DDHistory -->
                <nz-tab [nzTitle]="tabTitle_DDHistory" *ngIf="!userRole?.isBoardSecretariatMember">
                    <app-table-list [invest_no]="investNo"></app-table-list>
                </nz-tab>
                <!-- 金額維護 -->
                <nz-tab [nzTitle]="tabTitle_amountRecord" (nzClick)="amountTableList.UpdateHeaderDate('')">
                    <app-amount-table-list #amountTableList [invest_no]="investNo?.toString()" [Name]="companyInfo?.name">
                    </app-amount-table-list>
                </nz-tab>
                <!-- financials -->
                <nz-tab [nzTitle]="tabTitle_financials" *ngIf="!userRole?.isBoardSecretariatMember">
                    <app-financials-table-list *ngIf="!!investNo" [invest_no]="investNo" [headValue]="' '" [clickFromCompany]="true" #tableList></app-financials-table-list>
                </nz-tab>
                <!-- FMV -->
                <nz-tab [nzTitle]="tabTitle_FMV" *ngIf="!userRole?.isBoardSecretariatMember">
                </nz-tab>
                <!-- 參考股價 -->
                <nz-tab [nzTitle]="tabTitle_Shares" *ngIf="!userRole?.isBoardSecretariatMember" >
                    <app-stock-price-list *ngIf="!!investNo" [invest_no]="investNo" [companyFullName]="companyInfo?.name" ></app-stock-price-list>
                </nz-tab>
                <!-- 公司財務對應表 -->
                <nz-tab [nzTitle]="tabTitle_companyFinanceMapping" *ngIf="!userRole?.isBoardSecretariatMember && !!investNo">
                    <app-company-mapping comeFrom="companyMaintain" [_investNo]="investNo?.toString()"></app-company-mapping>
                </nz-tab>

            </nz-tabset>
        </div>

    </div>

</div>
<div class="offcanvas offcanvas-end view-company-status-history" tabindex="-1" id="statusHistory" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title title" id="offcanvasExampleLabel">Status 歷史紀錄</h5>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <hr class="separator close">
    <div class="offcanvas-body">
        <div class="sub-title">建議Status :</div>
        <div><span>{{ companyInfo?.suggest_Status_Nm }}</span></div>
        <hr class="separator short">
        <div class="sub-title">Status :</div>
        <br>
        <div class="list" *ngFor="let data of statusList">
            <div class="period">{{data.period}}</div>
            <div>{{data.status}}</div>
        </div>
    </div>
</div>
<app-back-top></app-back-top>
<app-invest-main-rename (updateSuccessName)="updateCompanyName($event)" #InvestMainRename modeName="公司">
</app-invest-main-rename>