<nz-modal [nzClosable]="false" [nzClassName]="'popupModel'" [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter">
    <ng-template #modalTitle>
        <ng-content select="[headerTitle]"></ng-content>
    </ng-template>

    <ng-template #modalContent>
        <ng-content select="[ContentBody]"></ng-content>
    </ng-template>

    <ng-template #modalFooter>
        <ng-content select="[FooterDetail]"></ng-content>
    </ng-template>
</nz-modal>