.header .headerLeft .leftSpan {
    margin-right: 16px;
    font-weight: 700;
}

.header .headerLeft .leftStatus {
    height: 24px;
    border: 1px solid #4EDE89;
    background: #D3F4DC;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    padding: 3px 8px;
}

.nav {
    position: relative;
    height: 47px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    background: #fff;
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.navLeft img {
    margin-left: 60px;
    vertical-align: middle;
    margin-right: 5px;
}

.nav span {
    color: #959EA9;
}

.nav .companyName {
    margin-left: 5px;
    color: #3F4852;
}

.nav button {
    width: 80px;
    height: 30px;
    border-radius: 4px;
    background: #3074B8;
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    line-height: 30px;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

.nav button span {
    color: #FFFFFF;
}

.nav button .operationBtn {
    border: 1px solid #3074B8;
    right: 133px;
}

.nav .ant-form-item button {
    width: 68px;
    height: 30px;
    border: 1px solid #3074B8;
}

.nav .ant-form-item button {
    width: 68px;
    height: 30px;
    border: 1px solid #3074B8;
}

.nav .ant-form-item span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
}

.nav .operationBtn {
    width: 68px;
    height: 30px;
    line-height: 20px;
}

.nav .operationBtnLeft {
    position: absolute;
    right: 114px;
    background: #ffff;
    border: 1px solid #3074B8;
    color: #3074B8;
}

.detail {
    margin: 16px 30px 0px 64px;
    position: relative;
}

.detailHeader {
    position: absolute;
    left: -43px;
    /* top: 12px; */
}

.checkbasic {
    display: flex;
    flex-wrap: wrap;
    /* margin-top: 20px; */
    /* margin-left: 30px; */
}

.checkbasic span {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3F4852;
}

.checkbasic div {
    height: 80px;
    width: 25%;
    padding-right: 10px;
}

.checkbasic div span {
    word-break: break-word;
}

.checkbasic h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 6px;
}

.navRight {
    position: absolute;
    right: 7px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
}

.navRight a {
    margin-right: 10px;
}

.navRight .discard {
    display: inline-block;
    margin-right: 12px;
}

.navRight .discard .ant-btn {
    background: #fff;
    color: #3074B8;
}

.navRight .save {
    display: inline-block;
}

.detail .ant-collapse .ant-collapse-item .ant-collapse-header {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    align-items: center;
    text-transform: capitalize;
    color: #23609D;
}

.ConclusionBody {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    margin-top: 8px;
}

.ConclusionHeader {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 35px;
}

.newConclusion h4 {
    font-weight: 500;
    font-size: 20px;
    color: #3F4852;
    margin-bottom: 0;
}

.newConclusion {
    padding: 13px 16px 11px 16px;
}

.ConclusionBody h5 {
    font-weight: 600;
    font-size: 16px;
    color: #000000;
    margin-bottom: 6px;
}

.ConclusionBody span {
    font-weight: 400;
    font-size: 14px;
    color: #3F4852;
}

.ListStyle {
    font-weight: 400;
    font-size: 14px;
    color: #3F4852;
    font-family: 'Noto Sans';
    font-style: normal;
}


/* 歷史紀錄格式調整 */

#historyConclusionContentBox /deep/ .ant-collapse-content-box {
    padding: 0 16px !important;
}

#historyConclusionContentBox /deep/ .ant-collapse-arrow {
    top: 65% !important;
}

#historyConclusionContentBox /deep/ .ant-collapse-header {
    padding-top: 7px !important;
    padding-bottom: 0 !important;
    top: 4px;
}

#conclusionContentBox /deep/ .ant-collapse-content .ant-collapse-content-box {
    padding-top: 19px !important;
}

.SurveyText {
    background: #f6f6f6;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 8px;
    height: 87px;
}

.textIcon {
    border: 1px solid #d9d9d9;
    width: 1px;
    height: 18px;
    margin: 0px 8px;
}

.textHeader {
    height: 21px;
    line-height: 21px;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.textDateClass {
    font-size: 12px;
    color: #959EA9;
    font-weight: 400;
}

.textHeader div {
    display: inline-block;
}

.textBody {
    color: #3F4852;
    font-size: 12px;
}

.textFileClass {
    color: #3B85ED;
    font-weight: 400;
    font-size: 12px;
}

.lookData {
    margin-left: auto;
    color: #3074B8;
}

.lookData span {
    font-weight: 400;
    font-size: 12px;
    margin-left: 4px;
}

.textBody span {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-weight: 400;
    font-size: 12px;
    color: #3F4852;
}