<div class="body_scroll">
    <div class="header">
        <div class="headerLeft">
            <span id="toggleMenu" (click)="toggleSmallMenu()">
                <i class="bi bi-list"></i>
            </span>
            <span class="leftSpan">{{ companyName }}</span>
            <span class="leftStatus">{{ statusName }}</span>
        </div>
        <app-header-right></app-header-right>
    </div>
    <div class="nav shadow-sm">
        <div class="navLeft">
            <img src="../../../../../assets/images/icon/Vector_Home.svg" alt="" />
            <span><a routerLink="/">Home</a> /</span>
            <span><a routerLink="/duediligence"> 盡職調查列表</a> /</span>
            <span class="companyName">{{ companyName }}</span>
        </div>
        <div class="navRight">
            <a *ngIf="isShowDelete" href="javascript:(0);;" (click)="isVisible = true;"><em class="bi-trash" style="color:#E54C4C;"></em></a>
            <button *ngIf="isShowBtn" (click)="routingSkip()" style="margin-right: 22px">
                <img src="../../../../../assets/images/icon/Vector_pencil.svg" alt=""/>
                <span> 編輯 </span>
            </button>

            <nz-modal [nzClosable]="false" [nzClassName]="'AmountModal'" [(nzVisible)]="isVisible" nzTitle="是否刪除所選項目？" (nzOnCancel)="handleCancel()" nzCancelText="取消" nzOkText="刪除" (nzOnOk)="handleOk()" [nzOkDanger]="true">
                <ng-container *nzModalContent>
                    <p>若選擇刪除，所有相關記錄都將清除</p>
                </ng-container>
            </nz-modal>
        </div>
    </div>
    <div class="detail">
        <div class="detailHeader">
            <a href="javascript:(0);;" style="color: #101010" (click)="goBack()"><em
                    class="bi-arrow-left-short" style="font-size: 30px;"></em></a>
        </div>
        <nz-collapse [nzBordered]="false" style="font-weight: 600; font-size: 16px; color: #23609d" [nzExpandIconPosition]="'right'">
            <nz-collapse-panel [ngStyle]="panel.customStyle" [nzHeader]="panel.name" [nzActive]="panel.active" (click)="updateActive()">
                <div class="checkbasic">
                    <div>
                        <h5>建立時間</h5>
                        <span>{{ listOfData?.build_Date | datePip}}</span>
                    </div>
                    <div>
                        <h5>調查名稱</h5>
                        <span>{{ listOfData?.name }}</span>
                    </div>
                    <div>
                        <h5>調查種類</h5>
                        <span>{{ listOfData?.category_Name}}</span>
                    </div>
                    <div>
                        <h5>證券種類</h5>
                        <span>{{ listOfData?.dD_Type_Name}}</span>
                    </div>
                    <div style="width: 100%; height: auto;min-height: 80px;">
                        <h5>MEMO</h5>
                        <span>{{ listOfData?.memo }}</span>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse [nzBordered]="false" style="font-weight: 600; font-size: 16px; color: #23609d" [nzExpandIconPosition]="'right'">
            <nz-collapse-panel [ngStyle]="panel.customStyle" [nzHeader]="'投資資料'" [nzActive]="panel.active" (click)="updateActive()">
                <div class="checkbasic">
                    <div>
                        <h5>投資款時間</h5>
                        <span>{{ listOfData?.invest_Date  | datePip}}</span>
                    </div>
                    <div>
                        <h5>投資金額</h5>
                        <span>{{ listOfData?.invest_Amount | number: '.0-6'}}</span>
                    </div>
                    <div>
                        <h5>幣別</h5>
                        <span>{{ listOfData?.currency}}</span>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse [nzBordered]="false" style="font-weight: 600; font-size: 16px; color: #23609d" [nzExpandIconPosition]="'right'">
            <nz-collapse-panel [ngStyle]="panel.customStyle" [nzHeader]="'投資部門'" [nzActive]="panel.active" (click)="updateActive()">
                <div class="checkbasic">
                    <div>
                        <h5>投資部PIC</h5>
                        <span>{{ listOfData?.user_Name}}</span>
                    </div>
                    <div>
                        <h5>工時掛帳部門</h5>
                        <span>{{ listOfData?.dept_No }}</span>
                    </div>
                    <div>
                        <h5>BOTYPE</h5>
                        <span>{{ listOfData?.bo_Name }}</span>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse [nzBordered]="false" style="font-weight: 600; font-size: 16px; color: #23609d" [nzExpandIconPosition]="'right'">
            <nz-collapse-panel id="conclusionContentBox" [ngStyle]="panel.customStyle" [nzHeader]="'調查階段'" [nzActive]="panel.active" (click)="updateActive()">
                <div class="SurveyText" *ngFor="let item of listOfData?.ddStageList">
                    <div class="textHeader">
                        <div>{{item?.status_Name}}</div>
                        <div class="textIcon"></div>
                        <div class="textDateClass">起始：{{item?.start_Date | datePip}}</div>
                        <div class="textDateClass" style="margin-left: 10px;">結束：{{item?.end_Date | datePip}}</div>
                        <div class="textIcon"></div>
                        <div class="textFileClass" *ngIf="item?.fileList?.length > 0">
                            <a [href]="url + 'DDiligence/DownloadFile?file_id=&&Type=true&&Attach_Batch='+item.attach_Batch">
                                <em class="bi bi-file-earmark-arrow-down-fill"></em> 下載附件({{item?.fileList?.length}})</a>
                        </div>
                        <div class="lookData">
                            <a href="javascript:(0);" style="color: #3074B8;" (click)="dd_stage_item = item;isShowInsert = true; InsertSurvey.editVisible(mouseType.View, null, item)">
                                <em class="bi bi-eye-fill"></em>
                                <span>查看</span>
                            </a>
                        </div>
                    </div>
                    <div class="textBody">
                        <span>{{item?.remark}}</span>
                    </div>
                </div>
                <nz-empty *ngIf="!listOfData?.ddStageList" nzNotFoundContent="目前尚未有資料"></nz-empty>
            </nz-collapse-panel>
        </nz-collapse>

        <nz-collapse *ngIf="!!listOfData?.decision_Date" [nzBordered]="false" style="font-weight: 600; font-size: 16px; color: #23609d" [nzExpandIconPosition]="'right'">
            <nz-collapse-panel id="conclusionContentBox" [ngStyle]="panel.customStyle" [nzHeader]="'結論'" [nzActive]="panel.active" (click)="updateActive()">
                <div class="ConclusionBody">
                    <div class="ConclusionHeader">
                        <div style="width: 25%">
                            <h5>Decision</h5>
                            <span>{{
                                !!listOfData.decision_Result &&
                                listOfData?.decision_Result
                                    ? "Yes"
                                    : "No"
                                    }}</span>
                        </div>
                        <div>
                            <h5>Decision時間</h5>
                            <span>{{ listOfData?.decision_Date  | datePip }}</span>
                        </div>
                    </div>
                    <div class="ConclusionDetail">
                        <h5>投審會結論</h5>
                        <div>
                            <ul>
                                <li *ngFor="let str of listOfData?.decision_Comment_Arr" class="ListStyle">
                                    {{ str }}
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="ConclusionDetail" *ngIf="listOfData?.decisionFileList?.length > 0" style="width: 25%;
                        height: 80px;">
                        <h5>附件檔案</h5>
                        <div class="textFileClass" style="margin-top: 12px;">
                            <a [href]="url + 'DDiligence/DownloadFile?file_id=&&Type=true&&Attach_Batch='+listOfData.attach_Batch">
                                <em class="bi bi-file-earmark-arrow-down-fill"></em> 下載附件({{listOfData.decisionFileList.length}})</a>
                        </div>
                    </div>
                </div>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
</div>

<app-insert-survey (back)="UpdateShow($event)" #InsertSurvey></app-insert-survey>