<div class="body_scroll">
    <div class="header">
      <div class="headerLeft">
        <span id="toggleMenu" (click)="toggleSmallMenu()">
          <i class="bi bi-list"></i>
        </span>
        <span>Dashboard</span>
      </div>
      <app-header-right></app-header-right>
    </div>
    <div class="detail">
        <section id="report-container-dashboard" style="width: 100%; height: 543px;"></section>
    </div>
</div>
